<div class="user-theme">
  <h1 mat-dialog-title>{{"DIALOGS.SHOW_CITE.TITLE" | translate}}</h1>

  <div mat-dialog-content class="dialog-container">
    {{publication.main}}
  </div>
  <div mat-dialog-actions>
    <button mat-flat-button class="ml-auto" (click)="close()">
      {{'DIALOGS.SHOW_CITE.CANCEL' | translate}}
    </button>
    <button (click)="clipboard.copy(publication.main)" mat-button>
      {{'DIALOGS.SHOW_CITE.COPY' | translate}}
      <mat-icon>content_copy</mat-icon>
    </button>
  </div>
</div>
