<h1 class="page-title mt-2">{{'ORGANIZATIONS.TITLE' | customTranslate | translate}}</h1>
<div class="user-theme">
  <perun-web-apps-immediate-filter
    [placeholder]="'ORGANIZATIONS.FILTER'"
    (filter)="applyFilter($event)"></perun-web-apps-immediate-filter>

  <div class="mt-5">
    <h1 class="page-subtitle">{{'ORGANIZATIONS.IS_MEMBER' | customTranslate | translate}}</h1>
    <div class="position-relative" *ngIf="userMemberships.length || loading">
      <perun-web-apps-membership-list
        *perunWebAppsLoader="loading; indicator: spinner"
        [members]="userMemberships"
        [filterValue]="filterValue"
        [displayedColumns]="['name', 'expirationAttribute', 'extend']"
        (extendMembership)="extendMembership($event)">
      </perun-web-apps-membership-list>
    </div>
    <perun-web-apps-alert
      alert_type="warn"
      *ngIf="userMemberships.length === 0  && !loading"
      >{{'ORGANIZATIONS.NO_VOS_ALERT' | customTranslate | translate}}</perun-web-apps-alert
    >
  </div>

  <div class="mt-5">
    <h1 class="page-subtitle">{{'ORGANIZATIONS.IS_ADMIN' | customTranslate | translate}}</h1>
    <perun-web-apps-alert
      *ngIf="!adminMemberships.length && !loading"
      alert_type="warn"
      >{{'ORGANIZATIONS.NO_VOS_ALERT' | customTranslate | translate}}</perun-web-apps-alert
    >
    <div class="position-relative" *ngIf="adminMemberships.length || loading">
      <perun-web-apps-membership-list
        *perunWebAppsLoader="loading; indicator: spinner"
        [members]="adminMemberships"
        [filterValue]="filterValue"
        [displayedColumns]="['name']">
      </perun-web-apps-membership-list>
    </div>
  </div>
  <ng-template #spinner>
    <perun-web-apps-loading-table></perun-web-apps-loading-table>
  </ng-template>
</div>
