<div class="p-3 card settings-card col-12 col-xl-5">
  <h1 class="page-subtitle">
    {{'ADMIN.VISUALIZER.USER_DESTINATION.TITLE' | translate}}
  </h1>

  <mat-vertical-stepper #stepper linear>
    <mat-step completed="false">
      <ng-template
        matStepLabel
        >{{'ADMIN.VISUALIZER.USER_DESTINATION.SELECT_USER' | translate}}</ng-template
      >
      <mat-form-field class="w-100">
        <input
          matInput
          (keydown.enter)="validateName(stepper)"
          placeholder="{{'ADMIN.VISUALIZER.USER_DESTINATION.USER_EXAMPLE' | translate}}"
          (ngModelChange)="notCompleted(stepper)"
          [formControl]="searchField"
          [matAutocomplete]="auto"
          type="text" />
        <mat-spinner *ngIf="loading" [diameter]="20" [strokeWidth]="2" matSuffix></mat-spinner>
        <mat-hint
          align="start"
          >{{'ADMIN.VISUALIZER.USER_DESTINATION.USER_HINT' | translate}}</mat-hint
        >
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option
            *ngFor="let user of users | async"
            [value]="user.firstName + ' ' + user.lastName">
            <span class="text-muted">#{{user.id}}</span> {{ user.firstName }} {{ user.lastName }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <div>
        <button (click)="validateName(stepper)" class="mt-2" mat-stroked-button>
          {{'ADMIN.VISUALIZER.USER_DESTINATION.BUTTON_NEXT' | translate}}
        </button>
      </div>
    </mat-step>

    <mat-step completed="false">
      <ng-template
        matStepLabel
        >{{'ADMIN.VISUALIZER.USER_DESTINATION.SELECT_DESTINATION' | translate}}</ng-template
      >
      <mat-form-field class="w-100">
        <input
          matInput
          (keydown.enter)="validateDestination(stepper)"
          placeholder="{{'ADMIN.VISUALIZER.USER_DESTINATION.DESTINATION_EXAMPLE' | translate}}"
          (ngModelChange)="notCompleted(stepper)"
          [(ngModel)]="destination"
          type="text" />
      </mat-form-field>
      <div>
        <button class="mt-2" mat-stroked-button matStepperPrevious>
          {{'ADMIN.VISUALIZER.USER_DESTINATION.BUTTON_BACK' | translate}}
        </button>
        <button (click)="validateDestination(stepper)" class="mt-2" mat-stroked-button>
          {{'ADMIN.VISUALIZER.USER_DESTINATION.BUTTON_NEXT' | translate}}
        </button>
      </div>
    </mat-step>

    <mat-step>
      <ng-template
        matStepLabel
        >{{'ADMIN.VISUALIZER.USER_DESTINATION.SELECT_SERVICE' | translate}}</ng-template
      >
      <mat-radio-group [(ngModel)]="chosenService" class="mb-2">
        <mat-radio-button
          [value]="service"
          class="flex-column d-flex"
          *ngFor="let service of availableServices"
          color="primary">
          {{service}}
        </mat-radio-button>
      </mat-radio-group>
      <div>
        <button class="mt-2" mat-stroked-button matStepperPrevious>
          {{'ADMIN.VISUALIZER.USER_DESTINATION.BUTTON_BACK' | translate}}
        </button>
        <button (click)="getGraph()" class="mt-2" mat-stroked-button>
          {{'ADMIN.VISUALIZER.USER_DESTINATION.SUBMIT_BUTTON' | translate}}
        </button>
      </div>
    </mat-step>
  </mat-vertical-stepper>
</div>
