<h1 class="page-subtitle">{{'SAMBA_PASSWORD.TITLE' | customTranslate | translate}}</h1>
<perun-web-apps-alert *ngIf="!sambaExists" alert_type="warn">
  {{'ALERTS.NO_SAMBA'|customTranslate | translate}}
</perun-web-apps-alert>
<perun-web-apps-alert *ngIf="sambaExists" alert_type="warn">
  {{'ALERTS.SAMBA_EXISTS'|customTranslate | translate}}
</perun-web-apps-alert>

<mat-form-field class="input-width">
  <mat-label>{{'SAMBA_PASSWORD.INPUT_PLACEHOLDER'|customTranslate | translate}}</mat-label>
  <input [formControl]="sambaControl" [type]="showPassword ? 'text': 'password'" matInput />
  <mat-icon matIconSuffix (click)="showPassword = !showPassword">
    {{showPassword ? "visibility_off": "visibility"}}
  </mat-icon>
</mat-form-field>

<div>
  <button
    (click)="setSambaPassword()"
    [disabled]="sambaControl.value.length === 0 || sambaControl.invalid"
    color="accent"
    mat-flat-button>
    {{'SAMBA_PASSWORD.SET_PASSWORD'|customTranslate | translate}}
  </button>
</div>

<perun-web-apps-alert
  *ngIf="sambaControl.invalid"
  alert_type="error"
  >{{'SAMBA_PASSWORD.PASSWORD_VALIDATION' | customTranslate | translate}}</perun-web-apps-alert
>
