<h1 class="page-title">{{'PREFERRED_SHELLS.TITLE' | customTranslate | translate}}</h1>
<perun-web-apps-alert alert_type="info">
  {{'PREFERRED_SHELLS.DESCRIPTION' | customTranslate | translate}}
</perun-web-apps-alert>

<button mat-flat-button color="accent" (click)="addShell()">
  {{'PREFERRED_SHELLS.NEW_BUTTON' | customTranslate | translate}}
</button>

<!--<mat-spinner class="ms-auto me-auto" *ngIf="loading"></mat-spinner>-->
<perun-web-apps-alert
  *ngIf="!loading && shells.length === 0"
  alert_type="warn"
  >{{'PREFERRED_SHELLS.NO_SHELLS' | customTranslate | translate}}</perun-web-apps-alert
>
<mat-list *ngIf="!loading">
  <mat-list-item *ngFor="let shell of shells; let i = index" class="mb-2">
    <div class="d-flex flex-row">
      <mat-form-field>
        <mat-select [(value)]="shells[i]">
          <mat-option
            *ngFor="let defShell of defaultShells"
            (click)="changeValue()"
            [value]="defShell"
            >{{defShell}}</mat-option
          >
        </mat-select>
      </mat-form-field>

      <button mat-flat-button color="warn" class="ms-2 my-auto" (click)="removeShell(i)">
        {{'PREFERRED_SHELLS.REMOVE_BUTTON' | customTranslate | translate}}
      </button>
    </div>
  </mat-list-item>
</mat-list>
