<ng-template #spinner>
  <perun-web-apps-loading-dialog></perun-web-apps-loading-dialog>
</ng-template>
<div class="user-theme position-relative">
  <div *perunWebAppsLoader="loading; indicator: spinner">
    <h1 mat-dialog-title>{{'DIALOGS.ACTIVATE_LOCAL_ACCOUNT.TITLE'|customTranslate | translate}}</h1>
    <div mat-dialog-content class="dialog-container">
      <perun-web-apps-password-form
        [formGroup]="pwdForm"
        [namespace]="data.namespace"
        [language]="lang">
      </perun-web-apps-password-form>
    </div>
    <div mat-dialog-actions>
      <button mat-stroked-button class="ms-auto me-2" (click)="cancel()">
        {{'DIALOGS.ACTIVATE_LOCAL_ACCOUNT.CANCEL'|customTranslate | translate}}
      </button>
      <button
        mat-flat-button
        color="accent"
        [disabled]="loading || pwdForm.invalid"
        (click)="activate()">
        {{'DIALOGS.ACTIVATE_LOCAL_ACCOUNT.ACTIVATE' | customTranslate | translate}}
      </button>
    </div>
  </div>
</div>
