<div class="container-fluid pl-xl-5 pr-xl-5 user-theme">
  <perun-web-apps-back-button> </perun-web-apps-back-button>
  <mat-spinner *ngIf="loading" class="mr-auto ml-auto"></mat-spinner>
  <div *ngIf="!loading && user !== undefined" class="d-flex page-title-headtitle">
    <mat-icon
      class="perun-icon perun-icon-detail"
      [ngStyle]="{'color':'black'}"
      [svgIcon]="svgIcon"
      matTooltip="{{'ADMIN_USER.ENTITY' | translate}}">
    </mat-icon>
    <div class="page-title-block">
      <div class="page-title-headline d-flex align-items-center">
        <a [routerLink]="['/admin/users', user.id]" class="user-link" queryParamsHandling="merge">
          {{user | userFullName}}
        </a>
        <span class="text-muted"> &nbsp;#{{user.id}} </span>
        <span *ngIf="authResolver.isPerunAdmin()">
          <button (click)="editUser()" mat-icon-button>
            <mat-icon>edit</mat-icon>
          </button>
          <button (click)="anonymizeUser()" mat-icon-button>
            <mat-icon>no_accounts</mat-icon>
          </button>
        </span>
      </div>
      <div>{{'ADMIN_USER.UUID' | translate}}: {{user.uuid}}</div>
      <span class="mt-1 entity-info">
        {{'ADMIN_USER.ENTITY' | translate}}, {{'ADMIN_USER.USER_TYPE' | translate}}:
        {{getUserType()}}
      </span>
    </div>
  </div>
  <app-animated-router-outlet></app-animated-router-outlet>
</div>
