.year-field {
  max-width: 95px !important;
  width: 100% !important;
  min-width: initial !important;
}

.year-picker {
  .mat-calendar-period-button {
    pointer-events: none;
  }
  .mat-calendar-arrow {
    display: none;
  }
}
