<div class="user-theme">
  <h1 class="page-subtitle d-flex">
    <mat-icon class="title-icon">assignment_ind</mat-icon>
    <span class="ml-3 mt-1">{{'AUTHORS_PAGE.TITLE' | translate}}</span>
  </h1>
  <perun-web-apps-refresh-button (refresh)="refreshTable()"></perun-web-apps-refresh-button>
  <perun-web-apps-debounce-filter
    (filter)="applyFilter($event)"
    [placeholder]="'AUTHORS_PAGE.FILTER'"></perun-web-apps-debounce-filter>
  <ng-template #spinner>
    <perun-web-apps-loading-table></perun-web-apps-loading-table>
  </ng-template>
  <div class="position-relative">
    <perun-web-apps-authors-list
      *perunWebAppsLoader="loading; indicator: spinner"
      [authors]="authors"
      [displayedColumns]="['id', 'name', 'organization', 'email', 'numberOfPublications']"
      [filterValue]="filterValue"
      [tableId]="tableId">
    </perun-web-apps-authors-list>
  </div>
</div>
