<div class="color card p-3 mat-elevation-z3">
  <div *ngIf="!loading">
    <h2>
      {{'CONNECT_IDENTITY_SECTION.TITLE_' + titleHelpTranslatePath | translate}}
    </h2>
    <p>
      {{'CONNECT_IDENTITY_SECTION.' + titleHelpTranslatePath + '_HELP' | translate}}
    </p>

    <div
      class="card d-flex mt-3 p-2 identity-card mat-elevation-z3"
      *ngFor="let similarIdentity of this.similarIdentities">
      <div class="d-flex flex-row">
        <mat-icon svgIcon="perun-verify-grey" class="perun-icon perun-icon-similar"> </mat-icon>
        <div class="ml-3 mt-1">
          <div>{{ similarIdentity.email }}</div>
          <div class="pl-1">
            {{ 'CONNECT_IDENTITY_SECTION.LINKED_ACCOUNTS' | translate }}:
            {{ similarIdentity.identities | similarIdentityFriendlyNamesString }}
          </div>
        </div>
      </div>
      <button
        mat-flat-button
        class="ml-auto mr-2 mb-2 mt-3"
        color="accent"
        (click)="openPopUp(similarIdentity.identities)">
        {{ 'CONNECT_IDENTITY_SECTION.CONNECT_THIS_ACCOUNT' | translate }}
      </button>
    </div>

    <button mat-flat-button class="mt-3" color="accent" (click)="openPopUp([])">
      {{ 'CONNECT_IDENTITY_SECTION.CONNECT_OTHER_ACCOUNT' | translate }}
    </button>
  </div>
  <mat-spinner *ngIf="loading" class="mr-auto ml-auto"></mat-spinner>
</div>
