.color {
  background-color: #f1f1f1;
}

.perun-icon-similar {
  transform: scale(2);
  margin-left: 1rem;
  margin-top: 1rem;
  color: black;
}

.identity-card {
  background-color: whitesmoke;
  max-width: 450px;
}
