<h1 class="page-subtitle">{{'USER_DETAIL.SETTINGS.SERVICE_IDENTITIES.TITLE' | translate}}</h1>
<perun-web-apps-refresh-button (refresh)="refreshTable()"></perun-web-apps-refresh-button>
<button
  *ngIf="addIdentity"
  (click)="onAdd()"
  color="accent"
  class="mr-2 action-button"
  mat-flat-button>
  {{'USER_DETAIL.SETTINGS.SERVICE_IDENTITIES.CREATE' | translate}}
</button>
<button
  *ngIf="removeIdentity"
  (click)="onRemove()"
  [disabled]="selection.selected.length === 0"
  color="warn"
  class="mr-2"
  mat-flat-button>
  {{'USER_DETAIL.SETTINGS.SERVICE_IDENTITIES.DELETE' | translate}}
</button>

<mat-spinner *ngIf="loading" class="mr-auto ml-auto"></mat-spinner>

<app-users-list
  *ngIf="!loading"
  [noUsersFoundLabel]="'USER_DETAIL.SETTINGS.SERVICE_IDENTITIES.NO_IDENTITIES' | translate"
  [displayedColumns]="displayedColumns"
  [selection]="selection"
  [tableId]="tableId"
  [routeToAdmin]="routeToAdminSection"
  [users]="identities">
</app-users-list>
