<div class="user-theme">
  <h1 class="page-subtitle">{{'PUBLICATION_SYSTEMS_PAGE.TITLE' | translate}}</h1>
  <perun-web-apps-refresh-button (refresh)="refreshTable()"></perun-web-apps-refresh-button>

  <perun-web-apps-debounce-filter
    (filter)="applyFilter($event)"
    [placeholder]="'PUBLICATION_SYSTEMS_PAGE.FILTER'"></perun-web-apps-debounce-filter>
  <ng-template #spinner>
    <perun-web-apps-loading-table></perun-web-apps-loading-table>
  </ng-template>
  <div class="position-relative">
    <perun-web-apps-publication-systems-list
      *perunWebAppsLoader="loading; indicator: spinner"
      [publicationSystems]="publicationSystems"
      [filterValue]="filterValue"
      [tableId]="tableId"></perun-web-apps-publication-systems-list>
  </div>
</div>
