<div [ngStyle]="{ background: bgColor, color: textColor }" id="login-nav" class="mat-elevation-z3">
  <div class="mt-auto mb-auto">
    <div [innerHTML]="logo" class="logo-container"></div>
  </div>
  <p [ngStyle]="{ color: textColor }" class="ml-3 mt-auto mb-auto page-subtitle">
    {{ 'HEADER.TITLE' | translate }}
  </p>

  <div *ngIf="isDevel" id="nav-devel-info">
    <span class="text-warning"> ~ 🗲&nbsp; </span>
    <span class="text-danger"> DEVEL </span>
    <span class="text-warning"> &nbsp;🗲 ~ </span>
  </div>
</div>
