<perun-web-apps-password-form
  *ngIf="!success && !loading && !error"
  [formGroup]="newPasswdForm"
  [namespace]="namespace"
  [language]="language">
</perun-web-apps-password-form>

<div *ngIf="!success && !error && !loading">
  <button
    class="mx-auto d-block"
    mat-flat-button
    (click)="onSubmit()"
    [disabled]="newPasswdForm.invalid || newPasswdForm.pending"
    color="accent">
    {{(mode === 'reset'? 'PAGES.PWD_RESET_PAGE.RESET_BUTTON' : 'PAGES.PWD_RESET_PAGE.ACTIVATION_BUTTON') | translate}}
  </button>
</div>

<div *ngIf="success && !loading" class="mt-5">
  <perun-web-apps-alert alert_type="success">
    {{successMsg}}
  </perun-web-apps-alert>
</div>

<div *ngIf="error && !loading" class="mt-5">
  <perun-web-apps-alert alert_type="error">
    {{errorMsg}}
  </perun-web-apps-alert>
</div>

<mat-spinner *ngIf="loading" class="ms-auto me-auto"></mat-spinner>
