<div class="side-menu-width">
  <app-side-menu-item [item]="homeItem" [root]="true"></app-side-menu-item>

  <app-side-menu-item
    [item]="accessItem"
    [root]="true"
    data-cy="access-item-button"></app-side-menu-item>
  <div *ngFor="let item of accessItems; let i = index" @rollInOut class="overflow-hidden">
    <app-side-menu-item [item]="item" [showLinks]="i === accessItems.length - 1">
    </app-side-menu-item>
  </div>

  <app-side-menu-item
    *ngIf="authResolver.canManageFacilities()"
    [item]="facilityItem"
    [root]="true"
    data-cy="facilities-button">
  </app-side-menu-item>
  <div *ngFor="let item of facilityItems; let i = index" @rollInOut class="overflow-hidden">
    <app-side-menu-item [item]="item" [showLinks]="i === facilityItems.length - 1">
    </app-side-menu-item>
  </div>

  <app-side-menu-item [item]="userItem" [showLinks]="userItemOpened" [root]="true">
  </app-side-menu-item>
  <div *ngFor="let item of userItems; let i = index" @rollInOut class="overflow-hidden">
    <app-side-menu-item [item]="item" [showLinks]="i === userItems.length - 1">
    </app-side-menu-item>
  </div>

  <app-side-menu-item
    *ngIf="authResolver.isPerunAdminOrObserver()"
    [item]="adminItem"
    [showLinks]="adminItemOpened"
    [root]="true"
    data-cy="admin-button">
  </app-side-menu-item>
  <div *ngFor="let item of adminItems; let i = index" @rollInOut class="overflow-hidden">
    <app-side-menu-item [item]="item" [showLinks]="true"> </app-side-menu-item>
  </div>
</div>
