<div>
  <h1 class="page-subtitle">{{title | translate}}</h1>
  <perun-web-apps-alert *ngIf="title.includes('CONFIG')" alert_type="info">
    {{'FACILITY_DETAIL.SERVICES_DESTINATIONS.DESTINATIONS_INFO' | translate}}
  </perun-web-apps-alert>
  <perun-web-apps-refresh-button (refresh)="refreshTable()"></perun-web-apps-refresh-button>
  <button
    *ngIf="addAuth"
    (click)="addDestination()"
    color="accent"
    class="mr-2 action-button"
    mat-flat-button>
    {{'FACILITY_DETAIL.SERVICES_DESTINATIONS.ADD' | translate}}
  </button>
  <button
    *ngIf="removeAuth"
    (click)="removeDestination()"
    class="mr-2"
    color="warn"
    [disabled]="selected.selected.length === 0"
    mat-flat-button>
    {{'FACILITY_DETAIL.SERVICES_DESTINATIONS.REMOVE' | translate}}
  </button>
  <button
    *ngIf="allowAuth"
    (click)="onAllow()"
    class="mr-2"
    [disabled]="selected.selected.length === 0 || allSelectedAllowed()"
    mat-stroked-button>
    <mat-icon> check_circle_outline </mat-icon>
    {{'FACILITY_DETAIL.SERVICES_DESTINATIONS.ALLOW' | translate}}
  </button>
  <button
    *ngIf="blockAuth"
    (click)="onBlock()"
    class="mr-2"
    [disabled]="selected.selected.length === 0 || allSelectedBlocked()"
    mat-stroked-button>
    <mat-icon> block </mat-icon>
    {{'FACILITY_DETAIL.SERVICES_DESTINATIONS.BLOCK' | translate}}
  </button>
  <perun-web-apps-immediate-filter
    (filter)="applyFilter($event)"
    [placeholder]="'FACILITY_DETAIL.SERVICES_DESTINATIONS.FILTER'"></perun-web-apps-immediate-filter>
  <mat-spinner *ngIf="loading" class="ml-auto mr-auto"></mat-spinner>
  <app-perun-web-apps-destination-list
    [filterValue]="filterValue"
    *ngIf="!loading"
    [selection]="selected"
    [destinations]="destinations"
    [services]="configServicesIds"
    [displayedColumns]="displayedColumns"
    [tableId]="tableId">
  </app-perun-web-apps-destination-list>
</div>
