.side-menu-item {
  a {
    padding: 0.5rem 0.5rem 0.5rem 1rem;
    cursor: pointer;
    text-decoration: none;

    &:hover {
      background: var(--side-root-item-hover) !important;
      color: var(--side-root-item-text-hover) !important;
    }
  }
}

.side-menu-item-label {
  display: flex;
  flex-direction: row;
  align-items: center;
  word-break: break-word;
  text-decoration: none;
}

.side-menu-link {
  a {
    padding: 0.25rem 0.25rem 0.25rem 2rem;
    text-decoration: none;
    color: #ffffff;
    font-size: 1rem;
    display: block;

    &:hover {
      background: var(--side-link-hover) !important;
      color: var(--side-link-text-hover) !important;
    }
  }
}

.header-activated {
  background: var(--side-root-item-active) !important;
  color: var(--side-root-item-text-active) !important;
}
