<div class="w-100">
  <div
    [ngStyle]="{'background': item.backgroundColorCss, 'border-top': !root ? dividerStyle: ''}"
    [matRippleColor]="rippleColor"
    [class.header-activated]="(currentUrl | activeSideMenuItem: item.baseColorClassRegex) && root"
    class="side-menu-item"
    matRipple>
    <div class="{{item.labelClass}}" matRipple>
      <a
        class="side-menu-item-label clickable"
        [ngStyle]="{'color': item.textColorCss}"
        (auxclick)="$event.preventDefault()"
        [routerLink]="item.baseLink"
        [perunWebAppsMiddleClickRouterLink]="item.baseLink">
        <mat-icon
          [ngStyle]="{'color': 'currentColor'}"
          [svgIcon]="item.icon"
          class="perun-icon me-3">
        </mat-icon>
        {{item.label | translate}}
      </a>
    </div>
  </div>

  <div [@openClose]="showLinks ? 'open' : 'closed'">
    <div
      [ngStyle]="{'background': linkBgColor}"
      class="side-menu-link {{item.linksClass}}"
      @rollInOut>
      <div *ngFor="let link of item.links">
        <a
          (click)="navigateOrExpandSideMenu(link, $event)"
          (auxclick)="$event.preventDefault()"
          [perunWebAppsMiddleClickRouterLink]="link.children ? null : link.url"
          [ngClass]="(currentUrl | activeSideMenuItem: link.activatedRegex) && item.activatedClass"
          [ngStyle]="{'color': linkTextColor}"
          class="clickable d-flex"
          matRipple>
          {{link.label | translate}}
          <span *ngIf="link.children" class="ms-auto">
            <mat-icon [ngStyle]="{'color': 'linkTextColor'}" class="perun-icon icon-beak">
              {{(expandSections.get(link.showChildren)) ? 'keyboard_arrow_down' : 'keyboard_arrow_right'}}
            </mat-icon>
          </span>
        </a>
        <div *ngIf="expandSections.get(link.showChildren)" @rollInOut class="overflow-hidden">
          <a
            *ngFor="let child of link?.children"
            (auxclick)="$event.preventDefault()"
            [routerLink]="child.url"
            [perunWebAppsMiddleClickRouterLink]="child.url"
            [matRippleColor]="rippleColor"
            [ngClass]="(currentUrl | activeSideMenuItem:  child.activatedRegex) && item.activatedClass"
            [ngStyle]="{'color': linkTextColor, 'border-color': linkTextColor}"
            class="ps-5 clickable"
            matRipple>
            {{child.label | translate}}
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
