<div class="card p-3">
  <div class="flex-column card-title">
    <mat-icon [svgIcon]="svgIcon" class="cover-image"></mat-icon>
    {{this.title | translate}}
    <span matTooltip="{{this.roleTooltipInfo | translate }}" matTooltipPosition="above">
      <mat-icon class="dashboard-icon">info_outline</mat-icon>
    </span>
  </div>
  <ng-template #spinner>
    <perun-web-apps-loading-table></perun-web-apps-loading-table>
  </ng-template>
  <span *ngIf="primaryObject === 'Vo'" class="position-relative">
    <perun-web-apps-vos-list
      *perunWebAppsLoader="loading; indicator: spinner"
      [pageSizeOptions]="null"
      [displayedColumns]="['id', 'recent', 'shortName', 'name']"
      [recentIds]="this.recentIds"
      [vos]="this.objects">
    </perun-web-apps-vos-list>
  </span>
  <span *ngIf="primaryObject === 'Group'" class="position-relative">
    <perun-web-apps-groups-list
      *perunWebAppsLoader="loading; indicator: spinner"
      [pageSizeOptions]="null"
      [displayedColumns]="['id', 'recent', 'vo', 'name', 'description']"
      [groups]="this.objects"
      [recentIds]="recentIds">
    </perun-web-apps-groups-list>
  </span>
  <span *ngIf="primaryObject === 'Resource'" class="position-relative">
    <perun-web-apps-resources-list
      *perunWebAppsLoader="loading; indicator: spinner"
      [pageSizeOptions]="null"
      [displayedColumns]="['id', 'recent', 'name', 'vo', 'facility']"
      [resources]="this.objects"
      [recentIds]="recentIds"
      [routingVo]="true">
    </perun-web-apps-resources-list>
  </span>
  <span *ngIf="primaryObject === 'Facility'" class="position-relative">
    <perun-web-apps-facilities-list
      *perunWebAppsLoader="loading; indicator: spinner"
      [displayedColumns]="['id', 'recent', 'name', 'description']"
      [facilities]="this.objects"
      [pageSizeOptions]="null"
      [recentIds]="recentIds">
    </perun-web-apps-facilities-list>
  </span>
</div>
