<div>
  <h1 class="page-subtitle">{{'FACILITY_DETAIL.SERVICES_STATUS.TITLE' | translate}}</h1>
  <perun-web-apps-refresh-button (refresh)="refreshTable()"></perun-web-apps-refresh-button>
  <button
    *ngIf="propagationAuth"
    (click)="forcePropagation()"
    [disabled]="selected.selected.length === 0"
    class="mr-2"
    color="accent"
    mat-flat-button>
    {{'FACILITY_DETAIL.SERVICES_STATUS.FORCE_PROPAGATION' | translate}}
  </button>
  <button
    *ngIf="allowAuth"
    (click)="allow()"
    [disabled]="selected.selected.length === 0 || this.disableAllowButton"
    class="mr-2"
    color="accent"
    mat-flat-button>
    {{'FACILITY_DETAIL.SERVICES_STATUS.ALLOW' | translate}}
  </button>
  <button
    *ngIf="blockAuth"
    (click)="block()"
    class="mr-2"
    color="warn"
    [disabled]="selected.selected.length === 0 || this.disableBlockButton"
    mat-flat-button>
    {{'FACILITY_DETAIL.SERVICES_STATUS.BLOCK' | translate}}
  </button>
  <button
    *ngIf="deleteAuth"
    mat-flat-button
    [disabled]="disableRemoveButton"
    [matMenuTriggerFor]="menu"
    [matTooltipDisabled]="!disableRemoveButton"
    class="mr-2 dropdown-toggle"
    color="warn"
    matTooltip="{{'DIALOGS.REMOVE_SERVICE_FROM_FACILITY.CHECKBOXES_DISABLED' | translate}}">
    {{'FACILITY_DETAIL.SERVICES_STATUS.REMOVE' | translate}}
  </button>
  <mat-menu #menu="matMenu">
    <button (click)="removeTaskResults()" *ngIf="!taskIsNull" mat-menu-item>
      {{'FACILITY_DETAIL.SERVICES_STATUS.REMOVE_TASK_RESULTS' | translate}}
    </button>
    <button (click)="removeServiceFromFacility()" mat-menu-item>
      {{'FACILITY_DETAIL.SERVICES_STATUS.REMOVE_SERVICE_FROM_FACILITY' | translate}}
    </button>
  </mat-menu>
  <perun-web-apps-immediate-filter
    (filter)="applyFilter($event)"
    [placeholder]="'SHARED_LIB.PERUN.COMPONENTS.SERVICES_STATUS_LIST.TABLE_SEARCH'"></perun-web-apps-immediate-filter>
  <mat-spinner *ngIf="loading" class="ml-auto mr-auto"></mat-spinner>
  <perun-web-apps-services-status-list
    [disableRouting]="!routeAuth"
    (selectionChange)="selectionChanged()"
    *ngIf="!loading"
    [filterValue]="filterValue"
    [servicesStatus]="servicesStates"
    [selection]="selected"
    [tableId]="tableId">
  </perun-web-apps-services-status-list>
</div>
