<div class="mb-5" *ngIf='displayImageBlock'>
  <h1 class="page-subtitle">{{'AUTHENTICATION.TITLE' | customTranslate | translate}}</h1>
  <p>{{'AUTHENTICATION.ANTI_PHISHING_INFO' | customTranslate | translate}}</p>
  <div *ngIf="imageSrc && imageSrc.length">
    <img [src]="imageSrc" alt="" class="img-size">
  </div>
  <button (click)="onAddImg()" class="m-1 action-button" color="accent"
          mat-flat-button>{{'AUTHENTICATION.NEW_IMG' | customTranslate | translate}}</button>
  <button (click)="onDeleteImg()" class="m-1" color="warn" [disabled]="!imgAtt || !imgAtt.value"
          mat-flat-button>{{'AUTHENTICATION.DELETE_IMG' | customTranslate | translate}}</button>
</div>

<h1 class="page-subtitle">{{'AUTHENTICATION.MFA' | customTranslate | translate}}</h1>
<span>{{'AUTHENTICATION.MFA_INFO'|translate}}<a [href]="mfaUrl">{{mfaUrl}}</a></span>
