<div [hidden]="loadingImg">
  <div class="mb-5" *ngIf="displayImageBlock">
    <h1 class="page-subtitle">{{'AUTHENTICATION.TITLE' | customTranslate | translate}}</h1>
    <p>{{'AUTHENTICATION.ANTI_PHISHING_INFO' | customTranslate | translate}}</p>
    <div *ngIf="imageSrc && imageSrc.length">
      <img [src]="imageSrc" alt="" />
    </div>
    <button (click)="onAddImg()" class="mr-2 mt-1 action-button" color="accent" mat-flat-button>
      {{'AUTHENTICATION.NEW_IMG' | customTranslate | translate}}
    </button>
    <button
      (click)="onDeleteImg()"
      color="warn"
      [disabled]="!imgAtt || !imgAtt.value"
      mat-flat-button>
      {{'AUTHENTICATION.DELETE_IMG' | customTranslate | translate}}
    </button>
  </div>

  <h1 class="page-subtitle">{{'AUTHENTICATION.MFA' | customTranslate | translate}}</h1>

  <button mat-flat-button (click)="redirectToMfa()" color="accent" class="mb-2">
    {{'AUTHENTICATION.MFA_INFO'|translate}}
  </button>
  <br />
  <perun-web-apps-mfa-settings></perun-web-apps-mfa-settings>
</div>
<mat-spinner class="ml-auto mr-auto" *ngIf="loadingImg"></mat-spinner>
