<ng-template #spinner>
  <perun-web-apps-loading-dialog></perun-web-apps-loading-dialog>
</ng-template>
<div class="member-theme position-relative">
  <div *perunWebAppsLoader="loading; indicator: spinner">
    <h1 mat-dialog-title>{{'DIALOGS.PASSWORD_RESET_REQUEST.TITLE'|translate}}</h1>
    <div class="dialog-container" mat-dialog-content>
      <mat-form-field>
        <mat-label>{{'DIALOGS.PASSWORD_RESET_REQUEST.NAMESPACE'|translate}}</mat-label>
        <mat-select [(value)]="selectedLogin">
          <mat-option *ngFor="let login of logins" [value]="login">
            {{login.friendlyNameParameter}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>{{'DIALOGS.PASSWORD_RESET_REQUEST.LANGUAGE'|translate}}</mat-label>
        <mat-select [(value)]="selectedLang">
          <mat-option *ngFor="let lang of languages" [value]="lang">
            {{'SHARED_LIB.LANGUAGES.' + lang | uppercase | translate}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>{{'DIALOGS.PASSWORD_RESET_REQUEST.EMAIL'|translate}}</mat-label>
        <mat-select [(value)]="selectedMail">
          <mat-option *ngFor="let mail of mails" [value]="mail">
            {{mail}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <div class="row">
        <p class="column-size ms-3">{{'DIALOGS.PASSWORD_RESET_REQUEST.LOGIN'|translate}}</p>
        <p>{{selectedLogin.value}}</p>
      </div>
    </div>
    <div mat-dialog-actions>
      <button (click)="onCancel()" class="ms-auto" mat-stroked-button>
        {{'DIALOGS.PASSWORD_RESET_REQUEST.CANCEL'|translate}}
      </button>
      <button
        data-cy="reset-passwd-confirm-button"
        (click)="onSubmit()"
        [disabled]="loading"
        class="ms-2"
        color="accent"
        mat-flat-button>
        {{'DIALOGS.PASSWORD_RESET_REQUEST.SEND'|translate}}
      </button>
    </div>
  </div>
</div>
