<div [hidden]="loading">
  <mat-nav-list>
    <a
      mat-list-item
      *ngFor="let item of items"
      matRipple
      [routerLink]="item.url"
      [perunWebAppsMiddleClickRouterLink]="[item.url]"
      (auxclick)="$event.preventDefault()"
      queryParamsHandling="merge">
      <div class="d-flex flex-row">
        <mat-icon>{{item.icon}}</mat-icon>
        <p class="ms-2 mt-auto mb-auto">{{item.label | customTranslate | translate}}</p>
      </div>
    </a>
  </mat-nav-list>
</div>
<mat-spinner class="ms-auto me-auto" *ngIf="loading"></mat-spinner>
