<div class="{{theme}}">
  <h1 mat-dialog-title>{{'DIALOGS.ADD_GROUP_RESOURCES.TITLE'| translate}}</h1>
  <mat-spinner *ngIf="loading" class="ml-auto mr-auto"></mat-spinner>
  <div *ngIf="!loading" mat-dialog-content>
    <mat-stepper #stepper [linear]="true">
      <mat-step
        [completed]="selection.selected.length !== 0 && (list !== undefined && list.addAuth)">
        <ng-template
          matStepLabel
          >{{'DIALOGS.ADD_GROUP_RESOURCES.RESOURCES' | translate}}</ng-template
        >
        <perun-web-apps-debounce-filter
          (filter)="applyFilter($event)"
          placeholder="{{'DIALOGS.ADD_GROUP_RESOURCES.FILTER' | translate}}">
        </perun-web-apps-debounce-filter>
        <perun-web-apps-resources-list
          #list
          [filterValue]="filterValue"
          [groupToResource]="this.data.group"
          [disableRouting]="true"
          [resources]="resources"
          [selection]="selection"
          [displayedColumns]="['select', 'id', 'name', 'facility', 'tags', 'description']"
          [tableId]="tableId"></perun-web-apps-resources-list>
      </mat-step>
      <mat-step>
        <ng-template
          matStepLabel
          >{{'DIALOGS.ADD_GROUP_RESOURCES.OPTIONS' | translate}}</ng-template
        >

        <mat-slide-toggle
          (toggleChange)="changeSubgroupsMessage()"
          class="mt-3 slide-text"
          [(ngModel)]="autoAssignSubgroups"
          labelPosition="before">
          {{'DIALOGS.ADD_GROUP_RESOURCES.AUTO_SUBGROUPS' | translate}}
        </mat-slide-toggle>
        <div class="text-muted new-line mt-2">
          <i [innerHTML]="autoAssignHint"></i>
        </div>

        <mat-slide-toggle
          (toggleChange)="changeInactiveMessage()"
          class="mt-3 slide-text"
          [(ngModel)]="asActive"
          labelPosition="before">
          {{'DIALOGS.ADD_GROUP_RESOURCES.AS_ACTIVE' | translate}}
        </mat-slide-toggle>
        <div class="text-muted new-line mt-2">
          {{asActiveHint}}
        </div>

        <mat-slide-toggle
          (toggleChange)="changeAsyncMessage()"
          class="mt-3 slide-text"
          [(ngModel)]="async"
          labelPosition="before">
          {{'DIALOGS.ADD_GROUP_RESOURCES.ASYNC_OPT' | translate}}
        </mat-slide-toggle>
        <div class="text-muted new-line mt-2">
          {{asyncHint}}
        </div>
      </mat-step>
    </mat-stepper>
  </div>
  <div *ngIf="!loading && stepper !== undefined" mat-dialog-actions>
    <button (click)="onCancel()" mat-flat-button>
      {{'DIALOGS.ADD_GROUP_RESOURCES.CANCEL' | translate}}
    </button>
    <button
      (click)="stepperPrevious()"
      *ngIf="stepper !== undefined && stepper.selectedIndex !== 0"
      class="ml-auto"
      mat-flat-button>
      {{'DIALOGS.ADD_GROUP_RESOURCES.BACK' | translate}}
    </button>
    <button
      (click)="stepperNext()"
      *ngIf="stepper !== undefined && stepper.selectedIndex !== stepper._steps.length - 1"
      [class.ml-2]="stepper !== undefined && stepper.selectedIndex !== 0"
      [class.ml-auto]="!(stepper !== undefined && stepper.selectedIndex !== 0)"
      [disabled]="selection.selected.length === 0 || (list !== undefined && !list.addAuth)"
      class="ml-auto"
      color="accent"
      mat-flat-button
      type="button">
      {{'DIALOGS.ADD_GROUP_RESOURCES.NEXT' | translate}}
    </button>
    <span
      [matTooltipDisabled]="list === undefined || list.addAuth"
      matTooltip="{{'DIALOGS.ADD_GROUP_RESOURCES.ADD_PERMISSION_TOOLTIP' | translate}}">
      <button
        (click)="onSubmit()"
        class="ml-2"
        color="accent"
        *ngIf="stepper !== undefined && stepper.selectedIndex === stepper._steps.length -1"
        [disabled]="selection.selected.length === 0 || loading"
        mat-flat-button>
        {{'DIALOGS.ADD_GROUP_RESOURCES.ADD' | translate}}
      </button>
    </span>
  </div>
</div>
