<div class="{{theme}}">
  <h1 mat-dialog-title>{{'DIALOGS.ADD_MANAGERS.TITLE' | translate}}</h1>

  <div mat-dialog-content>
    <div class="inline-dialog-items">
      <mat-form-field class="me-2">
        <mat-label>{{'SHARED.COMPONENTS.MANAGERS_PAGE.SELECT_ROLE' | translate}}</mat-label>
        <mat-select [(value)]="selectedRole">
          <mat-option *ngFor="let role of availableRoles" [value]="role.roleName">
            {{role | displayedRole}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="me-2 w-100">
        <mat-label>{{'DIALOGS.ADD_MANAGERS.DESCRIPTION' | translate}}</mat-label>
        <input
          matInput
          autocomplete="false"
          data-cy="search-manager-input"
          perunWebAppsAutoFocus
          (keyup.enter)="onSearchByString()"
          [formControl]="searchCtrl" />
        <mat-error>
          {{'DIALOGS.ADD_MANAGERS.EMPTY_SEARCH_MESSAGE' | translate}}
        </mat-error>
      </mat-form-field>
    </div>
    <button
      (click)="onSearchByString()"
      class="ms-auto"
      color="accent"
      data-cy="search-manager-button"
      [disabled]="loading"
      mat-flat-button>
      {{'DIALOGS.ADD_MANAGERS.SEARCH' | translate}}
    </button>

    <ng-template #spinner>
      <perun-web-apps-loading-table></perun-web-apps-loading-table>
    </ng-template>
    <div class="position-relative mt-3" *ngIf="firstSearchDone">
      <app-users-list
        *perunWebAppsLoader="loading; indicator: spinner"
        [disableRouting]="true"
        [selection]="selection"
        [displayedColumns]="['select', 'id', 'name', 'email', 'logins', 'organization']"
        [tableId]="tableId"
        [users]="users">
      </app-users-list>
    </div>
  </div>

  <div mat-dialog-actions>
    <button (click)="onCancel()" class="ms-auto" mat-flat-button>
      {{'DIALOGS.ADD_MANAGERS.CANCEL' | translate}}
    </button>
    <button
      (click)="onSubmit()"
      class="ms-2"
      color="accent"
      data-cy="add-manager-button-dialog"
      [disabled]="selection.selected.length === 0 || selectedRole === undefined || loading"
      mat-flat-button>
      {{'DIALOGS.ADD_MANAGERS.CREATE' | translate}}
    </button>
  </div>
</div>
