#content-inner {
  position: relative;
}

#content-wrap {
  @media (min-width: 600px) {
    padding-left: 25px;
    padding-right: 25px;
  }
  padding-bottom: 25px;
  padding-top: 10px;
  margin: 10px;
}

a {
  text-decoration: none;
  color: black;
}

.side-menu-size {
  width: 300px;
  height: auto;
}
