<h1 mat-dialog-title>{{'DIALOGS.ADD_OWNERS.TITLE' | translate}}</h1>
<div class="{{theme}}">
  <mat-spinner *ngIf="loading" class="me-auto ms-auto"></mat-spinner>

  <div *ngIf="!loading">
    <div mat-dialog-content>
      <perun-web-apps-immediate-filter
        (filter)="applyFilter($event)"
        [placeholder]="'DIALOGS.ADD_OWNERS.FILTER'"
        class="font-size-1rem">
      </perun-web-apps-immediate-filter>

      <perun-web-apps-owners-list
        [filterValue]="filterValue"
        [selection]="selection"
        [owners]="owners"
        [tableId]="tableId">
      </perun-web-apps-owners-list>
    </div>

    <div mat-dialog-actions>
      <button (click)="onCancel()" class="ms-auto" mat-flat-button>
        {{'DIALOGS.ADD_OWNERS.CANCEL' | translate}}
      </button>

      <button
        (click)="onAdd()"
        [disabled]="selection.selected.length === 0 || loading"
        class="ms-2"
        color="accent"
        mat-flat-button>
        {{'DIALOGS.ADD_OWNERS.ADD' | translate}}
      </button>
    </div>
  </div>
</div>
