<ng-template #spinner>
  <perun-web-apps-loading-dialog></perun-web-apps-loading-dialog>
</ng-template>
<div class="{{theme}} position-relative">
  <div *perunWebAppsLoader="loading; indicator: spinner">
    <h1 mat-dialog-title>{{'DIALOGS.ADD_OWNERS.TITLE' | translate}}</h1>

    <div>
      <perun-web-apps-debounce-filter
        (filter)="applyFilter($event)"
        [placeholder]="'DIALOGS.ADD_OWNERS.FILTER'"
        class="font-size-1rem"></perun-web-apps-debounce-filter>

      <div mat-dialog-content>
        <perun-web-apps-owners-list
          [filterValue]="filterValue"
          [selection]="selection"
          [owners]="owners"
          [tableId]="tableId">
        </perun-web-apps-owners-list>
      </div>

      <div mat-dialog-actions>
        <button (click)="onCancel()" class="ms-auto" mat-flat-button>
          {{'DIALOGS.ADD_OWNERS.CANCEL' | translate}}
        </button>

        <button
          (click)="onAdd()"
          [disabled]="selection.selected.length === 0 || loading"
          class="ms-2"
          color="accent"
          mat-flat-button>
          {{'DIALOGS.ADD_OWNERS.ADD' | translate}}
        </button>
      </div>
    </div>
  </div>
</div>
