<perun-web-apps-refresh-button
  (refresh)="refreshTable()"
  class="mt-2"></perun-web-apps-refresh-button>
<button
  (click)="onCreate()"
  class="mr-2 mt-2 action-button"
  color="accent"
  data-cy="add-attributes"
  mat-flat-button>
  {{'USER_DETAIL.SETTINGS.ATTRIBUTES.CREATE' | translate}}
</button>

<button
  (click)="onSave()"
  class="mr-2 mt-2"
  color="accent"
  [disabled]="selection.selected.length === 0"
  mat-flat-button>
  {{'USER_DETAIL.SETTINGS.ATTRIBUTES.SAVE' | translate}}
</button>

<button
  (click)="onDelete()"
  [disabled]="selection.selected.length === 0"
  class="mt-2 mr-2"
  color="warn"
  data-cy="remove-attributes"
  mat-flat-button>
  {{'USER_DETAIL.SETTINGS.ATTRIBUTES.DELETE' | translate}}
</button>
<perun-web-apps-immediate-filter
  (filter)="applyFilter($event)"
  [placeholder]="'SHARED_LIB.PERUN.COMPONENTS.ATTRIBUTES_LIST.FILTER'"></perun-web-apps-immediate-filter>

<mat-spinner *ngIf="loading" class="ml-auto mr-auto"></mat-spinner>

<perun-web-apps-attributes-list
  [attributes]="attributes"
  #list
  *ngIf="!loading"
  [filterValue]="filterValue"
  [selection]="selection"
  [tableId]="tableId">
</perun-web-apps-attributes-list>
