@use '@angular/material' as mat;
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming

// IMPORTANT
// Changes to the styles should be made in the _styles.scss file.
// Changes to the styles.scss would result in the styles being overwritten
// during the build process and the changes would be lost.

// Include the common styles for Angular Material.
@include mat.all-component-typographies();
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$perun-primary: mat.define-palette(mat.$gray-palette, 900);
$perun-accent: mat.define-palette(mat.$green-palette, 600);

// The warn palette is optional (defaults to red).
$perun-warn: mat.define-palette(mat.$red-palette);

// Create the theme object (a Sass map containing all of the palettes).
$perun-theme: mat.define-light-theme(
  (
    color: (
      primary: $perun-primary,
      accent: $perun-accent,
      warn: $perun-warn,
    ),
    typography: mat.define-typography-config(),
    density: 0,
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($perun-theme);

/*************************************
************* User theme *************
*************************************/
.user-theme {
  $user-dynamic-colors: (
    50: rgba(var(--user-theme-primary-50), 1),
    100: rgba(var(--user-theme-primary-100), 1),
    200: rgba(var(--user-theme-primary-200), 1),
    300: rgba(var(--user-theme-primary-300), 1),
    400: rgba(var(--user-theme-primary-400), 1),
    500: rgba(var(--user-theme-primary-500), 1),
    600: rgba(var(--user-theme-primary-600), 1),
    700: rgba(var(--user-theme-primary-700), 1),
    800: rgba(var(--user-theme-primary-800), 1),
    900: rgba(var(--user-theme-primary-900), 1),
    A100: rgba(var(--user-theme-primary-A100), 1),
    A200: rgba(var(--user-theme-primary-A200), 1),
    A400: rgba(var(--user-theme-primary-A400), 1),
    A700: rgba(var(--user-theme-primary-A700), 1),
    contrast: (
      50: rgba(var(--user-theme-primary-contrast-50), 1),
      100: rgba(var(--user-theme-primary-contrast-100), 1),
      200: rgba(var(--user-theme-primary-contrast-200), 1),
      300: rgba(var(--user-theme-primary-contrast-300), 1),
      400: rgba(var(--user-theme-primary-contrast-400), 1),
      500: rgba(var(--user-theme-primary-contrast-500), 1),
      600: rgba(var(--user-theme-primary-contrast-600), 1),
      700: rgba(var(--user-theme-primary-contrast-700), 1),
      800: rgba(var(--user-theme-primary-contrast-800), 1),
      900: rgba(var(--user-theme-primary-contrast-900), 1),
      A100: rgba(var(--user-theme-primary-contrast-A100), 1),
      A200: rgba(var(--user-theme-primary-contrast-A200), 1),
      A400: rgba(var(--user-theme-primary-contrast-A400), 1),
      A700: rgba(var(--user-theme-primary-contrast-A700), 1),
    ),
  );

  $user-primary: mat.define-palette($user-dynamic-colors, 500);
  $user-accent: mat.define-palette(mat.$green-palette, 600);

  $user-theme: mat.define-light-theme(
    (
      color: (
        primary: $user-primary,
        accent: $user-accent,
      ),
    )
  );

  @include mat.all-component-colors($user-theme);
}

/*************************************
************** General ***************
*************************************/
.app-min-width {
  min-width: 400px;
}

.align-elements {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

/*************************************
************** Buttons ***************
*************************************/
button {
  border-radius: var(--bs-border-radius) !important;
}

.mdc-button {
  border-radius: var(--bs-border-radius) !important;
  white-space: nowrap !important;
  letter-spacing: normal;
}

.action-button::after {
  content: '\2026';
}
/*************************************
*************** Dialogs **************
*************************************/
.noBorderDialog .mat-mdc-dialog-container {
  background-color: black;
}

/*************************************
*************** Titles ***************
*************************************/
.page-title {
  margin-top: 1rem;
  margin-bottom: 2rem;
  font-size: 1.5rem;
}

.page-subtitle {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
}
/*************************************
*************** Icons ****************
*************************************/
mat-icon {
  overflow: inherit !important;
}

.mat-mdc-outlined-button > .mat-icon,
.mat-mdc-unelevated-button > .mat-icon {
  margin-left: 0 !important;
  margin-right: 0 !important;
  height: 1.5rem !important;
  width: 1.5rem !important;
  font-size: 1.5rem !important;
}

/*************************************
*************** Tables ***************
*************************************/
th,
td.mat-mdc-cell {
  padding: 0.25rem !important;
}

.mdc-data-table__cell {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12) !important;
}

// sticky table headers
.mat-mdc-header-cell {
  position: sticky !important;
  top: 0;
  z-index: 100;
  font-weight: bold !important;
}

/*************************************
************* Tooltip ****************
*************************************/
.mat-mdc-tooltip {
  font-size: 14px !important;
  word-wrap: break-word !important;
}

/*************************************
**************** Tab *****************
*************************************/
.mat-mdc-tab-header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12) !important;
}

.mat-mdc-tab.mdc-tab--active {
  background-color: #e8e4e4;
}

/*************************************
************* Form field *************
*************************************/
.mdc-text-field {
  background-color: transparent !important;
  margin-top: 5px !important;
}
label:not(.mdc-floating-label--float-above) {
  padding-top: 16px !important;
  width: 100%;
}
.mat-form-field-appearance-outline {
  label:not(.mdc-floating-label--float-above) {
    padding-top: 0 !important;
  }
}
.mdc-floating-label--float-above {
  width: 133.33% !important;
}
mat-form-field mat-icon {
  padding: 0 !important;
}

// Custom MDC outlined form field in table - for attributes
table .mdc-notched-outline__leading,
table .mdc-notched-outline__trailing {
  border: 0 !important;
}
table .mdc-text-field--outlined {
  padding-left: 0 !important;
}

// Custom MDC form filed in mat-list
mat-list-item .mat-mdc-text-field-wrapper {
  height: 40px !important;
}
mat-list-item .mat-mdc-form-field-subscript-wrapper {
  height: 0 !important;
}

/*************************************
************** Checkbox **************
*************************************/
.mat-mdc-checkbox label {
  padding-top: 0 !important;
}

/*************************************
************** Radio *****************
*************************************/
.mat-mdc-radio-button label {
  padding-top: 0 !important;
}

/*************************************
************** Toggle *****************
*************************************/
.mat-mdc-slide-toggle label {
  padding-top: 0 !important;
}

/*************************************
************** Loading ***************
*************************************/
.spinner-container {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--bs-card-border-radius) !important;
}

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#loader {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #414141;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}
#loader:before {
  content: '';
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #afafaf;
  -webkit-animation: spin 3s linear infinite;
  animation: spin 3s linear infinite;
}
#loader:after {
  content: '';
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #e5e5e5;
  -webkit-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite;
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
