<div class="mt-3">
  <div class="d-flex flex-row align-items-baseline justify-content-between">
    <label
      [class.unselected-setting]="!toggle.checked"
      (click)="toggle.toggle() || valueChanged()"
      class="setting-item clickable">
      {{title}}
    </label>
    <mat-slide-toggle #toggle [(ngModel)]="modelValue" class="ml-4" color="primary">
    </mat-slide-toggle>
  </div>
  <div [@openClose]="toggle.checked ? 'open' : 'closed'" class="ml-1">
    <ng-content></ng-content>
  </div>
</div>
