<div [hidden]="consentHubs.length === 0 || dataSource.filteredData.length === 0" class="card mt-2">
  <perun-web-apps-table-wrapper
    (exportData)="exportData($event)"
    [tableId]="tableId"
    [dataLength]="dataSource.filteredData.length"
    [pageSizeOptions]="pageSizeOptions">
    <table
      [dataSource]="dataSource"
      class="w-100"
      mat-table
      matSort
      matSortActive="id"
      matSortDirection="asc"
      matSortDisableClear>
      <ng-container matColumnDef="select">
        <th *matHeaderCellDef mat-header-cell class="align-checkbox">
          <mat-checkbox
            (change)="$event ? masterToggle() : null"
            [aria-label]="checkboxLabel()"
            [checked]="selection.hasValue() && isAllSelected()"
            [indeterminate]="selection.hasValue() && !isAllSelected()"
            color="primary">
          </mat-checkbox>
        </th>
        <td *matCellDef="let consentHub" class="static-column-size align-checkbox" mat-cell>
          <mat-checkbox
            (change)="$event ? selection.toggle(consentHub) : null"
            (click)="$event.stopPropagation()"
            [aria-label]="checkboxLabel(consentHub)"
            [checked]="selection.isSelected(consentHub)"
            color="primary">
          </mat-checkbox>
        </td>
      </ng-container>

      <ng-container matColumnDef="id">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>
          {{'SHARED.COMPONENTS.CONSENT_HUBS_LIST.ID' | translate}}
        </th>
        <td *matCellDef="let consentHub" class="static-column-size" mat-cell>{{consentHub.id}}</td>
      </ng-container>
      <ng-container matColumnDef="name">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>
          {{'SHARED.COMPONENTS.CONSENT_HUBS_LIST.NAME' | translate}}
        </th>
        <td
          *matCellDef="let consentHub"
          mat-cell
          attr.data-cy="{{consentHub.name | multiWordDataCy}}-name-td">
          {{consentHub.name}}
        </td>
      </ng-container>
      <ng-container matColumnDef="enforceConsents">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>
          {{'SHARED.COMPONENTS.CONSENT_HUBS_LIST.ENFORCE_CONSENTS' | translate}}
        </th>
        <td *matCellDef="let consentHub" mat-cell>
          <mat-slide-toggle
            (change)="changeEnforceFlag(consentHub, $event)"
            [checked]="consentHub.enforceConsents">
          </mat-slide-toggle>
        </td>
      </ng-container>
      <ng-container matColumnDef="facilities">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>
          {{'SHARED.COMPONENTS.CONSENT_HUBS_LIST.FACILITIES' | translate}}
        </th>
        <td *matCellDef="let consentHub" mat-cell>
          <span *ngFor="let facility of consentHub.facilities">
            {{facility.name}}
            <span class="text-muted"> #{{facility.id}}</span>
            <br />
          </span>
        </td>
      </ng-container>

      <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
      <tr
        *matRowDef="let consentHub; columns: displayedColumns;"
        class="dark-hover-list-item"
        mat-row></tr>
    </table>
  </perun-web-apps-table-wrapper>
</div>

<perun-web-apps-alert *ngIf="consentHubs.length === 0" alert_type="warn">
  {{'SHARED.COMPONENTS.CONSENT_HUBS_LIST.NO_CONSENT_HUBS' | translate}}
</perun-web-apps-alert>

<perun-web-apps-alert
  *ngIf="dataSource.filteredData.length === 0 && consentHubs.length !== 0"
  alert_type="warn">
  {{'SHARED.COMPONENTS.CONSENT_HUBS_LIST.NO_FILTER_RESULTS' | translate}}
</perun-web-apps-alert>
