#content-inner {
  position: relative;
}

#content-wrap {
  padding-bottom: 25px;
  padding-top: 10px;
}

.beta-warning {
  overflow: hidden;
  height: 48px;
  position: fixed;
  z-index: 999;
  top: 0;
  background-color: rgb(255, 191, 197);
  width: 100%;
  color: #d32f2f;
  text-align: center;
  font-weight: 500;
  padding: 6px;
  line-height: 36px;
  font-size: 1rem;
}

ng-scrollbar {
  --scrollbar-thumb-color: #6a6a6a;
  --scrollbar-thumb-hover-color: lightgrey;
}
