<div *ngIf="displayWarning" class="beta-warning">
  <mat-icon>alert</mat-icon>
  {{ warningMessage }}
</div>
<perun-web-apps-notificator [displayWarning]="displayWarning"></perun-web-apps-notificator>
<ng-template [ngIf]="!isLoginScreenShow && !isServiceAccess && !isServiceLogin()">
  <app-perun-nav-menu
    [principal]="principal"
    [ngStyle]="{'top': getNavMenuTop(), 'background': navBackgroundColor}"
    class="mat-elevation-z3"
    [sideNav]="sidenav"
    id="nav-menu">
  </app-perun-nav-menu>
  <mat-sidenav-container
    [ngStyle]="{'margin-top': getSideNavMarginTop(),'min-height': getSideNavMinHeight()}">
    <mat-sidenav
      #sidenav
      [fixedInViewport]="true"
      [mode]="sidebarMode"
      [fixedTopGap]="getTopGap()"
      [ngStyle]="{'border-color': sideBarBorderColor, 'background': sideMenubackgroundColor}"
      [opened]="!isMobile()">
      <ng-scrollbar>
        <app-side-menu [sideNav]="sidenav"></app-side-menu>
      </ng-scrollbar>
    </mat-sidenav>

    <mat-sidenav-content
      [ngStyle]="{'background-color': contentBackgroundColor}"
      id="content-inner">
      <div [ngStyle]="{'min-height' : contentInnerMinHeight}" id="content-wrap">
        <router-outlet></router-outlet>
      </div>
      <div #footer>
        <perun-web-apps-footer></perun-web-apps-footer>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</ng-template>

<ng-template [ngIf]="isLoginScreenShow || isServiceAccess || isServiceLogin()">
  <perun-web-apps-login-screen-base [application]="'admin-gui'"></perun-web-apps-login-screen-base>
</ng-template>
