<div *ngIf="displayWarning" class="beta-warning">
  <mat-icon>alert</mat-icon>
  {{ warningMessage }}
</div>
<perun-web-apps-notificator [displayWarning]="displayWarning"></perun-web-apps-notificator>
<ng-template [ngIf]="!isLoginScreenShow && !isServiceAccess && isLoggedIn() && !isMfaWindowOpen">
  <perun-web-apps-header
    (sidenavToggle)="sidenav.toggle()"
    [ngStyle]="{'top': getNavMenuTop(), 'background': navBackgroundColor}"
    [otherApp]="otherApp"
    [showNotifications]="true"
    class="nav-menu mat-elevation-z3"></perun-web-apps-header>
  <mat-sidenav-container
    autosize="true"
    [ngStyle]="{'margin-top': getSideNavMarginTop(),'min-height': getSideNavMinHeight()}">
    <mat-sidenav
      #sidenav
      [fixedInViewport]="true"
      [mode]="sidebarMode"
      [fixedTopGap]="getTopGap()"
      [ngStyle]="{'border-color': sideBarBorderColor, 'background': sideMenubackgroundColor}"
      [opened]="!isMobile()"
      class="side-nav">
      <ng-scrollbar>
        <app-side-menu [sideNav]="sidenav"></app-side-menu>
      </ng-scrollbar>
    </mat-sidenav>

    <mat-sidenav-content
      [ngStyle]="{'background-color': contentBackgroundColor}"
      class="side-nav-content">
      <div [ngStyle]="{'min-height' : contentInnerMinHeight}" id="content-wrap">
        <router-outlet></router-outlet>
      </div>
      <div #footer>
        <perun-web-apps-footer></perun-web-apps-footer>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</ng-template>

<ng-template [ngIf]="isMfaWindowOpen">
  <div class="loader-wrapper">
    <div id="loader"></div>
  </div>
</ng-template>

<ng-template [ngIf]="(isLoginScreenShow || isServiceAccess || !isLoggedIn()) && !isMfaWindowOpen">
  <perun-web-apps-login-screen-base [application]="'admin-gui'"></perun-web-apps-login-screen-base>
</ng-template>
