<div class="vo-theme">
  <h1 class="page-subtitle">{{'VO_DETAIL.MEMBERS.TITLE' | translate}}</h1>
  <div class="align-elements">
    <perun-web-apps-refresh-button (click)="refreshTable()"></perun-web-apps-refresh-button>
    <div
      [matTooltipDisabled]="!blockManualMemberAdding"
      matTooltip="{{'VO_DETAIL.MEMBERS.ADD_MEMBER_DISABLED' | translate}}">
      <button
        *ngIf="addAuth"
        [disabled]="blockManualMemberAdding"
        (click)="onAddMember()"
        color="accent"
        class="mr-2 action-button"
        data-cy="add-members"
        mat-flat-button>
        {{'VO_DETAIL.MEMBERS.ADD_MEMBER' | translate}}
      </button>
    </div>
    <button
      *ngIf="inviteAuth"
      (click)="onInviteMember()"
      color="accent"
      class="mr-2 action-button"
      mat-flat-button>
      {{'VO_DETAIL.MEMBERS.INVITE' | translate}}
    </button>
    <button
      *ngIf="removeAuth"
      (click)="onRemoveMembers()"
      color="warn"
      [disabled]="selection.isEmpty()"
      data-cy="remove-members"
      class="mr-2"
      mat-flat-button>
      {{'VO_DETAIL.MEMBERS.REMOVE_MEMBERS' | translate}}
    </button>

    <mat-form-field class="mr-2 fix-select">
      <mat-label>{{'VO_DETAIL.MEMBERS.FILTER_STATUS' | translate}}</mat-label>
      <mat-select (closed)="changeStatuses()" [formControl]="statuses" multiple>
        <mat-select-trigger>
          {{displaySelectedStatuses() | memberStatus}}
        </mat-select-trigger>
        <mat-option
          class="vo-theme"
          *ngFor="let status of statusList"
          [value]="status"
          >{{status | memberStatus}}</mat-option
        >
      </mat-select>
    </mat-form-field>

    <perun-web-apps-debounce-filter
      (filter)="onSearchByString($event)"
      [placeholder]="'VO_DETAIL.MEMBERS.SEARCH_DESCRIPTION'"
      class="mt-2 search-field">
    </perun-web-apps-debounce-filter>
  </div>
  <mat-spinner *ngIf="loading" class="ml-auto mr-auto"> </mat-spinner>
  <perun-web-apps-members-dynamic-list
    *ngIf="!loading"
    [attrNames]="attrNames"
    [selection]="selection"
    [tableId]="tableId"
    [displayedColumns]="displayedColumns"
    [updateTable]="updateTable"
    [searchString]="searchString"
    [selectedStatuses]="selectedStatuses"
    [voId]="vo.id"></perun-web-apps-members-dynamic-list>
</div>
