<h1 mat-dialog-title>{{'DIALOGS.EDIT_MEMBER_SPONSORS.TITLE' | translate}}</h1>
<div class="{{theme}}">
  <mat-spinner *ngIf="loading" class="mr-auto ml-auto"></mat-spinner>
  <div *ngIf="!loading" mat-dialog-content>
    <table [dataSource]="dataSource" class="w-100" mat-table>
      <ng-container matColumnDef="id">
        <th *matHeaderCellDef mat-header-cell>
          {{'DIALOGS.EDIT_MEMBER_SPONSORS.TABLE_ID' | translate}}
        </th>
        <td *matCellDef="let sponsor" mat-cell>{{sponsor.user.id}}</td>
      </ng-container>
      <ng-container matColumnDef="name">
        <th *matHeaderCellDef mat-header-cell>
          {{'DIALOGS.EDIT_MEMBER_SPONSORS.TABLE_NAME' | translate}}
        </th>
        <td *matCellDef="let sponsor" mat-cell>{{sponsor.user | userFullName}}</td>
      </ng-container>
      <ng-container matColumnDef="expiration">
        <th *matHeaderCellDef mat-header-cell>
          {{'DIALOGS.EDIT_MEMBER_SPONSORS.TABLE_EXPIRATION' | translate}}
        </th>
        <td *matCellDef="let sponsor" mat-cell>
          <span>{{parseDate(sponsor.validityTo)}}</span>
          <button
            *ngIf="isExpirationAuthorized(sponsor)"
            (click)="changeExpiration(sponsor)"
            mat-icon-button>
            <mat-icon> today </mat-icon>
          </button>
        </td>
      </ng-container>
      <ng-container matColumnDef="remove">
        <th *matHeaderCellDef mat-header-cell></th>
        <td *matCellDef="let sponsor" mat-cell>
          <div
            [matTooltipDisabled]="isRemoveAuthorized(sponsor)"
            [matTooltipPosition]="'above'"
            matTooltip="{{'DIALOGS.EDIT_MEMBER_SPONSORS.REMOVE_SPONSOR_DISABLED' | translate}}">
            <button
              (click)="markSponsor(sponsor)"
              class="btn-delete"
              [disabled]="!isRemoveAuthorized(sponsor)"
              mat-icon-button>
              <mat-icon
                *ngIf="!sponsorsToRemove.has(sponsor.user.id)"
                class="icn-delete"
                color="warn"
                >clear</mat-icon
              >
              <mat-icon *ngIf="sponsorsToRemove.has(sponsor.user.id)"
                >settings_backup_restore</mat-icon
              >
            </button>
          </div>
        </td>
      </ng-container>
      <tr *matHeaderRowDef="displayedColumns" class="font-weight-bolder" mat-header-row></tr>
      <tr
        [class.make-red]="sponsorsToRemove.has(sponsor.user.id)"
        *matRowDef="let sponsor; columns: displayedColumns;"
        mat-row></tr>
    </table>
  </div>
  <div mat-dialog-actions>
    <button (click)="onCancel()" class="ml-auto" mat-flat-button>
      {{'DIALOGS.EDIT_MEMBER_SPONSORS.CANCEL' | translate}}
    </button>
    <button
      (click)="onSubmit()"
      class="ml-2"
      color="warn"
      [disabled]="loading || sponsorsToRemove.size === 0"
      mat-flat-button>
      {{'DIALOGS.EDIT_MEMBER_SPONSORS.SUBMIT' | translate}}
    </button>
  </div>
</div>
