.adjust-width {
  width: 270px;
}

.no-bounce-scrollbar {
  overflow: hidden;
}

.error-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  padding: 1em 0 1em 0;
}

.error-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 50%;
}

.divider {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}
