<ng-template #spinner>
  <perun-web-apps-loading-dialog></perun-web-apps-loading-dialog>
</ng-template>
<div class="{{theme}} position-relative">
  <div *perunWebAppsLoader="finalLoading; indicator: spinner">
    <div (keyup)="onKeyInput($event)" class="{{theme}}">
      <h1 mat-dialog-title>{{'DIALOGS.CONNECT_IDENTITY.TITLE_'+target | translate}}</h1>
      <div class="dialog-container" mat-dialog-content>
        <mat-form-field class="me-2 search-field no-border-mat-input">
          <mat-label>{{'DIALOGS.CONNECT_IDENTITY.SEARCH' | translate}}</mat-label>
          <input matInput autocomplete="false" [formControl]="searchCtrl" />
          <mat-error>
            {{'DIALOGS.CONNECT_IDENTITY.EMPTY_SEARCH_MESSAGE' | translate}}
          </mat-error>
        </mat-form-field>
        <button
          (click)="onSearchByString()"
          [disabled]="loading"
          class="me-2 search-btn"
          color="primary"
          mat-flat-button>
          <mat-icon>search</mat-icon>
        </button>
        <ng-template #searchSpinner>
          <perun-web-apps-loading-table></perun-web-apps-loading-table>
        </ng-template>
        <div class="position-relative" *ngIf="firstSearchDone">
          <app-users-list
            *perunWebAppsLoader="loading; indicator: searchSpinner"
            [displayedColumns]="displayedColumns"
            [selection]="selection"
            [tableId]="tableId"
            [disableRouting]="true"
            [users]="identities"
            [noUsersFoundLabel]="'DIALOGS.CONNECT_IDENTITY.NO_IDENTITIES' | translate">
          </app-users-list>
        </div>
        <perun-web-apps-alert *ngIf="!firstSearchDone" alert_type="info">
          {{'DIALOGS.CONNECT_IDENTITY.SEARCH_HINT' | translate}}
        </perun-web-apps-alert>
      </div>
      <div mat-dialog-actions>
        <button (click)="onCancel()" class="ms-auto" mat-flat-button>
          {{'DIALOGS.CONNECT_IDENTITY.CANCEL' | translate}}
        </button>
        <button
          class="ms-2"
          (click)="onAdd()"
          [disabled]="selection.selected.length === 0"
          color="accent"
          mat-flat-button>
          {{'DIALOGS.CONNECT_IDENTITY.CONNECT' | translate}}
        </button>
      </div>
    </div>
  </div>
</div>
