<h1 class="page-subtitle">{{'RESOURCE_DETAIL.TAGS.TITLE' | translate}}</h1>
<perun-web-apps-refresh-button (refresh)="updateData()"></perun-web-apps-refresh-button>
<button
  *ngIf="createAuth"
  mat-flat-button
  class="mr-2 action-button"
  color="accent"
  (click)="create()">
  {{'VO_DETAIL.RESOURCES.TAGS.CREATE_BUTTON' | translate}}
</button>

<button
  *ngIf="addAuth"
  mat-flat-button
  class="mr-2 action-button"
  color="accent"
  (click)="addTag()">
  {{'RESOURCE_DETAIL.TAGS.ADD_BUTTON' | translate}}
</button>

<button
  *ngIf="removeAuth"
  mat-flat-button
  color="warn"
  class="mr-2"
  [disabled]="selection.selected.length === 0"
  (click)="removeTags()">
  {{'RESOURCE_DETAIL.TAGS.REMOVE_BUTTON' | translate}}
</button>
<perun-web-apps-immediate-filter
  (filter)="applyFilter($event)"
  [placeholder]="'RESOURCE_DETAIL.TAGS.SEARCH'">
</perun-web-apps-immediate-filter>

<mat-spinner *ngIf="loading" class="ml-auto mr-auto"></mat-spinner>

<app-resources-tags-list *ngIf="!loading"
                         [selection]="selection"
                         [tableId]="tableId"
                         [resourceTags]="resourceTags"
                         [filterValue]="filterValue"
                         [displayedColumns]="displayedColumns"
                         [entity]="'resource'">
</app-resources-tags-list>
