<h1 class="page-subtitle">{{'RESOURCE_DETAIL.TAGS.TITLE' | translate}}</h1>
<perun-web-apps-refresh-button (refresh)="updateData()"></perun-web-apps-refresh-button>
<button
  *ngIf="createAuth"
  (click)="create()"
  class="mr-2 action-button"
  color="accent"
  mat-flat-button>
  {{'VO_DETAIL.RESOURCES.TAGS.CREATE_BUTTON' | translate}}
</button>

<button
  *ngIf="addAuth"
  (click)="addTag()"
  class="mr-2 action-button"
  color="accent"
  mat-flat-button>
  {{'RESOURCE_DETAIL.TAGS.ADD_BUTTON' | translate}}
</button>

<button
  *ngIf="removeAuth"
  (click)="removeTags()"
  class="mr-2"
  color="warn"
  [disabled]="selection.selected.length === 0"
  mat-flat-button>
  {{'RESOURCE_DETAIL.TAGS.REMOVE_BUTTON' | translate}}
</button>
<perun-web-apps-immediate-filter
  (filter)="applyFilter($event)"
  [placeholder]="'RESOURCE_DETAIL.TAGS.SEARCH'">
</perun-web-apps-immediate-filter>

<mat-spinner *ngIf="loading" class="ml-auto mr-auto"></mat-spinner>

<app-resources-tags-list
  *ngIf="!loading"
  [displayedColumns]="displayedColumns"
  [entity]="'resource'"
  [resourceTags]="resourceTags"
  [filterValue]="filterValue"
  [selection]="selection"
  [tableId]="tableId">
</app-resources-tags-list>
