<h1 class="page-subtitle">
  {{'ADMIN.VISUALIZER.USER_DESTINATION.TITLE' | translate}}
</h1>
<div *ngIf="loading; else elseBlock">
  <mat-spinner class="ml-auto mr-auto"></mat-spinner>
</div>

<ng-template #elseBlock>
  <div *ngIf="isConnected; else elseBlock">
    {{'ADMIN.VISUALIZER.USER_DESTINATION.FOUND_1' | translate}}
    <strong>{{user.firstName}} {{user.lastName}}</strong>
    {{'ADMIN.VISUALIZER.USER_DESTINATION.FOUND_2' | translate}}
    <strong>{{destination}}</strong>
    <span *ngIf="service !== 'noService'">
      {{'ADMIN.VISUALIZER.USER_DESTINATION.FOUND_3' | translate}} <strong>{{service}}</strong>
    </span>

    <div class="card w-100 h-100">
      <ngx-graph
        [links]="hierarchialGraph.links"
        [nodes]="hierarchialGraph.nodes"
        [view]="[innerWidth, innerHeight]"
        [curve]="curve"
        [draggingEnabled]="false"
        [zoomToFit$]="zoomToFit$"
        class="chart-container">
        <ng-template #defsTemplate>
          <svg:marker
            id="arrow"
            markerHeight="4"
            refX="8"
            refY="0"
            markerWidth="4"
            orient="auto"
            viewBox="0 -5 10 10">
            <svg:path class="arrow-head" d="M0,-5L10,0L0,5" />
          </svg:marker>
        </ng-template>

        <ng-template #nodeTemplate let-node>
          <svg:g
            [tooltipTitle]="node.tooltip"
            class="node"
            [tooltipPlacement]="'top'"
            [tooltipType]="'tooltip'"
            ngx-tooltip>
            <svg:rect
              [attr.fill]="node.color"
              [attr.height]="node.dimension.height"
              [attr.width]="node.dimension.width" />
            <svg:text
              [attr.y]="node.dimension.height / 2"
              [attr.x]="10"
              alignment-baseline="central">
              {{node.label}}
            </svg:text>
          </svg:g>
        </ng-template>

        <ng-template #linkTemplate let-link>
          <svg:g class="edge">
            <svg:path class="line" marker-end="url(#arrow)" stroke-width="2"></svg:path>
            <svg:text class="edge-label" text-anchor="end">
              <textPath [attr.href]="'#' + link.id" startOffset="60%" style="fill: #000;">
                {{link.label}}
              </textPath>
            </svg:text>
          </svg:g>
        </ng-template>
      </ngx-graph>
    </div>
  </div>

  <ng-template #elseBlock>
    {{'ADMIN.VISUALIZER.USER_DESTINATION.NOT_FOUND_1' | translate}}
    <strong>{{user.firstName}} {{user.lastName}}</strong>
    {{'ADMIN.VISUALIZER.USER_DESTINATION.NOT_FOUND_2' | translate}}
    <strong>{{destination}}</strong>
    <span *ngIf="this.service !== 'noService'">
      {{'ADMIN.VISUALIZER.USER_DESTINATION.NOT_FOUND_3' | translate}}
      <strong>{{service}}</strong>
    </span>
    {{'ADMIN.VISUALIZER.USER_DESTINATION.NOT_FOUND_4' | translate}}
  </ng-template>
</ng-template>
