<div>
  <h1 class="page-subtitle">{{'FACILITY_DETAIL.SETTINGS.BLACKLIST.TITLE' | translate}}</h1>
  <perun-web-apps-refresh-button (refresh)="refreshTable()"></perun-web-apps-refresh-button>
  <perun-web-apps-immediate-filter
    (filter)="applyFilter($event)"
    [placeholder]="'FACILITY_DETAIL.SETTINGS.BLACKLIST.FILTER' | translate"></perun-web-apps-immediate-filter>
  <mat-spinner *ngIf="loading" class="ml-auto mr-auto"></mat-spinner>
  <app-perun-web-apps-blacklist-list
    [bansOnFacilitiesWithUsers]="bansOnFacilitiesWithUsers"
    *ngIf="!loading"
    [filterValue]="filterValue"
    [selection]="selected"
    [tableId]="tableId">
  </app-perun-web-apps-blacklist-list>
</div>
