<div>
  <h1 class="page-subtitle">{{'FACILITY_DETAIL.SETTINGS.BLACKLIST.TITLE' | translate}}</h1>
  <perun-web-apps-refresh-button (refresh)="refreshTable()"></perun-web-apps-refresh-button>
  <perun-web-apps-debounce-filter
    (filter)="applyFilter($event)"
    [placeholder]="'FACILITY_DETAIL.SETTINGS.BLACKLIST.FILTER' | translate"></perun-web-apps-debounce-filter>
  <ng-template #spinner>
    <perun-web-apps-loading-table></perun-web-apps-loading-table>
  </ng-template>
  <div class="position-relative">
    <app-perun-web-apps-blacklist-list
      [bansOnFacilitiesWithUsers]="bansOnFacilitiesWithUsers"
      *perunWebAppsLoader="loading; indicator: spinner"
      [filterValue]="filterValue"
      [selection]="selected"
      [tableId]="tableId">
    </app-perun-web-apps-blacklist-list>
  </div>
</div>
