<div>
  <h1 class="page-subtitle">{{'ADMIN.CONSENT_HUBS.TITLE' | translate}}</h1>
  <perun-web-apps-alert *ngIf="!globalForceConsents" alert_type="warn">
    {{'ADMIN.CONSENT_HUBS.GLOBAL_DISABLED' | translate}}
  </perun-web-apps-alert>
  <perun-web-apps-refresh-button (refresh)="refreshTable()"></perun-web-apps-refresh-button>
  <span
    [matTooltipDisabled]="globalForceConsents"
    matTooltip="{{'ADMIN.CONSENT_HUBS.TOOLTIP' | translate}}">
    <button
      *ngIf="authResolver.isPerunAdmin()"
      (click)="evaluateConsents()"
      [disabled]="!globalForceConsents || selection.selected.length === 0"
      color="accent"
      class="action-button mr-2"
      mat-flat-button>
      {{'ADMIN.CONSENT_HUBS.EVALUATE_CONSENTS' | translate}}
    </button>
  </span>
  <perun-web-apps-immediate-filter
    [placeholder]="'ADMIN.CONSENT_HUBS.SEARCH'"
    (filter)="applyFilter($event)">
  </perun-web-apps-immediate-filter>

  <mat-spinner class="ml-auto mr-auto" *ngIf="loading"></mat-spinner>
  <app-perun-web-apps-consent-hubs-list
    *ngIf="!loading"
    [consentHubs]="consentHubs"
    [selection]="selection"
    [filterValue]="filterValue"
    [tableId]="tableId">
  </app-perun-web-apps-consent-hubs-list>
</div>
