<h1 mat-dialog-title>{{'DIALOGS.DISCONNECT_IDENTITY.TITLE_'+targetTitle | translate}}</h1>
<div class="{{theme}}">
  <div mat-dialog-content>
    <p>{{'DIALOGS.DISCONNECT_IDENTITY.DESCRIPTION_'+targetDescription | translate}}</p>
    <div class="font-weight-bold">
      {{'DIALOGS.DISCONNECT_IDENTITY.ASK' | translate}}
    </div>
    <table [dataSource]="dataSource" class="w-100" mat-table>
      <ng-container matColumnDef="name">
        <th *matHeaderCellDef mat-header-cell></th>
        <td *matCellDef="let identity" mat-cell>{{identity | userFullName}}</td>
      </ng-container>
      <tr *matHeaderRowDef="displayedColumns" class="font-weight-bolder" mat-header-row></tr>
      <tr *matRowDef="let identity; columns: displayedColumns;" mat-row></tr>
    </table>
    <perun-web-apps-alert *ngIf="disconnectingSelf" alert_type="warn">
      {{'DIALOGS.DISCONNECT_IDENTITY.WARNING_DISCONNECT_YOURSELF' | translate}}
    </perun-web-apps-alert>
    <perun-web-apps-alert *ngIf="disconnectingLastOwner" alert_type="warn">
      {{'DIALOGS.DISCONNECT_IDENTITY.WARNING_LAST_USER' | translate}}
    </perun-web-apps-alert>
  </div>
  <div mat-dialog-actions>
    <button (click)="onCancel()" class="ml-auto" mat-flat-button>
      {{'DIALOGS.DISCONNECT_IDENTITY.CANCEL' | translate}}
    </button>
    <button (click)="onConfirm()" class="ml-2" color="warn" mat-flat-button>
      {{'DIALOGS.DISCONNECT_IDENTITY.REMOVE' | translate}}
    </button>
  </div>
</div>
