<div class="{{theme}}">
  <h1 mat-dialog-title>{{'DIALOGS.UPDATE_BAN.TITLE' | translate}}</h1>
  <div mat-dialog-content>
    <mat-spinner *ngIf="loading" class="ms-auto me-auto"></mat-spinner>
    <perun-web-apps-ban-specification
      *ngIf="!loading"
      [description]="ban.description"
      [validity]="ban.validityTo">
    </perun-web-apps-ban-specification>
  </div>
  <div mat-dialog-actions>
    <button mat-flat-button class="ms-auto me-2" (click)="cancel.emit()">
      {{'DIALOGS.UPDATE_BAN.CANCEL' | translate}}
    </button>
    <button mat-flat-button color="accent" (click)="updateBan()">
      {{'DIALOGS.UPDATE_BAN.UPDATE' | translate}}
    </button>
  </div>
</div>
