<div>
  <h1 class="page-subtitle">{{'VO_DETAIL.RESOURCES.LIST.TITLE' | translate}}</h1>
  <perun-web-apps-refresh-button (refresh)="refreshTable()"></perun-web-apps-refresh-button>
  <button
    *ngIf="removeAuth"
    class="mr-2"
    color="warn"
    (click)="deleteSelectedResources()"
    [disabled]="selected.selected.length === 0"
    mat-flat-button>
    {{'VO_DETAIL.RESOURCES.LIST.DELETE' | translate}}
  </button>
  <perun-web-apps-immediate-filter
    (filter)="applyFilter($event)"
    [placeholder]="'SHARED_LIB.PERUN.COMPONENTS.RESOURCES_LIST.TABLE_SEARCH'"></perun-web-apps-immediate-filter>

  <mat-spinner *ngIf="loading" class="ml-auto mr-auto"></mat-spinner>
  <perun-web-apps-resources-list
    *ngIf="!loading"
    [disableRouting]="!routeAuth"
    [filterValue]="filterValue"
    [resources]="resources"
    [routingVo]="true"
    [displayedColumns]="displayedColumns"
    [selection]="selected"
    [tableId]="tableId">
  </perun-web-apps-resources-list>
</div>
