<h1 class="page-title">{{'USER_DETAIL.SETTINGS.CERTIFICATES.TITLE' | translate}}</h1>
<perun-web-apps-refresh-button (refresh)="refresh()" class="mt-2"></perun-web-apps-refresh-button>
<button
  (click)="save()"
  class="mr-2 mt-2"
  color="accent"
  [disabled]="selection.selected.length === 0"
  mat-flat-button>
  {{'USER_DETAIL.SETTINGS.CERTIFICATES.SAVE' | translate}}
</button>
<ng-template #spinner>
  <perun-web-apps-loading-table></perun-web-apps-loading-table>
</ng-template>
<div class="position-relative">
  <perun-web-apps-attributes-list
    *perunWebAppsLoader="loading; indicator: spinner"
    #list
    [attributes]="[certificates]"
    [selection]="selection">
  </perun-web-apps-attributes-list>
</div>
