<h1 class="page-subtitle">{{'MEMBER_DETAIL.APPLICATIONS.TITLE' | translate}}</h1>
<div>
  <perun-web-apps-refresh-button
    (refresh)="this.refresh=!this.refresh"></perun-web-apps-refresh-button>
  <button
    (click)="this.showAllDetails = true"
    *ngIf="!showAllDetails"
    class="mr-2"
    mat-stroked-button>
    {{'MEMBER_DETAIL.APPLICATIONS.SHOW_ALL_DETAILS' | translate}}
  </button>
  <button
    (click)="this.showAllDetails = false"
    *ngIf="showAllDetails"
    class="mr-2"
    mat-stroked-button>
    {{'MEMBER_DETAIL.APPLICATIONS.SHOW_LESS_DETAILS' | translate}}
  </button>
  <perun-web-apps-debounce-filter
    [placeholder]="'MEMBER_DETAIL.APPLICATIONS.FILTER'"
    (filter)="applyFilter($event)">
  </perun-web-apps-debounce-filter>
</div>
<mat-spinner *ngIf="loading" class="ml-auto mr-auto"></mat-spinner>
<div *ngIf="!loading">
  <app-applications-dynamic-list
    [tableId]="showAllDetails ? detailTableId : tableId"
    [searchString]="filterValue"
    [member]="member"
    [displayedColumns]="showAllDetails ? detailedDisplayedColumns : displayedColumns"
    [states]=""
    [dateFrom]="dateFrom"
    [refreshTable]="refresh">
  </app-applications-dynamic-list>
</div>
