<div
  [hidden]="this.dataSource.allObjectCount === 0 && (dataSource.loading$ | async) === false"
  class="card mt-2">
  <perun-web-apps-table-wrapper
    (exportData)="exportData($event)"
    [dataLength]="dataSource.allObjectCount"
    [pageSizeOptions]="pageSizeOptions"
    [tableId]="tableId">
    <div *ngIf="dataSource.loading$ | async" class="spinner-container">
      <mat-spinner class="ml-auto mr-auto"></mat-spinner>
    </div>
    <table
      [dataSource]="dataSource"
      class="w-100"
      mat-table
      matSort
      matSortActive="id"
      matSortDirection="desc"
      matSortDisableClear>
      <ng-container matColumnDef="id">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>
          {{'AUDIT_MESSAGES_LIST.ID' | translate}}
        </th>
        <td *matCellDef="let auditMessage" class="static-column-size" mat-cell>
          {{auditMessage.id}}
        </td>
      </ng-container>

      <ng-container matColumnDef="timestamp">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>
          {{'AUDIT_MESSAGES_LIST.TIMESTAMP' | translate}}
        </th>
        <td *matCellDef="let auditMessage" class="static-column-size" mat-cell>
          {{auditMessage.createdAt | parseDate:true}}
        </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th *matHeaderCellDef mat-header-cell>{{'AUDIT_MESSAGES_LIST.EVENT_NAME' | translate}}</th>
        <td
          *matCellDef="let auditMessage"
          class="static-column-size"
          mat-cell
          data-cy="audit-message-td">
          {{auditMessage.event.name | parseEventName}}
        </td>
      </ng-container>

      <ng-container matColumnDef="actor">
        <th *matHeaderCellDef mat-header-cell>{{'AUDIT_MESSAGES_LIST.ACTOR' | translate}}</th>
        <td *matCellDef="let auditMessage" class="static-column-size" mat-cell>
          {{auditMessage.actor}}
        </td>
      </ng-container>

      <ng-container matColumnDef="event.message">
        <th *matHeaderCellDef mat-header-cell>{{'AUDIT_MESSAGES_LIST.MESSAGE' | translate}}</th>
        <td *matCellDef="let auditMessage" class="static-column-size" mat-cell>
          {{auditMessage.event.message}}
        </td>
      </ng-container>

      <ng-container matColumnDef="detail">
        <th *matHeaderCellDef mat-header-cell></th>
        <td *matCellDef="let auditMessage" class="static-column-size" mat-cell>
          <button (click)="viewDetails(auditMessage)" color="accent" mat-flat-button>
            {{'AUDIT_MESSAGES_LIST.VIEW_DETAIL' | translate}}
          </button>
        </td>
      </ng-container>

      <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
      <tr
        *matRowDef="let auditMessage; columns: displayedColumns;"
        class="dark-hover-list-item"
        mat-row></tr>
    </table>
  </perun-web-apps-table-wrapper>
</div>

<perun-web-apps-alert
  *ngIf="this.dataSource.allObjectCount === 0 && (dataSource.loading$ | async) === false"
  alert_type="warn">
  {{'SHARED_LIB.UI.ALERTS.NO_AUDIT_MESSAGES' | translate}}
</perun-web-apps-alert>
