@use '@angular/material' as mat;

// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming

// IMPORTANT
// Changes to the styles should be made in the _styles.scss file.
// Changes to the styles.scss would result in the styles being overwritten
// during the build process and the changes would be lost.

// Include the common styles for Angular Material.
@include mat.all-component-typographies();
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$perun-primary: mat.define-palette(mat.$gray-palette, 900);
$perun-accent: mat.define-palette(mat.$green-palette, 600);

// The warn palette is optional (defaults to red).
$perun-warn: mat.define-palette(mat.$red-palette);

// Create the theme object (a Sass map containing all of the palettes).
$perun-theme: mat.define-light-theme(
  (
    color: (
      primary: $perun-primary,
      accent: $perun-accent,
      warn: $perun-warn,
    ),
    typography: mat.define-typography-config(),
    density: 0,
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
mat.$theme-ignore-duplication-warnings: true;
@include mat.all-component-themes($perun-theme);

/*************************************
************** Vo theme **************
*************************************/
.vo-theme {
  $vo-palette: (
    50: rgba(var(--vo-theme-primary-50), 1),
    100: rgba(var(--vo-theme-primary-100), 1),
    200: rgba(var(--vo-theme-primary-200), 1),
    300: rgba(var(--vo-theme-primary-300), 1),
    400: rgba(var(--vo-theme-primary-400), 1),
    500: rgba(var(--vo-theme-primary-500), 1),
    600: rgba(var(--vo-theme-primary-600), 1),
    700: rgba(var(--vo-theme-primary-700), 1),
    800: rgba(var(--vo-theme-primary-800), 1),
    900: rgba(var(--vo-theme-primary-900), 1),
    A100: rgba(var(--vo-theme-primary-A100), 1),
    A200: rgba(var(--vo-theme-primary-A200), 1),
    A400: rgba(var(--vo-theme-primary-A400), 1),
    A700: rgba(var(--vo-theme-primary-A700), 1),
    contrast: (
      50: rgba(var(--vo-theme-primary-contrast-50), 1),
      100: rgba(var(--vo-theme-primary-contrast-100), 1),
      200: rgba(var(--vo-theme-primary-contrast-200), 1),
      300: rgba(var(--vo-theme-primary-contrast-300), 1),
      400: rgba(var(--vo-theme-primary-contrast-400), 1),
      500: rgba(var(--vo-theme-primary-contrast-500), 1),
      600: rgba(var(--vo-theme-primary-contrast-600), 1),
      700: rgba(var(--vo-theme-primary-contrast-700), 1),
      800: rgba(var(--vo-theme-primary-contrast-800), 1),
      900: rgba(var(--vo-theme-primary-contrast-900), 1),
      A100: rgba(var(--vo-theme-primary-contrast-A100), 1),
      A200: rgba(var(--vo-theme-primary-contrast-A200), 1),
      A400: rgba(var(--vo-theme-primary-contrast-A400), 1),
      A700: rgba(var(--vo-theme-primary-contrast-A700), 1),
    ),
  );

  $vo-primary: mat.define-palette($vo-palette, 500);
  $vo-accent: mat.define-palette(mat.$green-palette, 600);

  $vo-theme: mat.define-light-theme(
    (
      color: (
        primary: $vo-primary,
        accent: $vo-accent,
      ),
    )
  );

  @include mat.all-component-colors($vo-theme);
}

.vo-btn {
  background: var(--vo-color);
  color: rgba(var(--vo-theme-primary-contrast-500), 1);

  &:hover {
    color: rgba(var(--vo-theme-primary-contrast-500), 1);
  }
}

.vo-link {
  color: var(--vo-color);
  text-decoration: underline;

  &:hover {
    color: rgba(var(--vo-theme-primary-contrast-500), 1);
  }
}

/*************************************
*********** Facility theme ***********
*************************************/
.facility-theme {
  $facility-palette: (
    50: rgba(var(--facility-theme-primary-50), 1),
    100: rgba(var(--facility-theme-primary-100), 1),
    200: rgba(var(--facility-theme-primary-200), 1),
    300: rgba(var(--facility-theme-primary-300), 1),
    400: rgba(var(--facility-theme-primary-400), 1),
    500: rgba(var(--facility-theme-primary-500), 1),
    600: rgba(var(--facility-theme-primary-600), 1),
    700: rgba(var(--facility-theme-primary-700), 1),
    800: rgba(var(--facility-theme-primary-800), 1),
    900: rgba(var(--facility-theme-primary-900), 1),
    A100: rgba(var(--facility-theme-primary-A100), 1),
    A200: rgba(var(--facility-theme-primary-A200), 1),
    A400: rgba(var(--facility-theme-primary-A400), 1),
    A700: rgba(var(--facility-theme-primary-A700), 1),
    contrast: (
      50: rgba(var(--facility-theme-primary-contrast-50), 1),
      100: rgba(var(--facility-theme-primary-contrast-100), 1),
      200: rgba(var(--facility-theme-primary-contrast-200), 1),
      300: rgba(var(--facility-theme-primary-contrast-300), 1),
      400: rgba(var(--facility-theme-primary-contrast-400), 1),
      500: rgba(var(--facility-theme-primary-contrast-500), 1),
      600: rgba(var(--facility-theme-primary-contrast-600), 1),
      700: rgba(var(--facility-theme-primary-contrast-700), 1),
      800: rgba(var(--facility-theme-primary-contrast-800), 1),
      900: rgba(var(--facility-theme-primary-contrast-900), 1),
      A100: rgba(var(--facility-theme-primary-contrast-A100), 1),
      A200: rgba(var(--facility-theme-primary-contrast-A200), 1),
      A400: rgba(var(--facility-theme-primary-contrast-A400), 1),
      A700: rgba(var(--facility-theme-primary-contrast-A700), 1),
    ),
  );

  $facility-primary: mat.define-palette($facility-palette, 500);
  $facility-accent: mat.define-palette(mat.$green-palette, 600);
  $facility-theme: mat.define-light-theme(
    (
      color: (
        primary: $facility-primary,
        accent: $facility-accent,
      ),
    )
  );

  @include mat.all-component-colors($facility-theme);
}

.facility-btn {
  background-color: var(--facility-color);
  color: rgba(var(--facility-theme-primary-contrast-500), 1);

  &:hover {
    color: rgba(var(--facility-theme-primary-contrast-500), 1);
  }
}

.facility-link {
  color: var(--facility-color);
  text-decoration: underline;

  &:hover {
    color: rgba(var(--facility-theme-primary-contrast-500), 1);
  }
}

/*************************************
********** Resource theme ************
*************************************/
.resource-theme {
  $resource-palette: (
    50: rgba(var(--resource-theme-primary-50), 1),
    100: rgba(var(--resource-theme-primary-100), 1),
    200: rgba(var(--resource-theme-primary-200), 1),
    300: rgba(var(--resource-theme-primary-300), 1),
    400: rgba(var(--resource-theme-primary-400), 1),
    500: rgba(var(--resource-theme-primary-500), 1),
    600: rgba(var(--resource-theme-primary-600), 1),
    700: rgba(var(--resource-theme-primary-700), 1),
    800: rgba(var(--resource-theme-primary-800), 1),
    900: rgba(var(--resource-theme-primary-900), 1),
    A100: rgba(var(--resource-theme-primary-A100), 1),
    A200: rgba(var(--resource-theme-primary-A200), 1),
    A400: rgba(var(--resource-theme-primary-A400), 1),
    A700: rgba(var(--resource-theme-primary-A700), 1),
    contrast: (
      50: rgba(var(--resource-theme-primary-contrast-50), 1),
      100: rgba(var(--resource-theme-primary-contrast-100), 1),
      200: rgba(var(--resource-theme-primary-contrast-200), 1),
      300: rgba(var(--resource-theme-primary-contrast-300), 1),
      400: rgba(var(--resource-theme-primary-contrast-400), 1),
      500: rgba(var(--resource-theme-primary-contrast-500), 1),
      600: rgba(var(--resource-theme-primary-contrast-600), 1),
      700: rgba(var(--resource-theme-primary-contrast-700), 1),
      800: rgba(var(--resource-theme-primary-contrast-800), 1),
      900: rgba(var(--resource-theme-primary-contrast-900), 1),
      A100: rgba(var(--resource-theme-primary-contrast-A100), 1),
      A200: rgba(var(--resource-theme-primary-contrast-A200), 1),
      A400: rgba(var(--resource-theme-primary-contrast-A400), 1),
      A700: rgba(var(--resource-theme-primary-contrast-A700), 1),
    ),
  );

  $resource-primary: mat.define-palette($resource-palette, 500);
  $resource-accent: mat.define-palette(mat.$green-palette, 600);
  $resource-theme: mat.define-light-theme(
    (
      color: (
        primary: $resource-primary,
        accent: $resource-accent,
      ),
    )
  );

  @include mat.all-component-colors($resource-theme);
}

.resource-btn {
  background-color: var(--resource-color);
  color: rgba(var(--resource-theme-primary-contrast-500), 1);

  &:hover {
    color: rgba(var(--resource-theme-primary-contrast-500), 1);
  }
}

.resource-link {
  color: var(--resource-color);
  text-decoration: underline;

  &:hover {
    color: rgba(var(--resource-theme-primary-contrast-500), 1);
  }
}

/*************************************
************ Group theme *************
*************************************/
.group-theme {
  $group-palette: (
    50: rgba(var(--group-theme-primary-50), 1),
    100: rgba(var(--group-theme-primary-100), 1),
    200: rgba(var(--group-theme-primary-200), 1),
    300: rgba(var(--group-theme-primary-300), 1),
    400: rgba(var(--group-theme-primary-400), 1),
    500: rgba(var(--group-theme-primary-500), 1),
    600: rgba(var(--group-theme-primary-600), 1),
    700: rgba(var(--group-theme-primary-700), 1),
    800: rgba(var(--group-theme-primary-800), 1),
    900: rgba(var(--group-theme-primary-900), 1),
    A100: rgba(var(--group-theme-primary-A100), 1),
    A200: rgba(var(--group-theme-primary-A200), 1),
    A400: rgba(var(--group-theme-primary-A400), 1),
    A700: rgba(var(--group-theme-primary-A700), 1),
    contrast: (
      50: rgba(var(--group-theme-primary-contrast-50), 1),
      100: rgba(var(--group-theme-primary-contrast-100), 1),
      200: rgba(var(--group-theme-primary-contrast-200), 1),
      300: rgba(var(--group-theme-primary-contrast-300), 1),
      400: rgba(var(--group-theme-primary-contrast-400), 1),
      500: rgba(var(--group-theme-primary-contrast-500), 1),
      600: rgba(var(--group-theme-primary-contrast-600), 1),
      700: rgba(var(--group-theme-primary-contrast-700), 1),
      800: rgba(var(--group-theme-primary-contrast-800), 1),
      900: rgba(var(--group-theme-primary-contrast-900), 1),
      A100: rgba(var(--group-theme-primary-contrast-A100), 1),
      A200: rgba(var(--group-theme-primary-contrast-A200), 1),
      A400: rgba(var(--group-theme-primary-contrast-A400), 1),
      A700: rgba(var(--group-theme-primary-contrast-A700), 1),
    ),
  );

  $group-primary: mat.define-palette($group-palette, 500);
  $group-accent: mat.define-palette(mat.$green-palette, 600);
  $group-theme: mat.define-light-theme(
    (
      color: (
        primary: $group-primary,
        accent: $group-accent,
      ),
    )
  );

  @include mat.all-component-colors($group-theme);
}

.group-btn {
  background: var(--group-color);
  color: rgba(var(--group-theme-primary-contrast-500), 1);

  &:hover {
    color: rgba(var(--group-theme-primary-contrast-500), 1);
  }
}

.group-link {
  color: var(--group-color);
  text-decoration: underline;

  &:hover {
    color: rgba(var(--group-theme-primary-contrast-500), 1);
  }
}

/*************************************
************ Member theme ************
*************************************/
.member-theme {
  $member-palette: (
    50: rgba(var(--member-theme-primary-50), 1),
    100: rgba(var(--member-theme-primary-100), 1),
    200: rgba(var(--member-theme-primary-200), 1),
    300: rgba(var(--member-theme-primary-300), 1),
    400: rgba(var(--member-theme-primary-400), 1),
    500: rgba(var(--member-theme-primary-500), 1),
    600: rgba(var(--member-theme-primary-600), 1),
    700: rgba(var(--member-theme-primary-700), 1),
    800: rgba(var(--member-theme-primary-800), 1),
    900: rgba(var(--member-theme-primary-900), 1),
    A100: rgba(var(--member-theme-primary-A100), 1),
    A200: rgba(var(--member-theme-primary-A200), 1),
    A400: rgba(var(--member-theme-primary-A400), 1),
    A700: rgba(var(--member-theme-primary-A700), 1),
    contrast: (
      50: rgba(var(--member-theme-primary-contrast-50), 1),
      100: rgba(var(--member-theme-primary-contrast-100), 1),
      200: rgba(var(--member-theme-primary-contrast-200), 1),
      300: rgba(var(--member-theme-primary-contrast-300), 1),
      400: rgba(var(--member-theme-primary-contrast-400), 1),
      500: rgba(var(--member-theme-primary-contrast-500), 1),
      600: rgba(var(--member-theme-primary-contrast-600), 1),
      700: rgba(var(--member-theme-primary-contrast-700), 1),
      800: rgba(var(--member-theme-primary-contrast-800), 1),
      900: rgba(var(--member-theme-primary-contrast-900), 1),
      A100: rgba(var(--member-theme-primary-contrast-A100), 1),
      A200: rgba(var(--member-theme-primary-contrast-A200), 1),
      A400: rgba(var(--member-theme-primary-contrast-A400), 1),
      A700: rgba(var(--member-theme-primary-contrast-A700), 1),
    ),
  );

  $member-primary: mat.define-palette($member-palette, 500);
  $member-accent: mat.define-palette(mat.$green-palette, 600);
  $member-theme: mat.define-light-theme(
    (
      color: (
        primary: $member-primary,
        accent: $member-accent,
      ),
    )
  );

  @include mat.all-component-colors($member-theme);
}

.member-btn {
  background-color: var(--member-color);
  color: rgba(var(--member-theme-primary-contrast-500), 1);

  &:hover {
    color: rgba(var(--member-theme-primary-contrast-500), 1);
  }
}

.member-link {
  color: var(--member-color);
  text-decoration: underline;

  &:hover {
    color: rgba(var(--member-theme-primary-contrast-500), 1);
  }
}

/*************************************
************ Admin theme *************
*************************************/
.admin-theme {
  $admin-palette: (
    50: rgba(var(--admin-theme-primary-50), 1),
    100: rgba(var(--admin-theme-primary-100), 1),
    200: rgba(var(--admin-theme-primary-200), 1),
    300: rgba(var(--admin-theme-primary-300), 1),
    400: rgba(var(--admin-theme-primary-400), 1),
    500: rgba(var(--admin-theme-primary-500), 1),
    600: rgba(var(--admin-theme-primary-600), 1),
    700: rgba(var(--admin-theme-primary-700), 1),
    800: rgba(var(--admin-theme-primary-800), 1),
    900: rgba(var(--admin-theme-primary-900), 1),
    A100: rgba(var(--admin-theme-primary-A100), 1),
    A200: rgba(var(--admin-theme-primary-A200), 1),
    A400: rgba(var(--admin-theme-primary-A400), 1),
    A700: rgba(var(--admin-theme-primary-A700), 1),
    contrast: (
      50: rgba(var(--admin-theme-primary-contrast-50), 1),
      100: rgba(var(--admin-theme-primary-contrast-100), 1),
      200: rgba(var(--admin-theme-primary-contrast-200), 1),
      300: rgba(var(--admin-theme-primary-contrast-300), 1),
      400: rgba(var(--admin-theme-primary-contrast-400), 1),
      500: rgba(var(--admin-theme-primary-contrast-500), 1),
      600: rgba(var(--admin-theme-primary-contrast-600), 1),
      700: rgba(var(--admin-theme-primary-contrast-700), 1),
      800: rgba(var(--admin-theme-primary-contrast-800), 1),
      900: rgba(var(--admin-theme-primary-contrast-900), 1),
      A100: rgba(var(--admin-theme-primary-contrast-A100), 1),
      A200: rgba(var(--admin-theme-primary-contrast-A200), 1),
      A400: rgba(var(--admin-theme-primary-contrast-A400), 1),
      A700: rgba(var(--admin-theme-primary-contrast-A700), 1),
    ),
  );

  $admin-primary: mat.define-palette($admin-palette, 500);
  $admin-accent: mat.define-palette(mat.$green-palette, 600);
  $admin-theme: mat.define-light-theme(
    (
      color: (
        primary: $admin-primary,
        accent: $admin-accent,
      ),
    )
  );

  @include mat.all-component-colors($admin-theme);
}

.admin-btn {
  background-color: var(--admin-color);
  color: rgba(var(--admin-theme-primary-contrast-500), 1);

  &:hover {
    color: rgba(var(--admin-theme-primary-contrast-500), 1);
  }
}

/*************************************
************* User theme *************
*************************************/
.user-theme {
  $user-palette: (
    50: rgba(var(--user-theme-primary-50), 1),
    100: rgba(var(--user-theme-primary-100), 1),
    200: rgba(var(--user-theme-primary-200), 1),
    300: rgba(var(--user-theme-primary-300), 1),
    400: rgba(var(--user-theme-primary-400), 1),
    500: rgba(var(--user-theme-primary-500), 1),
    600: rgba(var(--user-theme-primary-600), 1),
    700: rgba(var(--user-theme-primary-700), 1),
    800: rgba(var(--user-theme-primary-800), 1),
    900: rgba(var(--user-theme-primary-900), 1),
    A100: rgba(var(--user-theme-primary-A100), 1),
    A200: rgba(var(--user-theme-primary-A200), 1),
    A400: rgba(var(--user-theme-primary-A400), 1),
    A700: rgba(var(--user-theme-primary-A700), 1),
    contrast: (
      50: rgba(var(--user-theme-primary-contrast-50), 1),
      100: rgba(var(--user-theme-primary-contrast-100), 1),
      200: rgba(var(--user-theme-primary-contrast-200), 1),
      300: rgba(var(--user-theme-primary-contrast-300), 1),
      400: rgba(var(--user-theme-primary-contrast-400), 1),
      500: rgba(var(--user-theme-primary-contrast-500), 1),
      600: rgba(var(--user-theme-primary-contrast-600), 1),
      700: rgba(var(--user-theme-primary-contrast-700), 1),
      800: rgba(var(--user-theme-primary-contrast-800), 1),
      900: rgba(var(--user-theme-primary-contrast-900), 1),
      A100: rgba(var(--user-theme-primary-contrast-A100), 1),
      A200: rgba(var(--user-theme-primary-contrast-A200), 1),
      A400: rgba(var(--user-theme-primary-contrast-A400), 1),
      A700: rgba(var(--user-theme-primary-contrast-A700), 1),
    ),
  );

  $user-primary: mat.define-palette($user-palette, 500);
  $user-accent: mat.define-palette(mat.$green-palette, 600);
  $user-theme: mat.define-light-theme(
    (
      color: (
        primary: $user-primary,
        accent: $user-accent,
      ),
    )
  );

  @include mat.all-component-colors($user-theme);
}

.user-btn {
  background-color: var(--user-color);
  color: rgba(var(--user-theme-primary-contrast-500), 1);

  &:hover {
    color: rgba(var(--user-theme-primary-contrast-500), 1);
  }
}

.user-link {
  color: var(--user-color);
  text-decoration: underline;

  &:hover {
    color: rgba(var(--user-theme-primary-contrast-500), 1);
  }
}

/*************************************
*********** Service theme ************
*************************************/
.service-theme {
  $service-palette: (
    50: rgba(var(--service-theme-primary-50), 1),
    100: rgba(var(--service-theme-primary-100), 1),
    200: rgba(var(--service-theme-primary-200), 1),
    300: rgba(var(--service-theme-primary-300), 1),
    400: rgba(var(--service-theme-primary-400), 1),
    500: rgba(var(--service-theme-primary-500), 1),
    600: rgba(var(--service-theme-primary-600), 1),
    700: rgba(var(--service-theme-primary-700), 1),
    800: rgba(var(--service-theme-primary-800), 1),
    900: rgba(var(--service-theme-primary-900), 1),
    A100: rgba(var(--service-theme-primary-A100), 1),
    A200: rgba(var(--service-theme-primary-A200), 1),
    A400: rgba(var(--service-theme-primary-A400), 1),
    A700: rgba(var(--service-theme-primary-A700), 1),
    contrast: (
      50: rgba(var(--service-theme-primary-contrast-50), 1),
      100: rgba(var(--service-theme-primary-contrast-100), 1),
      200: rgba(var(--service-theme-primary-contrast-200), 1),
      300: rgba(var(--service-theme-primary-contrast-300), 1),
      400: rgba(var(--service-theme-primary-contrast-400), 1),
      500: rgba(var(--service-theme-primary-contrast-500), 1),
      600: rgba(var(--service-theme-primary-contrast-600), 1),
      700: rgba(var(--service-theme-primary-contrast-700), 1),
      800: rgba(var(--service-theme-primary-contrast-800), 1),
      900: rgba(var(--service-theme-primary-contrast-900), 1),
      A100: rgba(var(--service-theme-primary-contrast-A100), 1),
      A200: rgba(var(--service-theme-primary-contrast-A200), 1),
      A400: rgba(var(--service-theme-primary-contrast-A400), 1),
      A700: rgba(var(--service-theme-primary-contrast-A700), 1),
    ),
  );

  $service-primary: mat.define-palette($service-palette, 500);
  $service-accent: mat.define-palette(mat.$green-palette, 600);
  $service-theme: mat.define-light-theme(
    (
      color: (
        primary: $service-primary,
        accent: $service-accent,
      ),
    )
  );

  @include mat.all-component-colors($service-theme);
}

.service-btn {
  background-color: var(--service-color);
  color: rgba(var(--service-theme-primary-contrast-500), 1);

  &:hover {
    color: rgba(var(--service-theme-primary-contrast-500), 1);
  }
}

.service-link {
  color: var(--service-color);
  text-decoration: underline;

  &:hover {
    color: rgba(var(--service-theme-primary-contrast-500), 1);
  }
}

/*************************************
************** General ***************
*************************************/
body {
  background-color: #fafafa;
}

.mb-25 {
  margin-bottom: 0.75rem;
}

.clickable {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.word-break-all {
  word-break: break-all;
}

.overflow-ellipsis {
  text-overflow: ellipsis;
}

.status-change {
  position: relative;
  display: inline-block;
  margin-left: 5px;

  // Using ::before to create a pseudo-element serving as circular background
  &:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150%;
    padding-bottom: 150%;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.05);
    opacity: 0;
  }

  &:hover::before {
    opacity: 1;
  }
}

.input-width-250 {
  width: 250px;
}

.setting-item {
  font-size: 1.15rem;
  font-weight: 500;
}

// hack to make the content of the virtual scroll be limited by its width
.cdk-virtual-scroll-content-wrapper {
  contain: size !important;
}

.align-checkbox {
  text-align: center !important;
  vertical-align: middle !important;
}

.align-elements {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

/*************************************
************** Buttons ***************
*************************************/
button {
  border-radius: var(--bs-border-radius) !important;
}

.mat-mdc-outlined-button {
  border-radius: var(--bs-border-radius) !important;
}

.mat-mdc-unelevated-button {
  border-radius: var(--bs-border-radius) !important;
}

.mat-mdc-button {
  border-radius: var(--bs-border-radius) !important;
}

.mdc-button {
  border-radius: var(--bs-border-radius) !important;
  white-space: nowrap !important;
  letter-spacing: normal;
}

.action-button {
  display: inline-block !important;
}

.action-button::after {
  content: '\2026';
  margin-left: -4px;
}

/*************************************
************** Sidemenu **************
*************************************/
.side-menu-item {
  a {
    padding: 0.5rem 0.5rem 0.5rem 1rem;
    cursor: pointer;
    text-decoration: none;

    &:hover {
      background: var(--sidemenu-hover-color) !important;
      color: var(--sidemenu-hover-text-color) !important;
    }
  }
}

.side-menu-item-label {
  display: flex;
  flex-direction: row;
  align-items: center;
  word-break: break-word;
  text-decoration: none;
}

.side-menu-link {
  a {
    padding: 0.25rem 0.25rem 0.25rem 2rem;
    text-decoration: none;
    color: #ffffff;
    font-size: 1rem;
    display: block;

    &:hover {
      background: var(--sidemenu-submenu-hover-color) !important;
      color: var(--sidemenu-submenu-hover-text-color) !important;
    }
  }
}

.header-activated {
  background: var(--sidemenu-active-color) !important;
  color: var(--sidemenu-active-text-color) !important;
}

.dark-item-activated {
  background: var(--sidemenu-submenu-active-color) !important;
  color: var(--sidemenu-submenu-active-text-color) !important;
}

/*************************************
*************** Nav *****************
*************************************/
.nav-menu {
  background: var(--nav-bg-color);
  position: fixed;
  width: 100%;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  height: 64px;
  max-height: 64px;
}

.side-nav {
  background: var(--sidemenu-bg-color);
  border-color: var(--sidemenu-border-color);
}

.side-nav-content {
  position: relative;
  background: var(--content-bg-color);
}

/*************************************
*************** Dialogs **************
*************************************/
.dialog-container {
  display: flex;
  flex-direction: column;
}

.dialog-container > * {
  width: 100%;
}

//specific style for dialog without any border
.noBorderDialog .mat-mdc-dialog-container {
  padding: 0 !important;
}

/*************************************
*************** Titles ***************
*************************************/
.page-title {
  margin-top: 1rem;
  margin-bottom: 2rem;
  font-size: 1.8rem;
}

.page-title-headtitle {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.page-title-headline {
  font-size: 1.8rem;
}

.page-title-block {
  flex-direction: column;
  margin-left: 2rem;
  margin-bottom: 2rem;
}

.page-subtitle {
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

.entity-info {
  font-size: 1rem;
}

/*************************************
*************** Icons ****************
*************************************/
mat-icon {
  overflow: inherit !important;
}

// Proper mat icon inside button
.mat-mdc-outlined-button > .mat-icon,
.mat-mdc-unelevated-button > .mat-icon {
  margin-left: 0 !important;
  margin-right: 0 !important;
  height: 1.5rem !important;
  width: 1.5rem !important;
  font-size: 1.5rem !important;
}

.perun-icon-detail {
  transform: scale(2.7);
  margin-left: 1.4rem;
  margin-top: 1.4rem;
}

.icon-beak {
  vertical-align: bottom;
}

.icon-scale {
  transform: scale(1.7);
  margin-left: 0.5rem;
  margin-top: -0.4rem;
  margin-right: 0.9rem;
}

.material-icons.orange {
  color: #fb8c00;
  vertical-align: bottom;
}

.material-icons.red {
  color: #ff0000;
  vertical-align: bottom;
}

.material-icons.green {
  color: #28a745;
  vertical-align: bottom;
}

.material-icons.blue {
  color: #1a87ff;
  vertical-align: bottom;
}

.material-icons.black {
  color: #000000;
  vertical-align: bottom;
}

.material-icons.grey {
  color: #808080;
  vertical-align: bottom;
}

// this allows custom colors for perun icons used in material icons
.perun-icon {
  path {
    fill: currentColor !important;
  }

  rect {
    fill: currentColor;
  }

  polygon {
    fill: currentColor;
  }

  min-width: 24px;
  min-height: 24px;
}

/*************************************
*************** Tables ***************
*************************************/
.static-column-size {
  width: 80px;
}

.hide-table {
  height: 0 !important;
  overflow: hidden !important;
  border: none !important;
}

th,
td.mat-mdc-cell {
  padding: 0.25rem !important;
}

.mdc-data-table__cell {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12) !important;
}

// sticky table headers
.mat-mdc-header-cell {
  position: sticky !important;
  top: 0;
  z-index: 100;
  font-weight: bold !important;
}

/*************************************
************* Tooltip ****************
*************************************/
.mat-mdc-tooltip {
  font-size: 14px !important;
  word-wrap: break-word !important;
}

/*************************************
**************** Tab *****************
*************************************/
.mdc-tab__text-label {
  font-size: 16px !important;
  color: black !important;
  opacity: 1 !important;
  border-radius: var(--bs-border-radius) !important;
}

.mdc-tab__icon {
  font-size: 16px !important;
}

.mat-mdc-tab-header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12) !important;
  border-radius: var(--bs-border-radius) var(--bs-border-radius) 0 0 !important;
}

.mat-mdc-tab.mdc-tab--active {
  background-color: #e8e4e4;
  border-radius: var(--bs-border-radius) var(--bs-border-radius) 0 0 !important;
}

// Dont show horizontal scroll at menu items
.mat-mdc-tab-body-content {
  overflow: hidden !important;
}

/*************************************
************* Form field *************
*************************************/
.mdc-text-field {
  background-color: transparent !important;
  margin-top: 5px !important;
}
label:not(.mdc-floating-label--float-above) {
  padding-top: 16px !important;
  width: 100%;
}
.mat-form-field-appearance-outline {
  label:not(.mdc-floating-label--float-above) {
    padding-top: 0 !important;
  }
}
.mdc-floating-label--float-above {
  width: 133.33% !important;
}
mat-form-field mat-icon {
  padding: 0 !important;
}

// Custom MDC form field in table - for attributes
table .mdc-text-field {
  margin-top: 0 !important;
}
table .mat-mdc-form-field-infix {
  min-height: 35px !important;
  padding-top: 7px !important;
  padding-bottom: 0 !important;
}

// Custom MDC outlined form field in table - for attributes
table .mdc-notched-outline__leading,
table .mdc-notched-outline__trailing {
  border: 0 !important;
}
table .mdc-text-field--outlined {
  padding-left: 0 !important;
}

/*************************************
************** Checkbox **************
*************************************/
.mat-mdc-checkbox label {
  padding-top: 0 !important;
}

/*************************************
************** Radio *****************
*************************************/
.mat-mdc-radio-button label {
  padding-top: 0 !important;
}

/*************************************
************** Toggle *****************
*************************************/
.mat-mdc-slide-toggle label {
  padding-top: 0 !important;
}

/*************************************
************** Cards *****************
*************************************/
.card {
  border-radius: var(--bs-border-radius) !important;
}

/*************************************
************** Loading ***************
*************************************/
.spinner-container {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
}

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#loader {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #414141;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

#loader:before {
  content: '';
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #afafaf;
  -webkit-animation: spin 3s linear infinite;
  animation: spin 3s linear infinite;
}

#loader:after {
  content: '';
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #e5e5e5;
  -webkit-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

#loader .loading {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  bottom: -40px;
  height: 20px;
  left: 0;
  position: absolute;
  right: 0;
  width: 180px;
}
