<div class="'user-theme'">
  <button
    *ngIf="!publication.locked && !similarityCheck"
    mat-flat-button
    color="accent"
    class="me-2 action-button"
    (click)="onAddThanks()">
    {{'PUBLICATION_DETAIL.ADD' | translate}}
  </button>
  <button
    *ngIf="!publication.locked && !similarityCheck"
    mat-flat-button
    color="warn"
    class="me-2"
    [disabled]="selection.selected.length === 0"
    (click)="onRemoveThanks()">
    {{'PUBLICATION_DETAIL.REMOVE' | translate}}
  </button>
  <perun-web-apps-immediate-filter
    (filter)="applyFilter($event)"
    [placeholder]="'PUBLICATION_DETAIL.FILTER'"></perun-web-apps-immediate-filter>
  <ng-template #spinner>
    <perun-web-apps-loading-table></perun-web-apps-loading-table>
  </ng-template>
  <div class="position-relative">
    <perun-web-apps-thanks-list
      *perunWebAppsLoader="loading; indicator: spinner"
      [thanks]="publication.thanks"
      [filterValue]="filterValue"
      [tableId]="tableId"
      [displayedColumns]="publication.locked ? ['id', 'name', 'createdBy'] : ['select', 'id', 'name', 'createdBy']"
      [selection]="selection">
    </perun-web-apps-thanks-list>
  </div>
</div>
