<ng-template #spinner>
  <perun-web-apps-loading-dialog></perun-web-apps-loading-dialog>
</ng-template>
<div class="{{theme}} position-relative">
  <div *perunWebAppsLoader="loading; indicator: spinner">
    <h1 mat-dialog-title>{{'DIALOGS.NOTIFICATIONS_EDIT_FOOTER.TITLE' | translate}}</h1>
    <div class="dialog-container" mat-dialog-content>
      <perun-web-apps-alert alert_type="info" *ngIf="plainEdithAuth && !htmlEditAuth">
        {{'DIALOGS.NOTIFICATIONS_EDIT_FOOTER.FORMAT_HTML_NOT_AUTHORIZED' | translate}}
      </perun-web-apps-alert>
      <mat-tab-group color="primary" mat-stretch-tabs="false">
        <mat-tab *ngFor="let format of formats" [disabled]="format === 'html' && !htmlEditAuth">
          <ng-template mat-tab-label>
            <span [ngClass]="{'disabled-label': format === 'html' && !htmlEditAuth}">
              {{'DIALOGS.NOTIFICATIONS_EDIT_FOOTER.FORMAT_' + format | uppercase | translate}}
            </span>
          </ng-template>
          <mat-form-field class="w-100" subscriptSizing="dynamic">
            <textarea *ngIf="format === 'plain_text'" [(ngModel)]="mailFooter" matInput rows="5">
            </textarea>
            <textarea *ngIf="format === 'html'" [formControl]="htmlInput" matInput rows="5">
            </textarea>
            <mat-error *ngIf="htmlInput.invalid && format==='html'">
              {{htmlInput.errors.invalidHtmlContent}}
            </mat-error>
          </mat-form-field>
          <div class="mt-2 font-italic text-muted" *ngIf="format === 'plain_text'">
            {{'DIALOGS.NOTIFICATIONS_EDIT_FOOTER.DESCRIPTION' | translate}}
          </div>
          <div class="mt-2 font-italic text-muted" *ngIf="format === 'html'">
            {{'DIALOGS.NOTIFICATIONS_EDIT_FOOTER.DESCRIPTION_HTML' | translate}}
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>

    <div mat-dialog-actions>
      <button (click)="cancel()" class="ms-auto" mat-flat-button>
        {{'DIALOGS.NOTIFICATIONS_EDIT_FOOTER.CANCEL_BUTTON' | translate}}
      </button>
      <div
        [matTooltipDisabled]="plainEdithAuth"
        [matTooltipPosition]="'above'"
        matTooltip="{{'DIALOGS.NOTIFICATIONS_EDIT_FOOTER.HINT' | translate}}">
        <div
          [matTooltipDisabled]="!htmlInput.invalid"
          [matTooltipPosition]="'above'"
          matTooltip="{{'DIALOGS.NOTIFICATIONS_EDIT_FOOTER.INVALID_TAGS' | translate}}">
          <button
            (click)="submit()"
            [disabled]="loading || !plainEdithAuth || htmlInput.invalid"
            class="ms-2"
            color="accent"
            mat-flat-button>
            {{'DIALOGS.NOTIFICATIONS_EDIT_FOOTER.SUBMIT_BUTTON' | translate}}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
