.nav-caption {
  display: inline-block;
  padding-left: 6px;
}

.side-menu-item-height {
  height: 40px !important;
}

/* TODO(mdc-migration): The following rule targets internal classes of list that may no longer apply for the MDC version. */
mat-list-item:hover {
  background: var(--side-hover) !important;
  color: var(--side-text-hover) !important;
}

.activated {
  background: var(--side-active) !important;
  color: var(--side-text-active) !important;
}
