a {
  text-decoration: none;
}

.font-fix {
  font-size: 0.8rem;
}

.footer-col {
  padding-top: 35px;
  white-space: nowrap;
}

.wrap-content {
  padding-bottom: 30px;
  height: fit-content;
}

#clickable {
  cursor: pointer;
}
