<div>
  <h1 class="page-subtitle">{{'GROUP_DETAIL.SETTINGS.EXT_SOURCES.TITLE' | translate}}</h1>
  <perun-web-apps-refresh-button (refresh)="refreshTable()"></perun-web-apps-refresh-button>
  <button
    *ngIf="addAuth"
    (click)="onAdd()"
    class="me-2 action-button"
    color="accent"
    mat-flat-button>
    {{'GROUP_DETAIL.SETTINGS.EXT_SOURCES.ADD' | translate}}
  </button>
  <button
    *ngIf="removeAuth"
    (click)="onRemove()"
    [disabled]="selection.selected.length === 0"
    class="me-2"
    color="warn"
    mat-flat-button>
    {{'GROUP_DETAIL.SETTINGS.EXT_SOURCES.REMOVE' | translate}}
  </button>
  <perun-web-apps-debounce-filter
    (filter)="applyFilter($event)"
    [placeholder]="'GROUP_DETAIL.SETTINGS.EXT_SOURCES.FILTER'"></perun-web-apps-debounce-filter>
  <ng-template #spinner>
    <perun-web-apps-loading-table></perun-web-apps-loading-table>
  </ng-template>
  <div class="position-relative">
    <app-ext-sources-list
      *perunWebAppsLoader="loading; indicator: spinner"
      [extSources]="extSources"
      [selection]="selection"
      [displayedColumns]="displayedColumns"
      [filterValue]="filterValue"
      [tableId]="tableId">
    </app-ext-sources-list>
  </div>
</div>
