<div class="{{theme}}">
  <h1 mat-dialog-title>{{'DIALOGS.SPONSOR_EXISTING_MEMBER.TITLE' | translate}}</h1>
  <div mat-dialog-content>
    <mat-form-field class="mr-2 search-field adjust-width">
      <label>
        <input
          [formControl]="searchCtrl"
          autocomplete="false"
          matInput
          (keyup.enter)="onSearchByString()"
          placeholder="{{'DIALOGS.SPONSOR_EXISTING_MEMBER.DESCRIPTION' | translate}}" />
      </label>
      <mat-error>
        {{'DIALOGS.SPONSOR_EXISTING_MEMBER.EMPTY_SEARCH_MESSAGE' | translate}}
      </mat-error>
    </mat-form-field>

    <button
      (click)="onSearchByString()"
      class="ml-auto"
      color="accent"
      [disabled]="loading"
      mat-flat-button>
      {{'DIALOGS.SPONSOR_EXISTING_MEMBER.SEARCH' | translate}}
    </button>

    <mat-spinner *ngIf="loading" class="ml-auto mr-auto"></mat-spinner>

    <perun-web-apps-members-list
      [disableRouting]="true"
      *ngIf="firstSearchDone"
      [hidden]="loading"
      [disableStatusChange]="true"
      [members]="members"
      [selection]="selection"
      [displayedColumns]="['checkbox', 'id', 'fullName', 'status', 'sponsored', 'email']"
      [tableId]="tableId">
    </perun-web-apps-members-list>

    <perun-web-apps-alert *ngIf="!firstSearchDone" alert_type="info">
      {{'DIALOGS.SPONSOR_EXISTING_MEMBER.BEGIN_SEARCH' | translate}}
    </perun-web-apps-alert>

    <div>
      <br />
      <h6>{{'DIALOGS.SPONSOR_EXISTING_MEMBER.EXPIRATION' | translate}}</h6>
      <perun-web-apps-expiration-select (datePicker)="setExpiration($event)">
      </perun-web-apps-expiration-select>
    </div>
  </div>

  <div mat-dialog-actions>
    <button (click)="onCancel()" class="ml-auto" mat-flat-button>
      {{'DIALOGS.SPONSOR_EXISTING_MEMBER.CANCEL' | translate}}
    </button>
    <button
      (click)="onSubmit()"
      class="ml-2"
      color="accent"
      [disabled]="loading || selection.selected.length === 0"
      mat-flat-button>
      {{'DIALOGS.SPONSOR_EXISTING_MEMBER.SPONSOR' | translate}}
    </button>
  </div>
</div>
