<ng-template #spinner>
  <perun-web-apps-loading-dialog></perun-web-apps-loading-dialog>
</ng-template>
<div class="user-theme position-relative">
  <div *perunWebAppsLoader="loading; indicator: spinner">
    <h1 mat-dialog-title>{{"DIALOGS.ADD_CATEGORY.TITLE" | translate}}</h1>
    <div mat-dialog-content class="dialog-container">
      <mat-form-field>
        <mat-label>{{'DIALOGS.ADD_CATEGORY.NAME' | translate}}</mat-label>
        <input matInput required [formControl]="nameCtrl" />
        <mat-error>
          {{'DIALOGS.ADD_CATEGORY.FILL_NAME' | translate}}
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>{{'DIALOGS.ADD_CATEGORY.RANK' | translate}}</mat-label>
        <input matInput required [formControl]="rankCtrl" />
        <mat-error>
          {{'DIALOGS.ADD_CATEGORY.FILL_RANK' | translate}}
        </mat-error>
        <mat-hint>{{'DIALOGS.ADD_CATEGORY.RANK_HINT' | translate}}</mat-hint>
      </mat-form-field>
    </div>
    <div mat-dialog-actions>
      <button mat-flat-button class="ml-auto" (click)="onCancel()">
        {{'DIALOGS.ADD_CATEGORY.CANCEL' | translate}}
      </button>
      <div
        matTooltip="{{'DIALOGS.ADD_CATEGORY.TOOLTIP' | translate}}"
        matTooltipPosition="above"
        [matTooltipDisabled]="nameCtrl.valid && rankCtrl.valid">
        <button
          mat-flat-button
          class="ml-2"
          color="accent"
          [disabled]="nameCtrl.invalid || rankCtrl.invalid"
          (click)="onSubmit()">
          {{'DIALOGS.ADD_CATEGORY.CREATE' | translate}}
        </button>
      </div>
    </div>
  </div>
</div>
