<ng-template #spinner>
  <perun-web-apps-loading-dialog></perun-web-apps-loading-dialog>
</ng-template>
<div class="{{theme}} position-relative">
  <div *perunWebAppsLoader="loading; indicator: spinner">
    <h1 mat-dialog-title>{{'DIALOGS.ADD_REQUIRED_ATTRIBUTES.TITLE' | translate}}</h1>
    <div mat-dialog-content class="dialog-container">
      <perun-web-apps-alert
        *ngIf="serviceEnabled$ | async"
        [alert_type]="'warn'"
        >{{'DIALOGS.ADD_REQUIRED_ATTRIBUTES.ACTIVE_WARN' | translate}}</perun-web-apps-alert
      >
      <perun-web-apps-debounce-filter
        (filter)="applyFilter($event)"
        [placeholder]="'DIALOGS.ADD_REQUIRED_ATTRIBUTES.FILTER'">
      </perun-web-apps-debounce-filter>
      <app-attr-def-list
        [selection]="selection"
        [definitions]="attrDefinitions"
        [disableRouting]="true"
        [filterValue]="filterValue"
        [serviceEnabled]="serviceEnabled$ | async"
        [consentRequired]="consentRequired$ | async">
      </app-attr-def-list>
    </div>
    <div mat-dialog-actions>
      <button (click)="onCancel()" class="ms-auto" mat-stroked-button>
        {{'DIALOGS.ADD_REQUIRED_ATTRIBUTES.CANCEL' | translate}}
      </button>
      <button
        (click)="onAdd()"
        class="ms-2"
        color="accent"
        [disabled]="selection.selected.length === 0"
        mat-flat-button>
        {{'DIALOGS.ADD_REQUIRED_ATTRIBUTES.ADD' | translate}}
      </button>
    </div>
  </div>
</div>
