<div>
  <h1 class="page-subtitle">{{'FACILITY_DETAIL.HOSTS.TITLE' | translate}}</h1>
  <perun-web-apps-refresh-button (refresh)="refreshTable()"></perun-web-apps-refresh-button>
  <button
    *ngIf="addAuth"
    (click)="addHost()"
    color="accent"
    class="mr-2 action-button"
    mat-flat-button>
    {{'FACILITY_DETAIL.HOSTS.ADD' | translate}}
  </button>
  <button
    *ngIf="removeAuth"
    (click)="removeHost()"
    [disabled]="selected.selected.length === 0"
    class="mr-2"
    color="warn"
    mat-flat-button>
    {{'FACILITY_DETAIL.HOSTS.REMOVE' | translate}}
  </button>
  <perun-web-apps-immediate-filter
    (filter)="applyFilter($event)"
    [placeholder]="'FACILITY_DETAIL.HOSTS.FILTER'"></perun-web-apps-immediate-filter>
  <mat-spinner *ngIf="loading" class="ml-auto mr-auto"></mat-spinner>
  <app-hosts-list
    [disableRouting]="!routeAuth || disableRouting"
    *ngIf="!loading"
    [filterValue]="filterValue"
    [hosts]="hosts"
    [selection]="selected"
    [displayedColumns]="displayedColumns"
    [facilityId]="facility.id"
    [tableId]="tableId">
  </app-hosts-list>
</div>
