<ng-template #spinner>
  <perun-web-apps-loading-dialog></perun-web-apps-loading-dialog>
</ng-template>
<div class="user-theme position-relative">
  <div *perunWebAppsLoader="loading; indicator: spinner">
    <h1 mat-dialog-title>{{"DIALOGS.ADD_THANKS.TITLE" | translate}}</h1>
    <div mat-dialog-content class="dialog-container">
      <perun-web-apps-immediate-filter
        (filter)="filterValue = $event"
        [placeholder]="'DIALOGS.ADD_THANKS.FILTER'">
      </perun-web-apps-immediate-filter>
      <perun-web-apps-owners-list
        [owners]="owners"
        [filterValue]="filterValue"
        [tableId]="tableId"
        [displayedColumns]="['select', 'id', 'name', 'contact']"
        [selection]="selected">
      </perun-web-apps-owners-list>
    </div>
    <div mat-dialog-actions>
      <button mat-flat-button class="ms-auto" (click)="onCancel()">
        {{'DIALOGS.ADD_THANKS.CANCEL' | translate}}
      </button>
      <button
        mat-flat-button
        class="ms-2"
        color="accent"
        [disabled]="selected.selected.length === 0 || loading"
        (click)="onSubmit()">
        {{'DIALOGS.ADD_THANKS.ADD' | translate}}
      </button>
    </div>
  </div>
</div>
