<ng-template #spinner>
  <perun-web-apps-loading-dialog></perun-web-apps-loading-dialog>
</ng-template>
<div class="{{theme}} position-relative">
  <div *perunWebAppsLoader="loading; indicator: spinner">
    <h1 *ngIf="!this.successfullyCreated" mat-dialog-title>
      {{'DIALOGS.CREATE_SPONSORED_MEMBER.TITLE' | translate}}
    </h1>

    <div *ngIf="!successfullyCreated" class="dialog-container" mat-dialog-content>
      <mat-stepper #stepper [linear]="true">
        <mat-step [stepControl]="userControl">
          <ng-template
            matStepLabel
            >{{'DIALOGS.CREATE_SPONSORED_MEMBER.USER_LABEL' | translate}}</ng-template
          >
          <perun-web-apps-alert alert_type="error" *ngIf="this.functionalityNotSupported">
            {{'DIALOGS.CREATE_SPONSORED_MEMBER.FUNCTIONALITY_NOT_SUPPORTED' | translate}}
          </perun-web-apps-alert>

          <form [formGroup]="userControl" class="dialog-container">
            <h5 class="mt-2">
              {{'DIALOGS.CREATE_SPONSORED_MEMBER.USER_TITLE' | translate}}
            </h5>
            <mat-form-field class="mt-4">
              <input
                data-cy="first-name-input"
                matInput
                formControlName="firstName"
                placeholder="{{'DIALOGS.CREATE_SPONSORED_MEMBER.FIRST_NAME' | translate}}"
                required />
              <mat-error *ngIf="userControl.hasError('required', 'firstName')">
                {{'DIALOGS.CREATE_SPONSORED_MEMBER.LENGTH_ERROR' | translate}}
              </mat-error>
            </mat-form-field>

            <mat-form-field>
              <input
                data-cy="last-name-input"
                matInput
                formControlName="lastName"
                placeholder="{{'DIALOGS.CREATE_SPONSORED_MEMBER.LAST_NAME' | translate}}"
                required />
              <mat-error *ngIf="userControl.hasError('required', 'lastName')">
                {{'DIALOGS.CREATE_SPONSORED_MEMBER.LENGTH_ERROR' | translate}}
              </mat-error>
            </mat-form-field>

            <mat-form-field>
              <input
                matInput
                formControlName="titleBefore"
                placeholder="{{'DIALOGS.CREATE_SPONSORED_MEMBER.TITLE_BEFORE' | translate}}" />
            </mat-form-field>

            <mat-form-field>
              <input
                matInput
                formControlName="titleAfter"
                placeholder="{{'DIALOGS.CREATE_SPONSORED_MEMBER.TITLE_AFTER' | translate}}" />
            </mat-form-field>
          </form>
        </mat-step>
        <mat-step [stepControl]="namespaceControl">
          <ng-template
            matStepLabel
            >{{'DIALOGS.CREATE_SPONSORED_MEMBER.NAMESPACE_LABEL' | translate}}</ng-template
          >
          <h5 class="mt-2">{{'DIALOGS.CREATE_SPONSORED_MEMBER.NAMESPACE_TITLE' | translate}}</h5>
          <form [formGroup]="namespaceControl" class="dialog-container mt-4">
            <mat-form-field data-cy="namespace-filter">
              <mat-select
                formControlName="namespace"
                placeholder="{{'DIALOGS.CREATE_SPONSORED_MEMBER.NAMESPACE' | translate}}"
                (valueChange)="onNamespaceChanged($event)"
                required>
                <mat-option
                  *ngFor="let namespc of namespaceOptions"
                  [value]="namespc"
                  attr.data-cy="{{namespc}}">
                  {{namespc}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="namespaceControl.hasError('required', 'namespace')">
                {{'DIALOGS.CREATE_SPONSORED_MEMBER.NAMESPACE_ERROR' | translate}}
              </mat-error>
            </mat-form-field>

            <mat-form-field
              matTooltip="{{(this.selectedNamespace === null ? 'DIALOGS.CREATE_SPONSORED_MEMBER.NO_NAMESPACE_SELECTED' : 'DIALOGS.CREATE_SPONSORED_MEMBER.LOGIN_DISABLED') | translate}}"
              [matTooltipDisabled]="namespaceControl.get('login').enabled"
              matTooltipPosition="left">
              <input
                data-cy="login-input"
                matInput
                formControlName="login"
                placeholder="{{'DIALOGS.CREATE_SPONSORED_MEMBER.LOGIN' | translate}}"
                required />
              <mat-error *ngIf="namespaceControl.hasError('required', 'login')">
                {{'DIALOGS.CREATE_SPONSORED_MEMBER.LENGTH_ERROR' | translate}}
              </mat-error>
            </mat-form-field>

            <mat-form-field>
              <input
                data-cy="email-input"
                matInput
                placeholder="{{'DIALOGS.CREATE_SPONSORED_MEMBER.EMAIL' | translate}}"
                formControlName="email"
                required />
              <mat-error
                *ngIf="namespaceControl.hasError('required', 'email') ||
            namespaceControl.hasError('pattern', 'email')">
                {{'DIALOGS.CREATE_SPONSORED_MEMBER.EMAIL_ERROR' | translate}}
              </mat-error>
            </mat-form-field>

            <span
              matTooltip="{{(this.selectedNamespace === null ? 'DIALOGS.CREATE_SPONSORED_MEMBER.NO_NAMESPACE_SELECTED' : 'DIALOGS.CREATE_SPONSORED_MEMBER.PASSWORD_RESET_DISABLED') | translate}}"
              [matTooltipDisabled]="namespaceControl.get('passwordReset').enabled"
              matTooltipPosition="left">
              <mat-checkbox
                labelPosition="before"
                (change)="passwordResetChange()"
                formControlName="passwordReset"
                >{{'DIALOGS.CREATE_SPONSORED_MEMBER.PASSWORD_RESET' | translate}}
              </mat-checkbox>
            </span>
            <mat-form-field *ngIf="namespaceControl.get('passwordReset').value">
              <mat-label>{{'DIALOGS.INVITE_MEMBER.LANGUAGE' | translate}}</mat-label>
              <mat-select [(value)]="currentLanguage">
                <mat-option *ngFor="let lang of languages" value="{{lang}}">
                  {{'SHARED_LIB.LANGUAGES.'+lang | uppercase | translate}}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <perun-web-apps-password-form
              [formGroup]="namespaceControl"
              [namespace]="selectedNamespace"
              [tooltipPwdViaEmail]="this.namespaceControl.get('passwordReset').value">
            </perun-web-apps-password-form>
          </form>
        </mat-step>
        <mat-step>
          <ng-template
            matStepLabel
            >{{'DIALOGS.CREATE_SPONSORED_MEMBER.SPONSORSHIP_LABEL' | translate}}</ng-template
          >
          <div class="dialog-container">
            <h5 class="mt-2">
              {{'DIALOGS.CREATE_SPONSORED_MEMBER.SPONSORSHIP_TITLE' | translate}}
            </h5>
            <app-choose-sponsor
              [voId]="data.voId"
              [voSponsors]="data.sponsors"
              (sponsorTypeSelected)="sponsorType = $event"
              (sponsorSelected)="selectedSponsor = $event">
            </app-choose-sponsor>

            <h6 class="mt-4">{{'DIALOGS.CREATE_SPONSORED_MEMBER.EXPIRATION' | translate}}</h6>
            <perun-web-apps-expiration-select (datePicker)="setExpiration($event)" class="mt-2">
            </perun-web-apps-expiration-select>
          </div>
        </mat-step>
        <mat-step>
          <ng-template
            matStepLabel
            >{{'DIALOGS.GENERATE_SPONSORED_MEMBERS.GROUPS_LABEL' | translate}}</ng-template
          >
          <app-assign-groups-sponsored-members-component
            (groupsToAdd)="createMember($event)"
            (submitAllowed)="submitAllowed = $event"
            [voId]="data.voId"
            [submit]="groupsToAssign.asObservable()"></app-assign-groups-sponsored-members-component>
        </mat-step>
      </mat-stepper>
    </div>

    <div *ngIf="successfullyCreated" class="dialog-container" mat-dialog-content>
      <div class="bigger-font mb-2">
        <mat-icon class="mr-2 mb-2">done</mat-icon>
        {{'DIALOGS.CREATE_SPONSORED_MEMBER.USER' | translate}}
        <i>{{this.createdMember.user | userFullName}}</i>
        {{'DIALOGS.CREATE_SPONSORED_MEMBER.WAS_CREATED' | translate}}
      </div>
      <div>{{'DIALOGS.CREATE_SPONSORED_MEMBER.LOGIN' | translate}}: {{this.loginThatWasSet}}</div>
      <div>
        {{'DIALOGS.CREATE_SPONSORED_MEMBER.PASSWORD' | translate}} :
        {{this.namespaceControl.get('passwordCtrl').value}}
      </div>
      <perun-web-apps-alert
        alert_type="warn"
        >{{'DIALOGS.CREATE_SPONSORED_MEMBER.COPY_INFORMATION' | translate}}</perun-web-apps-alert
      >
      <perun-web-apps-alert
        *ngIf="finishedWithErrors"
        alert_type="error"
        >{{'DIALOGS.CREATE_SPONSORED_MEMBER.WITH_ERRORS' | translate}}</perun-web-apps-alert
      >
    </div>

    <div *ngIf="successfullyCreated" mat-dialog-actions>
      <button (click)="onCancel()" class="ml-auto" mat-flat-button data-cy="ok-button">
        {{'DIALOGS.CREATE_SPONSORED_MEMBER.OK' | translate}}
      </button>
    </div>

    <div *ngIf="!successfullyCreated && stepper !== undefined" mat-dialog-actions>
      <button (click)="onCancel()" mat-flat-button>
        {{'DIALOGS.CREATE_SPONSORED_MEMBER.CANCEL' | translate}}
      </button>
      <button
        (click)="stepperPrevious()"
        *ngIf="stepper !== undefined && stepper.selectedIndex !== 0"
        class="ml-auto"
        mat-flat-button>
        {{'DIALOGS.CREATE_SPONSORED_MEMBER.BACK' | translate}}
      </button>
      <button
        data-cy="next-button"
        (click)="stepperNext()"
        *ngIf="stepper !== undefined && stepper.selectedIndex !== stepper._steps.length - 1"
        [class.ml-2]="stepper !== undefined && stepper.selectedIndex !== 0"
        [class.ml-auto]="!(stepper !== undefined && stepper.selectedIndex !== 0)"
        [disabled]="getStepperNextConditions()"
        color="accent"
        mat-flat-button
        type="button">
        {{'DIALOGS.CREATE_SPONSORED_MEMBER.NEXT' | translate}}
      </button>
      <button
        data-cy="confirm-button"
        (click)="onConfirm()"
        *ngIf="stepper !== undefined && stepper.selectedIndex === stepper._steps.length -1"
        [disabled]="!submitAllowed"
        class="ml-2"
        color="accent"
        mat-flat-button
        type="button">
        {{'DIALOGS.CREATE_SPONSORED_MEMBER.SUBMIT' | translate}}
      </button>
    </div>
  </div>
</div>
