<div>
  <h1 class="page-subtitle">{{'GROUP_DETAIL.SUBGROUPS.TITLE' | translate}}</h1>
  <perun-web-apps-refresh-button (refresh)="refreshTable()"></perun-web-apps-refresh-button>
  <button
    *ngIf="createAuth"
    (click)="onCreateGroup()"
    class="mr-2 action-button"
    color="accent"
    data-cy="new-subgroup-button"
    mat-flat-button>
    {{'GROUP_DETAIL.SUBGROUPS.CREATE_GROUP' | translate}}
  </button>
  <span
    [matTooltipDisabled]="(tree === undefined && list === undefined) ||
          (tree !== undefined && tree.removeAuth) ||
          (list !== undefined && list.removeAuth)"
    matTooltip="{{'GROUP_DETAIL.SUBGROUPS.DELETE_PERMISSION_HINT' | translate}}">
    <button
      (click)="deleteGroup()"
      *ngIf="deleteAuth"
      [disabled]="selected.selected.length === 0 ||
              (tree !== undefined && !tree.removeAuth) ||
              (list !== undefined && !list.removeAuth)"
      color="warn"
      class="mr-2"
      data-cy="delete-group-button"
      mat-flat-button>
      {{'GROUP_DETAIL.SUBGROUPS.DELETE_GROUP' | translate}}
    </button>
  </span>
  <perun-web-apps-debounce-filter
    (filter)="applyFilter($event)"
    [placeholder]="'GROUP_DETAIL.SUBGROUPS.FILTER'">
  </perun-web-apps-debounce-filter>
  <mat-slide-toggle
    #toggle
    (change)="selected.clear()"
    [(ngModel)]="showGroupList"
    class="mr-1"
    color="primary"
    labelPosition="before"
    >{{'GROUP_DETAIL.SUBGROUPS.TREE_VIEW' | translate}}</mat-slide-toggle
  >
  <label [attr.for]="toggle.inputId">{{'GROUP_DETAIL.SUBGROUPS.LIST_VIEW' | translate}}</label>
  <mat-spinner *ngIf="loading" class="ml-auto mr-auto"></mat-spinner>
  <div *ngIf="!loading" class="mt-3">
    <perun-web-apps-groups-tree
      #tree
      *ngIf="!showGroupList"
      [disableRouting]="!routeAuth"
      [expandAll]="filtering"
      [groups]="groups"
      (moveGroup)="onMoveGroup($event)"
      (refreshTable)="refreshTable()"
      [hideCheckbox]="!deleteAuth"
      [filterValue]="filterValue"
      [selection]="selected">
    </perun-web-apps-groups-tree>
    <perun-web-apps-groups-list
      #list
      (moveGroup)="onMoveGroup($event)"
      (refreshTable)="refreshTable()"
      *ngIf="showGroupList"
      [authType]="'group-subgroups'"
      [disableMembers]="true"
      [disableRouting]="!routeAuth"
      [displayedColumns]="deleteAuth ? ['select', 'id', 'name', 'description', 'menu'] : ['id', 'name', 'description', 'menu']"
      [groups]="groups"
      [selection]="selected"
      [filter]="filterValue"
      [tableId]="tableId">
    </perun-web-apps-groups-list>
  </div>
</div>
