<div>
  <h1 class="page-subtitle">{{'GROUP_DETAIL.SUBGROUPS.TITLE' | translate}}</h1>
  <perun-web-apps-refresh-button (refresh)="refreshTable()"></perun-web-apps-refresh-button>
  <button
    *ngIf="createAuth"
    (click)="onCreateGroup()"
    class="me-2 action-button"
    color="accent"
    data-cy="new-subgroup-button"
    mat-flat-button>
    {{'GROUP_DETAIL.SUBGROUPS.CREATE_GROUP' | translate}}
  </button>
  <span
    *ngIf="{removeAuth: removeAuth$ | async} as auth"
    [matTooltipDisabled]="selected.selected.length === 0 || auth.removeAuth"
    matTooltip="{{'GROUP_DETAIL.SUBGROUPS.DELETE_PERMISSION_HINT' | translate}}">
    <button
      (click)="deleteGroup()"
      *ngIf="deleteAuth"
      [disabled]="selected.selected.length === 0 || !auth.removeAuth"
      color="warn"
      class="me-2"
      data-cy="delete-group-button"
      mat-flat-button>
      {{'GROUP_DETAIL.SUBGROUPS.DELETE_GROUP' | translate}}
    </button>
  </span>
  <perun-web-apps-debounce-filter
    (filter)="applyFilter($event)"
    [placeholder]="'GROUP_DETAIL.SUBGROUPS.FILTER'">
  </perun-web-apps-debounce-filter>
  <label class="slide-label" (click)="labelToggle()">
    {{'GROUP_DETAIL.SUBGROUPS.TREE_VIEW' | translate}}
  </label>
  <mat-slide-toggle
    #toggle
    (change)="selected.clear()"
    [(ngModel)]="showGroupList"
    class="me-1"
    labelPosition="before"></mat-slide-toggle>
  <label class="slide-label" (click)="labelToggle()">
    {{'GROUP_DETAIL.SUBGROUPS.LIST_VIEW' | translate}}
  </label>
  <ng-template #spinner>
    <perun-web-apps-loading-table></perun-web-apps-loading-table>
  </ng-template>
  <div class="position-relative mt-3">
    <div *perunWebAppsLoader="loading; indicator: spinner">
      <perun-web-apps-groups-tree
        *ngIf="!showGroupList"
        [disableRouting]="!routeAuth"
        [expandAll]="filtering"
        [groups]="groups"
        (moveGroup)="onMoveGroup($event)"
        (refreshTable)="refreshTable()"
        [hideCheckbox]="!deleteAuth"
        [filterValue]="filterValue"
        [selection]="selected">
      </perun-web-apps-groups-tree>
      <perun-web-apps-groups-list
        (groupMoved)="onMoveGroup($event)"
        (refreshTable)="refreshTable()"
        *ngIf="showGroupList"
        [disableMembers]="true"
        [disableRouting]="!routeAuth"
        [displayedColumns]="deleteAuth ? ['select', 'id', 'name', 'description', 'menu'] : ['id', 'name', 'description', 'menu']"
        [groups]="groups"
        [selection]="selected"
        [filter]="filterValue"
        [tableId]="tableId">
      </perun-web-apps-groups-list>
    </div>
  </div>
</div>
