<div>
  <h1 class="page-subtitle">{{ 'SHARED.IDENTITY_DETAIL.TITLE' | translate}} - {{this.userExtSource ? this.userExtSource.extSource.name : ''}}</h1>
  <div>{{ 'SHARED.IDENTITY_DETAIL.TYPE' | translate}}: {{this.userExtSource ? this.userExtSource.extSource.type : ''}}</div>
  <div>{{ 'SHARED.IDENTITY_DETAIL.LOGIN' | translate}}: {{this.userExtSource ? this.userExtSource.login : ''}}</div>
  <div class="mb-2">{{ 'SHARED.IDENTITY_DETAIL.LAST_ACCESS' | translate}}: {{this.userExtSource ? (this.userExtSource.lastAccess | date: 'd.M.y H:mm:ss') : ''}}</div>
  <perun-web-apps-refresh-button (refresh)="refreshTable()"></perun-web-apps-refresh-button>
  <button
    mat-flat-button
    class="mr-2"
    color="accent"
    [disabled]="selection.selected.length === 0"
    (click)="onSave()" >{{ 'SHARED.IDENTITY_DETAIL.SAVE' | translate}}</button>
  <button
    mat-flat-button
    color="accent"
    class="mr-2"
    (click)="onAdd()">{{ 'SHARED.IDENTITY_DETAIL.ADD' | translate}}</button>
  <button
    mat-flat-button
    color="warn"
    class="mr-2"
    [disabled]="selection.selected.length === 0"
    (click)="onRemove()">{{ 'SHARED.IDENTITY_DETAIL.REMOVE' | translate}}</button>
  <mat-spinner class="ml-auto mr-auto" *ngIf="loading"></mat-spinner>
  <perun-web-apps-attributes-list
    #list
    [tableId]="tableId"
    *ngIf="!loading"
    [attributes]="attributes"
    [selection]="selection">
  </perun-web-apps-attributes-list>
</div>
