<h1 class="page-subtitle">{{'VO_DETAIL.SETTINGS.SERVICE_MEMBERS.TITLE' | translate}}</h1>
<perun-web-apps-refresh-button (refresh)="refresh()"></perun-web-apps-refresh-button>
<button (click)="createServiceMember()" class="mr-2 action-button" color="accent" mat-flat-button>
  {{'VO_DETAIL.SETTINGS.SERVICE_MEMBERS.CREATE' | translate}}
</button>
<button
  (click)="onRemoveMembers()"
  *ngIf="removeAuth"
  [disabled]="selection.isEmpty()"
  class="mr-2"
  color="warn"
  mat-flat-button>
  {{'VO_DETAIL.SETTINGS.SERVICE_MEMBERS.DELETE' | translate}}
</button>
<perun-web-apps-immediate-filter
  (filter)="applyFilter($event)"
  [placeholder]="'VO_DETAIL.SETTINGS.SERVICE_MEMBERS.FILTER'">
</perun-web-apps-immediate-filter>
<mat-spinner *ngIf="loading" class="ml-auto mr-auto"></mat-spinner>
<perun-web-apps-members-list
  [tableId]="tableId"
  *ngIf="!loading"
  [displayedColumns]="['checkbox','id', 'type', 'fullName', 'status']"
  [selection]="selection"
  [disableStatusChange]="true"
  [filter]="searchString"
  [members]="members"></perun-web-apps-members-list>
