<div class="{{theme}}">
  <h1 mat-dialog-title>{{'RESOURCE_DETAIL.TAGS.ADD_TAGS' | translate}}</h1>

  <div mat-dialog-content>
    <ng-template #spinner>
      <perun-web-apps-loading-table></perun-web-apps-loading-table>
    </ng-template>
    <div class="position-relative">
      <app-resources-tags-list
        *perunWebAppsLoader="loading; indicator: spinner"
        [selection]="selection"
        [displayedColumns]="displayedColumns"
        [entity]="'resource'"
        [filterValue]="filterValue"
        [resourceTags]="resourceTags"
        [tableId]="tableId">
      </app-resources-tags-list>
    </div>
  </div>

  <div mat-dialog-actions>
    <button (click)="onCancel()" class="ms-auto" mat-stroked-button>
      {{'RESOURCE_DETAIL.TAGS.CANCEL' | translate}}
    </button>
    <button
      (click)="onSubmit(selection.selected)"
      class="ms-2"
      color="accent"
      [disabled]="loading || resourceTags.length === 0"
      mat-flat-button>
      {{'RESOURCE_DETAIL.TAGS.ADD_BUTTON' | translate}}
    </button>
  </div>
</div>
