<div>
  <h1 class="page-subtitle">{{'FACILITY_DETAIL.ALLOWED_USERS.TITLE' | translate}}</h1>
  <div class="filters">
    <perun-web-apps-refresh-button (refresh)="refreshPage()" class="mr-2">
    </perun-web-apps-refresh-button>
    <perun-web-apps-debounce-filter
      (filter)="applyFilter($event)"
      [placeholder]="'FACILITY_DETAIL.ALLOWED_USERS.FILTER'"
      class="mr-2 filter"></perun-web-apps-debounce-filter>
    <perun-web-apps-advanced-filter
      (changeAdvancedFilter)="advancedFilter=$event"
      [advancedFilter]="advancedFilter"
      (clearFilters)="clearFilters()"
      [filtersCount]="filtersCount">
    </perun-web-apps-advanced-filter>
  </div>
  <div *ngIf="advancedFilter" class="advanced-filter">
    <div class="toggle filters">
      <mat-slide-toggle
        [(ngModel)]="allowed"
        (change)="changeFilter()"
        class="mr-2"
        labelPosition="before">
        {{'FACILITY_DETAIL.ALLOWED_USERS.FILTER_ALLOWED' | translate}}
      </mat-slide-toggle>
      <span class="text-muted">{{toggle_messages[allowed ? 1 : 0] | translate}}</span>
    </div>
    <div class="filters">
      <perun-web-apps-vo-search-select
        [vos]="vos"
        (voSelected)="voSelected($event)"
        [vo]="selectedVo"
        class="search-select">
      </perun-web-apps-vo-search-select>
      <perun-web-apps-resource-search-select
        [resources]="filteredResources"
        (resourceSelected)="resourceSelected($event)"
        [displayStatus]="false"
        [resource]="selectedResource"
        class="search-select">
      </perun-web-apps-resource-search-select>
      <perun-web-apps-service-search-select
        [services]="filteredServices"
        (serviceSelected)="serviceSelected($event)"
        [service]="selectedService"
        class="search-select">
      </perun-web-apps-service-search-select>
    </div>
  </div>
  <mat-spinner *ngIf="loading" class="ml-auto mr-auto"></mat-spinner>
  <perun-web-apps-users-dynamic-list
    *ngIf="!loading"
    [attrNames]="attributes"
    [disableRouting]="!routeAuth"
    [displayedColumns]="['id', 'name', 'email', 'logins', 'organization']"
    [onlyAllowed]="allowed"
    [facilityId]="facility.id"
    [searchString]="filterValue"
    [resourceId]="selectedResource.id === -1 ? null : selectedResource.id"
    [serviceId]="selectedService.id === -1 ? null : selectedService.id"
    [tableId]="tableId"
    [voId]="selectedVo.id === -1 ? null : selectedVo.id">
  </perun-web-apps-users-dynamic-list>
</div>
