<h1 class="page-subtitle">{{'GROUP_DETAIL.MEMBERS.TITLE' | translate}}</h1>
<perun-web-apps-alert *ngIf="synchEnabled" alert_type="warn">
  {{'GROUP_DETAIL.MEMBERS.ACTIONS_DISABLED' | translate}}
</perun-web-apps-alert>
<div class="align-elements">
  <perun-web-apps-refresh-button (click)="refreshTable()"></perun-web-apps-refresh-button>
  <span
    [matTooltipDisabled]="!(group | groupMembersActionButtonDisabled: 'add')"
    [matTooltipPosition]="'above'"
    matTooltip="{{group | groupMembersActionButtonDisabledTooltip: 'add' | translate}}">
    <button
      (click)="onAddMember()"
      *ngIf="addAuth"
      [disabled]="(group | groupMembersActionButtonDisabled: 'add')"
      class="me-2 action-button"
      color="accent"
      data-cy="add-members"
      mat-flat-button>
      {{'GROUP_DETAIL.MEMBERS.ADD_MEMBER' | translate}}
    </button>
  </span>
  <span
    [matTooltipDisabled]="!((group | groupMembersActionButtonDisabled) || inviteDisabled)"
    [matTooltipPosition]="'above'"
    matTooltip="{{inviteDisabled ? ('GROUP_DETAIL.MEMBERS.INVITE_DISABLED' | translate) : (group | groupMembersActionButtonDisabledTooltip | translate)}}">
    <button
      *ngIf="inviteAuth"
      [disabled]="(group | groupMembersActionButtonDisabled) || inviteDisabled"
      [matMenuTriggerFor]="menu"
      class="me-2 dropdown-toggle"
      color="accent"
      mat-flat-button>
      {{'GROUP_DETAIL.MEMBERS.INVITE' | translate}}
    </button>
    <mat-menu #menu="matMenu">
      <button
        (click)="onInviteMember()"
        *ngIf="inviteAuth"
        [disabled]="(group | groupMembersActionButtonDisabled)"
        class="action-button"
        mat-menu-item>
        {{'GROUP_DETAIL.MEMBERS.INVITE_ONE' | translate}}
      </button>
      <button
        *ngIf="inviteAuth"
        (click)="onBulkInvite()"
        [disabled]="(group | groupMembersActionButtonDisabled)"
        class="action-button"
        mat-menu-item>
        {{'GROUP_DETAIL.MEMBERS.INVITE_BULK' | translate}}
      </button>
    </mat-menu>
  </span>
  <span
    [matTooltipDisabled]="!copyDisabled"
    [matTooltipPosition]="'above'"
    matTooltip="{{'GROUP_DETAIL.MEMBERS.COPY_MEMBERS_DISABLED' | translate}}">
    <button
      (click)="onCopyMembers()"
      *ngIf="copyAuth"
      [disabled]="copyDisabled"
      class="me-2"
      color="accent"
      mat-flat-button>
      {{'GROUP_DETAIL.MEMBERS.COPY_MEMBERS' | translate}}
    </button>
  </span>
  <span
    [matTooltipDisabled]="!(group | groupMembersActionButtonDisabled)"
    [matTooltipPosition]="'above'"
    matTooltip="{{group | groupMembersActionButtonDisabledTooltip | translate}}">
    <button
      (click)="onRemoveMembers()"
      *ngIf="removeAuth"
      [disabled]="selection.isEmpty() || (group | groupMembersActionButtonDisabled)"
      class="me-2"
      color="warn"
      data-cy="remove-members"
      mat-flat-button>
      {{'GROUP_DETAIL.MEMBERS.REMOVE_MEMBERS' | translate}}
    </button>
  </span>
  <mat-form-field class="me-2 fix-select">
    <mat-label>{{'GROUP_DETAIL.MEMBERS.FILTER_STATUS' | translate}}</mat-label>
    <mat-select (closed)="changeVoStatuses()" [formControl]="statuses" multiple>
      <mat-select-trigger>
        {{displaySelectedStatuses() | memberStatus}}
      </mat-select-trigger>
      <mat-option
        class="group-theme"
        *ngFor="let status of statusList"
        [value]="status"
        >{{status | memberStatus}}</mat-option
      >
    </mat-select>
  </mat-form-field>
  <mat-form-field class="me-2 fix-select">
    <mat-label>{{'GROUP_DETAIL.MEMBERS.FILTER_GROUP_STATUS' | translate}}</mat-label>
    <mat-select (closed)="changeGroupStatuses()" [formControl]="groupStatuses" multiple>
      <mat-select-trigger>
        {{displaySelectedGroupStatuses() | memberStatus}}
      </mat-select-trigger>
      <mat-option
        class="group-theme"
        *ngFor="let status of groupStatusList"
        [value]="status"
        >{{status | memberStatus}}</mat-option
      >
    </mat-select>
  </mat-form-field>

  <perun-web-apps-debounce-filter
    (filter)="onSearchByString($event)"
    [placeholder]="'GROUP_DETAIL.MEMBERS.SEARCH_DESCRIPTION'"
    class="mt-2 search-field">
  </perun-web-apps-debounce-filter>
</div>
<ng-template #spinner>
  <perun-web-apps-loading-table></perun-web-apps-loading-table>
</ng-template>
<div class="position-relative">
  <perun-web-apps-members-dynamic-list
    *perunWebAppsLoader="loading$ | async; indicator: spinner"
    (loading$)="loading$ = $event"
    [attrNames]="memberAttrNames"
    [groupId]="group.id"
    [tableId]="tableId"
    [displayedColumns]="displayedColumns"
    [searchString]="searchString"
    [updateTable]="updateTable"
    [selectedGroupStatuses]="selectedGroupStatuses"
    [selectedStatuses]="selectedStatuses"
    [selection]="selection"
    [voId]="group.voId"
    [isMembersGroup]="group.name === 'members'">
  </perun-web-apps-members-dynamic-list>
</div>
