<h1 class="page-subtitle">{{'GROUP_DETAIL.MEMBERS.TITLE' | translate}}</h1>
<perun-web-apps-alert *ngIf="synchEnabled" alert_type="warn">
  {{'GROUP_DETAIL.MEMBERS.ACTIONS_DISABLED' | translate}}
</perun-web-apps-alert>
<div class="align-elements">
  <perun-web-apps-refresh-button (click)="refreshTable()"></perun-web-apps-refresh-button>
  <span
    [matTooltipDisabled]="!(group | groupMembersActionButtonDisabled: 'add')"
    [matTooltipPosition]="'above'"
    matTooltip="{{group | groupMembersActionButtonDisabledTooltip: 'add' | translate}}">
    <button
      (click)="onAddMember()"
      *ngIf="addAuth"
      [disabled]="(group | groupMembersActionButtonDisabled: 'add')"
      class="mr-2 action-button"
      color="accent"
      data-cy="add-members"
      mat-flat-button>
      {{'GROUP_DETAIL.MEMBERS.ADD_MEMBER' | translate}}
    </button>
  </span>
  <span
    [matTooltipDisabled]="!(group | groupMembersActionButtonDisabled)"
    [matTooltipPosition]="'above'"
    matTooltip="{{group | groupMembersActionButtonDisabledTooltip | translate}}">
    <button
      (click)="onInviteMember()"
      *ngIf="inviteAuth"
      [disabled]="(group | groupMembersActionButtonDisabled)"
      class="mr-2 action-button"
      color="accent"
      mat-flat-button>
      {{'GROUP_DETAIL.MEMBERS.INVITE_MEMBER' | translate}}
    </button>
  </span>
  <span
    [matTooltipDisabled]="!(group | groupMembersActionButtonDisabled)"
    [matTooltipPosition]="'above'"
    matTooltip="{{group | groupMembersActionButtonDisabledTooltip | translate}}">
    <button
      (click)="onRemoveMembers()"
      *ngIf="removeAuth"
      [disabled]="selection.isEmpty() || (group | groupMembersActionButtonDisabled)"
      class="mr-2"
      color="warn"
      data-cy="remove-members"
      mat-flat-button>
      {{'GROUP_DETAIL.MEMBERS.REMOVE_MEMBERS' | translate}}
    </button>
  </span>
  <mat-form-field class="mr-2 fix-select">
    <mat-label>{{'GROUP_DETAIL.MEMBERS.FILTER_STATUS' | translate}}</mat-label>
    <mat-select (closed)="changeVoStatuses()" [formControl]="statuses" multiple>
      <mat-select-trigger>
        {{displaySelectedStatuses() | memberStatus}}
      </mat-select-trigger>
      <mat-option
        class="group-theme"
        *ngFor="let status of statusList"
        [value]="status"
        >{{status | memberStatus}}</mat-option
      >
    </mat-select>
  </mat-form-field>
  <mat-form-field class="mr-2 fix-select">
    <mat-label>{{'GROUP_DETAIL.MEMBERS.FILTER_GROUP_STATUS' | translate}}</mat-label>
    <mat-select (closed)="changeGroupStatuses()" [formControl]="groupStatuses" multiple>
      <mat-select-trigger>
        {{displaySelectedGroupStatuses() | memberStatus}}
      </mat-select-trigger>
      <mat-option
        class="group-theme"
        *ngFor="let status of groupStatusList"
        [value]="status"
        >{{status | memberStatus}}</mat-option
      >
    </mat-select>
  </mat-form-field>

  <perun-web-apps-debounce-filter
    (filter)="onSearchByString($event)"
    [placeholder]="'GROUP_DETAIL.MEMBERS.SEARCH_DESCRIPTION'"
    class="mt-2 search-field">
  </perun-web-apps-debounce-filter>
</div>
<mat-spinner *ngIf="loading" class="ml-auto mr-auto"> </mat-spinner>
<perun-web-apps-members-dynamic-list
  *ngIf="!loading"
  [attrNames]="memberAttrNames"
  [groupId]="group.id"
  [tableId]="tableId"
  [displayedColumns]="displayedColumns"
  [searchString]="searchString"
  [updateTable]="updateTable"
  [selectedGroupStatuses]="selectedGroupStatuses"
  [selectedStatuses]="selectedStatuses"
  [selection]="selection"
  [voId]="group.voId"
  [isMembersGroup]="group.name === 'members'">
</perun-web-apps-members-dynamic-list>
