<div class="{{theme}}">
  <h1 mat-dialog-title>{{'DIALOGS.REMOVE_MEMBERS.TITLE' | translate}}</h1>
  <div *ngIf="!loading" mat-dialog-content>
    <p>
      {{(!!data.groupId ? 'DIALOGS.REMOVE_MEMBERS.DESCRIPTION_GROUP' : 'DIALOGS.REMOVE_MEMBERS.DESCRIPTION') | translate}}
    </p>

    <div class="font-weight-bold">
      {{'DIALOGS.REMOVE_MEMBERS.ASK' | translate}}
    </div>

    <table [dataSource]="dataSource" class="w-100" mat-table>
      <ng-container matColumnDef="id">
        <th *matHeaderCellDef mat-header-cell></th>
        <td *matCellDef="let member" mat-cell>{{member.id}}</td>
      </ng-container>
      <ng-container matColumnDef="name">
        <th *matHeaderCellDef mat-header-cell></th>
        <td *matCellDef="let member" mat-cell>{{member.user | userFullName}}</td>
      </ng-container>

      <tr *matHeaderRowDef="displayedColumns" class="font-weight-bolder" mat-header-row></tr>
      <tr *matRowDef="let member; columns: displayedColumns;" mat-row></tr>
    </table>
  </div>
  <mat-spinner *ngIf="loading" class="mr-auto ml-auto"></mat-spinner>
  <div *ngIf="!loading" mat-dialog-actions>
    <button (click)="onCancel()" class="ml-auto" mat-flat-button>
      {{'DIALOGS.REMOVE_MEMBERS.CANCEL' | translate}}
    </button>
    <button
      (click)="onSubmit()"
      class="ml-2"
      color="warn"
      data-cy="remove-members-dialog"
      mat-flat-button>
      {{(!!data.groupId ? 'DIALOGS.REMOVE_MEMBERS.REMOVE_GROUP' : 'DIALOGS.REMOVE_MEMBERS.REMOVE') | translate}}
    </button>
  </div>
</div>
