<div class="user-theme">
  <h1 mat-dialog-title>{{"DIALOGS.UPDATE_RANK.TITLE" | translate}}{{categoryName}}</h1>
  <mat-spinner class="ml-auto mr-auto" *ngIf="loading"></mat-spinner>
  <div *ngIf="!loading">
    <div mat-dialog-content class="dialog-container">
      <mat-form-field>
        <mat-label>{{'DIALOGS.UPDATE_RANK.RANK' | translate}}</mat-label>
        <input matInput required [formControl]="rankCtrl" />
        <mat-error>
          {{'DIALOGS.UPDATE_RANK.FILL_RANK' | translate}}
        </mat-error>
        <mat-hint>{{'DIALOGS.UPDATE_RANK.RANK_HINT' | translate}}</mat-hint>
      </mat-form-field>
    </div>
    <div mat-dialog-actions>
      <button mat-flat-button class="ml-auto" (click)="onCancel()">
        {{'DIALOGS.UPDATE_RANK.CANCEL' | translate}}
      </button>
      <div
        matTooltip="{{'DIALOGS.UPDATE_RANK.TOOLTIP' | translate}}"
        matTooltipPosition="above"
        [matTooltipDisabled]="rankCtrl.valid">
        <button
          mat-flat-button
          class="ml-2"
          color="accent"
          [disabled]="rankCtrl.invalid"
          (click)="onSubmit()">
          {{'DIALOGS.UPDATE_RANK.UPDATE' | translate}}
        </button>
      </div>
    </div>
  </div>
</div>
