<div>
  <h1 class="page-subtitle">{{'GROUP_DETAIL.SETTINGS.RELATIONS.TITLE' | translate}}</h1>
  <perun-web-apps-refresh-button (refresh)="refreshTable()"></perun-web-apps-refresh-button>
  <button
    (click)="onCreate()"
    class="mr-2 action-button"
    color="accent"
    [disabled]="reverse"
    mat-flat-button>
    {{'GROUP_DETAIL.SETTINGS.RELATIONS.CREATE' | translate}}
  </button>
  <span
    matTooltip="{{'GROUP_DETAIL.SETTINGS.RELATIONS.DELETE_TOOLTIP' | translate}}"
    [matTooltipDisabled]="selection.selected.length === 0 || (list !== undefined && list.removeAuth)">
    <button
      [disabled]="selection.selected.length === 0 || (list !== undefined && !list.removeAuth) || reverse"
      class="mr-2"
      color="warn"
      (click)="onDelete()"
      mat-flat-button>
      {{'GROUP_DETAIL.SETTINGS.RELATIONS.DELETE' | translate}}
    </button>
  </span>
  <perun-web-apps-immediate-filter
    (filter)="applyFilter($event)"
    [placeholder]="'GROUP_DETAIL.SETTINGS.RELATIONS.FILTER'"></perun-web-apps-immediate-filter>
  <mat-checkbox
    (change)="showReverseUnions()"
    >{{'GROUP_DETAIL.SETTINGS.RELATIONS.REVERSE_UNIONS' | translate}}</mat-checkbox
  >
  <mat-spinner *ngIf="loading" class="ml-auto mr-auto"></mat-spinner>

  <perun-web-apps-groups-list
    #list
    [authType]="'group-relations'"
    *ngIf="!loading"
    [groups]="groups"
    [parentGroup]="group"
    [disableHeadCheckbox]="true"
    [selection]="selection"
    [displayedColumns]="['select', 'id', 'vo', 'name', 'description']"
    [filter]="filterValue"
    [tableId]="tableId"></perun-web-apps-groups-list>
</div>
