<div>
  <h1 class="page-subtitle">{{'VO_DETAIL.GROUPS.TITLE' | translate}}</h1>
  <perun-web-apps-refresh-button (refresh)="loadAllGroups()"></perun-web-apps-refresh-button>
  <button
    *ngIf="createAuth"
    (click)="onCreateGroup()"
    color="accent"
    class="mr-2 action-button"
    data-cy="create-group-button"
    mat-flat-button>
    {{'VO_DETAIL.GROUPS.CREATE_GROUP' | translate}}
  </button>
  <span
    [matTooltipDisabled]="(tree === undefined && list === undefined) || disableTooltip()"
    matTooltip="{{'VO_DETAIL.GROUPS.DELETE_PERMISSION_HINT' | translate}}">
    <button
      (click)="deleteGroup()"
      color="warn"
      [disabled]="selected.selected.length === 0 || disableRemove()"
      data-cy="delete-group-button"
      class="mr-2"
      mat-flat-button>
      {{'VO_DETAIL.GROUPS.DELETE_GROUP' | translate}}
    </button>
  </span>
  <perun-web-apps-debounce-filter
    (filter)="applyFilter($event)"
    [placeholder]="'VO_DETAIL.GROUPS.FILTER'">
  </perun-web-apps-debounce-filter>
  <mat-slide-toggle
    #toggle
    (change)="removeAllGroups()"
    [(ngModel)]="showGroupList"
    class="mr-1"
    color="primary"
    labelPosition="before"
    >{{'VO_DETAIL.GROUPS.TREE_VIEW' | translate}}</mat-slide-toggle
  >
  <label [attr.for]="toggle.inputId">{{'VO_DETAIL.GROUPS.LIST_VIEW' | translate}}</label>
  <mat-spinner *ngIf="loading" class="ml-auto mr-auto"></mat-spinner>
  <div *ngIf="!loading && groups.length !== 0" class="mt-3">
    <perun-web-apps-groups-tree
      #tree
      (moveGroup)="onMoveGroup($event)"
      *ngIf="!showGroupList"
      (refreshTable)="loadAllGroups()"
      [expandAll]="filtering"
      [disableRouting]="!routeAuth"
      [groups]="groups"
      [selection]="selected"
      [filterValue]="filterValue"
      [vo]="vo"
      theme="vo-theme">
    </perun-web-apps-groups-tree>
    <perun-web-apps-groups-list
      #list
      (refreshTable)="loadAllGroups()"
      (moveGroup)="onMoveGroup($event)"
      *ngIf="showGroupList"
      [authType]="'vo-groups'"
      [disableMembers]="true"
      [displayedColumns]="['select', 'id', 'name', 'description', 'menu']"
      [disableRouting]="!routeAuth"
      [groups]="groups"
      [selection]="selected"
      [filter]="filterValue"
      [tableId]="tableId"
      theme="vo-theme">
    </perun-web-apps-groups-list>
  </div>

  <perun-web-apps-alert *ngIf="groups.length === 0 && !loading" alert_type="warn">
    {{'VO_DETAIL.GROUPS.NO_GROUPS' | translate}}
  </perun-web-apps-alert>
</div>
