<h1 class="page-subtitle">
  {{'USER_DETAIL.BANS.TITLE' | translate}}
</h1>

<mat-tab-group class="mt-3" (selectedTabChange)="refresh($event)">
  <mat-tab>
    <ng-template matTabLabel>
      {{'USER_DETAIL.BANS.VO' | translate}}
    </ng-template>
    <ng-template matTabContent>
      <perun-web-apps-debounce-filter
        (filter)="filter = $event"
        [placeholder]="'USER_DETAIL.BANS.FILTER'"
        class="mt-2 search-field">
      </perun-web-apps-debounce-filter>
      <div class="position-relative">
        <perun-web-apps-ban-on-entity-list
          *perunWebAppsLoader="loading; indicator: spinner"
          [bans]="voBans"
          [displayedColumns]="displayedColumns"
          [filter]="filter"
          [updatePolicy]="'updateBan_BanOnVo_policy'"
          (updateBan)="updateVoBan($event)">
        </perun-web-apps-ban-on-entity-list>
      </div>
    </ng-template>
  </mat-tab>
  <mat-tab>
    <ng-template matTabLabel>
      {{'USER_DETAIL.BANS.RESOURCE' | translate}}
    </ng-template>
    <ng-template matTabContent>
      <perun-web-apps-debounce-filter
        (filter)="filter = $event"
        [placeholder]="'USER_DETAIL.BANS.FILTER'"
        class="mt-2 search-field">
      </perun-web-apps-debounce-filter>
      <div class="position-relative">
        <perun-web-apps-ban-on-entity-list
          *perunWebAppsLoader="loading; indicator: spinner"
          [bans]="resourceBans"
          [displayedColumns]="displayedColumns"
          [filter]="filter"
          [updatePolicy]="'updateBan_BanOnResource_policy'"
          (updateBan)="updateResourceBan($event)">
        </perun-web-apps-ban-on-entity-list>
      </div>
    </ng-template>
  </mat-tab>
  <mat-tab>
    <ng-template matTabLabel>
      {{'USER_DETAIL.BANS.FACILITY' | translate}}
    </ng-template>
    <ng-template matTabContent>
      <perun-web-apps-debounce-filter
        (filter)="filter = $event"
        [placeholder]="'USER_DETAIL.BANS.FILTER'"
        class="mt-2 search-field">
      </perun-web-apps-debounce-filter>
      <div class="position-relative">
        <perun-web-apps-ban-on-entity-list
          *perunWebAppsLoader="loading; indicator: spinner"
          [bans]="facilityBans"
          [displayedColumns]="displayedColumns"
          [filter]="filter"
          [updatePolicy]="'updateBan_BanOnFacility_policy'"
          (updateBan)="updateFacilityBan($event)">
        </perun-web-apps-ban-on-entity-list>
      </div>
    </ng-template>
  </mat-tab>
</mat-tab-group>

<ng-template #spinner>
  <perun-web-apps-loading-table></perun-web-apps-loading-table>
</ng-template>
