<div>
  <h1 class="page-subtitle">{{'ADMIN.EXT_SOURCES.TITLE' | translate}}</h1>
  <perun-web-apps-refresh-button (click)="onLoad()"></perun-web-apps-refresh-button>

  <perun-web-apps-immediate-filter
    (filter)="applyFilter($event)"
    [placeholder]="'ADMIN.EXT_SOURCES.SEARCH'"></perun-web-apps-immediate-filter>
  <ng-template #spinner>
    <perun-web-apps-loading-table></perun-web-apps-loading-table>
  </ng-template>

  <div class="position-relative">
    <app-ext-sources-list
      *perunWebAppsLoader="loading; indicator: spinner"
      [extSources]="extSources"
      [filterValue]="filterValue"
      [displayedColumns]="['id', 'name', 'type']"
      [tableId]="tableId">
    </app-ext-sources-list>
  </div>
</div>
