<div>
  <h1 class="page-subtitle">{{'ADMIN.EXT_SOURCES.TITLE' | translate}}</h1>

  <button (click)="onLoad()" *ngIf="authResolver.isPerunAdmin()" class="mr-2" mat-stroked-button>
    {{'ADMIN.EXT_SOURCES.LOAD' | translate}}
  </button>

  <perun-web-apps-immediate-filter
    (filter)="applyFilter($event)"
    [placeholder]="'ADMIN.EXT_SOURCES.SEARCH'"></perun-web-apps-immediate-filter>
  <mat-spinner *ngIf="loading" class="ml-auto mr-auto"></mat-spinner>

  <app-ext-sources-list
    *ngIf="!loading"
    [extSources]="extSources"
    [filterValue]="filterValue"
    [displayedColumns]="['id', 'name', 'type']"
    [tableId]="tableId">
  </app-ext-sources-list>
</div>
