<ng-template #spinner>
  <perun-web-apps-loading-dialog></perun-web-apps-loading-dialog>
</ng-template>
<div class="{{theme}} position-relative">
  <div *perunWebAppsLoader="loading; indicator: spinner">
    <h1 mat-dialog-title>{{'DIALOGS.ADD_BAN.TITLE' | translate}}</h1>
    <div mat-dialog-content>
      <mat-stepper [linear]="true" #stepper>
        <mat-step [completed]="!disabled" [label]="'DIALOGS.ADD_BAN.SELECTION' | translate">
          <ng-content></ng-content>
        </mat-step>
        <mat-step [label]="'DIALOGS.ADD_BAN.SPECIFICATION' | translate">
          <perun-web-apps-alert *ngIf="ban" [alert_type]="'info'">
            {{'DIALOGS.ADD_BAN.ALREADY_BANNED' | translate}}
          </perun-web-apps-alert>
          <perun-web-apps-ban-specification
            [description]="ban?.description"
            [validity]="ban?.validityTo">
          </perun-web-apps-ban-specification>
        </mat-step>
      </mat-stepper>
    </div>
    <div mat-dialog-actions>
      <button mat-stroked-button class="ms-auto me-2" (click)="cancel.emit()">
        {{'DIALOGS.ADD_BAN.CANCEL' | translate}}
      </button>
      <button
        *ngIf="stepper.selectedIndex !== stepper?._steps?.length - 1"
        mat-flat-button
        class="me-2"
        color="accent"
        (click)="stepper.next()"
        [disabled]="disabled">
        {{'DIALOGS.ADD_BAN.NEXT' | translate}}
      </button>
      <button
        *ngIf="stepper.selectedIndex === stepper?._steps?.length - 1"
        mat-stroked-button
        class="me-2"
        (click)="stepper.previous()">
        {{'DIALOGS.ADD_BAN.BACK' | translate}}
      </button>
      <button
        *ngIf="stepper.selectedIndex === stepper?._steps?.length - 1"
        mat-flat-button
        color="accent"
        (click)="addBan()">
        {{(!ban ? 'DIALOGS.ADD_BAN.ADD' : 'DIALOGS.ADD_BAN.UPDATE') | translate}}
      </button>
    </div>
  </div>
</div>
