<perun-web-apps-alert alert_type="info">
  {{'DIALOGS.NOTIFICATIONS_ADD_EDIT_MAIL.TAGS_DESCRIPTION' | translate}}
</perun-web-apps-alert>
<div cdkScrollable class="scrollable">
  <div class="font-weight-bold">
    {{'DIALOGS.NOTIFICATIONS_ADD_EDIT_MAIL.APPLICATION_RELATED_SECTION' | translate}}:
  </div>
  <app-tag-section (addedTag)="addTag($event)" [tags]="applicationRelatedTags"> </app-tag-section>

  <div class="font-weight-bold pt-2">
    {{'DIALOGS.NOTIFICATIONS_ADD_EDIT_MAIL.USER_RELATED_SECTION' | translate}}:
  </div>

  <app-tag-section (addedTag)="addTag($event)" [tags]="userRelatedTags"> </app-tag-section>

  <div class="font-weight-bold pt-2">
    {{'DIALOGS.NOTIFICATIONS_ADD_EDIT_MAIL.VALIDATION_LINKS_USERS_SECTION' | translate}}:
  </div>

  <div class="font-italic text-muted">
    {{'DIALOGS.NOTIFICATIONS_ADD_EDIT_MAIL.VALIDATION_LINKS_DESCRIPTION' | translate}}
  </div>

  <app-tag-section (addedTag)="addTag($event)" [tags]="validationLinksUsersTags"> </app-tag-section>

  <div class="font-weight-bold pt-2">
    {{'DIALOGS.NOTIFICATIONS_ADD_EDIT_MAIL.APPLICATION_LINKS_USERS_SECTION' | translate}}:
  </div>

  <div class="font-italic text-muted">
    {{'DIALOGS.NOTIFICATIONS_ADD_EDIT_MAIL.APPLICATION_LINKS_DESCRIPTION' | translate}}
  </div>

  <app-tag-section (addedTag)="addTag($event)" [tags]="applicationLinksUsersTags">
  </app-tag-section>

  <div class="font-weight-bold pt-2">
    {{'DIALOGS.NOTIFICATIONS_ADD_EDIT_MAIL.APPLICATION_LINKS_ADMINISTRATOR_SECTION' | translate}}:
  </div>

  <div class="font-italic text-muted">
    {{'DIALOGS.NOTIFICATIONS_ADD_EDIT_MAIL.APPLICATION_LINKS_ADMINISTRATOR_DESCRIPTION' | translate}}
  </div>

  <app-tag-section (addedTag)="addTag($event)" [tags]="applicationLinksAdministratorsTags">
  </app-tag-section>

  <div class="font-weight-bold pt-2">
    {{'DIALOGS.NOTIFICATIONS_ADD_EDIT_MAIL.PERUN_LINKS_ADMINISTRATOR_SECTION' | translate}}:
  </div>

  <div class="font-italic text-muted">
    {{'DIALOGS.NOTIFICATIONS_ADD_EDIT_MAIL.PERUN_LINKS_ADMINISTRATOR_DESCRIPTION' | translate}}
  </div>

  <app-tag-section (addedTag)="addTag($event)" [tags]="perunLinksAdministratorsTags">
  </app-tag-section>

  <div class="font-weight-bold pt-2">
    {{'DIALOGS.NOTIFICATIONS_ADD_EDIT_MAIL.USER_INVITATIONS_SECTION' | translate}}:
  </div>

  <div class="font-italic text-muted">
    {{'DIALOGS.NOTIFICATIONS_ADD_EDIT_MAIL.USER_INVITATIONS_DESCRIPTION' | translate}}
  </div>

  <app-tag-section (addedTag)="addTag($event)" [tags]="userInvitationsTags"> </app-tag-section>
</div>
