<mat-spinner class="ml-auto mr-auto mt-2" *ngIf="loadingMfa"></mat-spinner>
<div [hidden]="loadingMfa">
  <span
    [matTooltip]="'AUTHENTICATION.MFA_DISABLED' | customTranslate | translate"
    [matTooltipDisabled]="mfaAvailable"
    matTooltipPosition="right">
    <mat-slide-toggle [disabled]="!mfaAvailable" (toggleChange)="toggleEnableMfa()" #toggle
      >{{'AUTHENTICATION.MFA_TOGGLE' | customTranslate | translate}}
      <button
        mat-icon-button
        class="ml-2"
        (click)="showDetailSettings()"
        [hidden]="!enableDetailSettings"
        [disabled]="!mfaAvailable">
        <mat-icon>{{showDetail ? 'keyboard_arrow_up' : 'keyboard_arrow_down'}}</mat-icon>
      </button>
    </mat-slide-toggle>
  </span>
  <button
    mat-flat-button
    color="accent"
    class="ml-3"
    (click)="saveSettings()"
    [disabled]="unchangedSettings && unchangedEnforce">
    {{'AUTHENTICATION.MFA_SAVE'|translate}}
  </button>
  <div *ngIf="showDetail">
    <div *ngFor="let category of categories | keyvalue">
      <mat-slide-toggle
        [checked]="category.value.value"
        class="ml-4"
        (toggleChange)="toggleCategory(category.value)">
        {{category.value.label[this.translate.currentLang]}}
        <button mat-icon-button (click)="category.value.show = !category.value.show">
          <mat-icon>{{category.value.show ? 'keyboard_arrow_up' : 'keyboard_arrow_down'}}</mat-icon>
        </button>
      </mat-slide-toggle>
      <div *ngIf="category.value.show">
        <div *ngFor="let rps of category?.value['rps'] | keyvalue">
          <mat-slide-toggle
            [checked]="category?.value['rps_value'][rps.key]"
            (toggleChange)="toggleRps(category, rps.key)"
            class="ml-5">
            {{rps.value[this.translate.currentLang]}}
          </mat-slide-toggle>
        </div>
      </div>
    </div>
  </div>
  <mat-spinner class="ml-auto mr-auto mt-2" *ngIf="loadingCategories"></mat-spinner>
</div>
