<div class="{{theme}}">
  <h1 mat-dialog-title>{{'DIALOGS.ADD_GROUPS.TITLE' | translate}}</h1>

  <div mat-dialog-content>
    <div class="inline-dialog-items">
      <mat-form-field class="mr-2">
        <mat-label>{{'SHARED.COMPONENTS.MANAGERS_PAGE.SELECT_ROLE' | translate}}</mat-label>
        <mat-select [(value)]="selectedRole">
          <mat-option
            *ngFor="let role of availableRoles"
            [value]="role"
            >{{role | displayedRole}}</mat-option
          >
        </mat-select>
      </mat-form-field>

      <mat-form-field class="mr-2 w-75">
        <mat-label>{{'DIALOGS.ADD_GROUPS.SELECT_VO' | translate}}</mat-label>
        <input
          [formControl]="myControl"
          [matAutocomplete]="auto"
          aria-label="Assignee"
          matInput
          placeholder="{{'DIALOGS.ADD_GROUPS.SELECT_VO' | translate}}"
          type="text" />
        <mat-autocomplete
          #auto="matAutocomplete"
          (optionSelected)="showVoGroups($event)"
          [displayWith]="displayFn">
          <mat-option *ngFor="let vo of filteredOptions | async" [value]="vo">
            {{vo.name}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>
    <perun-web-apps-debounce-filter
      *ngIf="groups !== null && groups.length > 0 && !loading"
      (filter)="applyFilter($event)"
      placeholder="{{'DIALOGS.ADD_GROUPS.FILTER_GROUPS' | translate}}">
    </perun-web-apps-debounce-filter>
    <div class="overflow-hidden">
      <mat-spinner *ngIf="loading" class="mr-auto ml-auto"></mat-spinner>
    </div>
    <div *ngIf="groups !== null && !loading" class="mt-3">
      <perun-web-apps-groups-list
        [disableMembers]="false"
        [disableRouting]="true"
        [displayedColumns]="['select', 'id', 'name', 'description']"
        [selection]="selection"
        [filter]="filterValue"
        [groups]="groups"
        [tableId]="tableId">
      </perun-web-apps-groups-list>
    </div>
  </div>

  <div mat-dialog-actions>
    <button (click)="onCancel()" class="ml-auto" mat-flat-button>
      {{'DIALOGS.ADD_MANAGERS.CANCEL' | translate}}
    </button>
    <button
      (click)="onSubmit()"
      class="ml-2"
      color="accent"
      [disabled]="selection.selected.length === 0 || loading"
      mat-flat-button>
      {{'DIALOGS.ADD_MANAGERS.CREATE' | translate}}
    </button>
  </div>
</div>
