<ng-template #spinner>
  <perun-web-apps-loading-dialog></perun-web-apps-loading-dialog>
</ng-template>
<div class="{{theme}} position-relative">
  <div *perunWebAppsLoader="loading; indicator: spinner">
    <h1 mat-dialog-title>{{'DIALOGS.DELETE_TASK.TITLE' | translate}}</h1>
    <div mat-dialog-content>
      <div class="fw-bold">
        {{'DIALOGS.DELETE_TASK.DESCRIPTION' | translate}}
      </div>
    </div>
    <div mat-dialog-actions>
      <button (click)="cancel()" class="ms-auto" mat-flat-button>
        {{'DIALOGS.DELETE_TASK.CANCEL' | translate}}
      </button>
      <button (click)="remove()" [disabled]="loading" class="ms-2" color="warn" mat-flat-button>
        {{'DIALOGS.DELETE_TASK.DELETE' | translate}}
      </button>
    </div>
  </div>
</div>
