<div>
  <h1 class="page-subtitle">{{ 'SERVICE_DETAIL.REQUIRED_ATTRIBUTES.TITLE' | translate}}</h1>
  <perun-web-apps-refresh-button (refresh)="refreshTable()"> </perun-web-apps-refresh-button>
  <button
    *ngIf="authResolver.isPerunAdmin()"
    (click)="onAdd()"
    color="accent"
    class="mr-2 action-button"
    mat-flat-button>
    {{ 'SERVICE_DETAIL.REQUIRED_ATTRIBUTES.ADD' | translate}}
  </button>
  <button
    *ngIf="authResolver.isPerunAdmin()"
    (click)="onRemove()"
    [disabled]="selection.selected.length === 0"
    class="mr-2"
    color="warn"
    mat-flat-button>
    {{ 'SERVICE_DETAIL.REQUIRED_ATTRIBUTES.REMOVE' | translate}}
  </button>
  <perun-web-apps-immediate-filter
    (filter)="applyFilter($event)"
    [placeholder]="'SERVICE_DETAIL.REQUIRED_ATTRIBUTES.FILTER'">
  </perun-web-apps-immediate-filter>
  <mat-spinner *ngIf="loading" class="ml-auto mr-auto"></mat-spinner>
  <app-attr-def-list
    *ngIf="!loading"
    (refreshEvent)="refreshTable()"
    [definitions]="attrDefinitions"
    [filterValue]="filterValue"
    [selection]="selection"
    [disableRouting]="!authResolver.isPerunAdmin()"
    [tableId]="tableId">
  </app-attr-def-list>
</div>
