<mat-spinner class="ml-auto mr-auto" *ngIf="loading"></mat-spinner>
<perun-web-apps-alert
  *ngIf="items.length === 0 && !loading"
  alert_type="info"
  >{{'USER_DETAIL.DASHBOARD.NO_RECENTLY_VIEWED' | translate}}</perun-web-apps-alert
>
<div *ngIf="items.length > 0" class="items-container">
  <div *ngFor="let item of items" class="item-itself-container" mat-ripple>
    <a
      class="{{item.style}} item-itself"
      [routerLink]="item.url"
      queryParamsHandling="merge"
      matTooltip="{{item.tooltip}}">
      <span class="item-type">{{item.type}}</span>
      <mat-icon [svgIcon]="item.cssIcon" class="item-pic perun-icon"></mat-icon>
      <p class="truncate">{{item.label}}</p>
    </a>
  </div>
</div>
