<div>
  <h1 class="page-subtitle">{{'USER_DETAIL.FACILITIES.TITLE' | translate}}</h1>
  <perun-web-apps-refresh-button (refresh)="refreshTable()"></perun-web-apps-refresh-button>
  <perun-web-apps-immediate-filter
    (filter)="applyFilter($event)"
    [placeholder]="'USER_DETAIL.FACILITIES.FILTER_PLACEHOLDER'">
  </perun-web-apps-immediate-filter>
  <mat-spinner *ngIf="loading" class="ml-auto mr-auto"></mat-spinner>
  <perun-web-apps-facilities-list
    [displayedColumns]="displayedColumns"
    *ngIf="!loading"
    [filterValue]="filterValue"
    [facilities]="facilities"
    [tableId]="tableId">
  </perun-web-apps-facilities-list>
</div>
