<ng-template #spinner>
  <perun-web-apps-loading-dialog></perun-web-apps-loading-dialog>
</ng-template>
<div class="{{theme}} position-relative">
  <div *perunWebAppsLoader="loading; indicator: spinner">
    <h1 mat-dialog-title>{{'DIALOGS.CREATE_FACILITY.TITLE' | translate}}</h1>
    <div class="dialog-container" mat-dialog-content>
      <mat-form-field>
        <mat-label>{{'DIALOGS.CREATE_FACILITY.NAME' | translate}}</mat-label>
        <input
          matInput
          required
          data-cy="facility-name-input"
          [formControl]="nameControl" />
        <mat-error>{{"DIALOGS.CREATE_FACILITY.REQUIRE_NAME" | translate}}</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>{{'DIALOGS.CREATE_FACILITY.DESCRIPTION' | translate}}</mat-label>
        <input
          matInput
          data-cy="facility-description-input"
          [formControl]="descControl" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>{{'DIALOGS.CREATE_FACILITY.AS_COPY' | translate}}</mat-label>
        <mat-select
          disableOptionCentering="true">
          <mat-option (click)="srcFacility = null">
            {{'DIALOGS.CREATE_FACILITY.NO_COPY' | translate}}
          </mat-option>
          <mat-option
            (click)="srcFacility = facility"
            *ngFor="let facility of facilities"
            [value]="facility">
            {{facility.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <perun-web-apps-alert alert_type="info">
        <i [innerHTML]="'DIALOGS.CREATE_FACILITY.HINT' | translate"></i>
      </perun-web-apps-alert>
    </div>
    <div mat-dialog-actions>
      <button (click)="onCancel()" class="ml-auto" mat-flat-button>
        {{"DIALOGS.CREATE_FACILITY.CANCEL" | translate}}
      </button>
      <button
        (click)="onCreate(false)"
        class="ml2"
        data-cy="create-facility-button"
        [disabled]="nameControl.value.trim().length === 0 || loading"
        color="accent"
        mat-flat-button>
        {{"DIALOGS.CREATE_FACILITY.CREATE" | translate}}
      </button>
      <button
        (click)="onCreate(true)"
        class="ml2"
        [disabled]="nameControl.value.trim().length === 0 || !!srcFacility || loading"
        color="accent"
        mat-flat-button>
        {{"DIALOGS.CREATE_FACILITY.CREATE_AND_CONFIGURE" | translate}}
      </button>
    </div>
  </div>
</div>
