<div [hidden]="this.applicationMails.length === 0" class="card mt-2">
  <perun-web-apps-table-wrapper
    [pageSizeOptions]="pageSizeOptions"
    [dataLength]="dataSource.filteredData.length"
    [hideExport]="true"
    [tableId]="tableId">
    <table
      [dataSource]="dataSource"
      class="w-100"
      mat-table
      matSort
      matSortDirection="asc"
      matSortDisableClear>
      <ng-container
        matColumnDef="select"
        *ngIf="{all: dataSource | isAllSelected: selection.selected.length} as selected">
        <th *matHeaderCellDef class="align-checkbox" mat-header-cell>
          <mat-checkbox
            (change)="$event ? masterToggle() : null"
            [aria-label]="selected.all | masterCheckboxLabel | translate"
            [checked]="selection.hasValue() && selected.all"
            [indeterminate]="selection.hasValue() && !selected.all"
            color="primary">
          </mat-checkbox>
        </th>
        <td *matCellDef="let row" class="static-column-size align-checkbox" mat-cell>
          <mat-checkbox
            (change)="$event ? toggle(row) : null"
            (click)="$event.stopPropagation()"
            [aria-label]="selection.isSelected(row) | checkboxLabel | translate: {name: getMailType(row)}"
            [checked]="selection.isSelected(row)"
            color="primary">
          </mat-checkbox>
        </td>
      </ng-container>
      <ng-container matColumnDef="id">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>
          {{'VO_DETAIL.SETTINGS.NOTIFICATIONS.TABLE_EMAIL_ID' | translate}}
        </th>
        <td *matCellDef="let applicationMail" class="static-column-size" mat-cell>
          {{applicationMail.id}}
        </td>
      </ng-container>
      <ng-container matColumnDef="mailType">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>
          {{'VO_DETAIL.SETTINGS.NOTIFICATIONS.TABLE_EMAIL_TYPE' | translate}}
        </th>
        <td *matCellDef="let applicationMail" mat-cell>{{getMailType(applicationMail)}}</td>
      </ng-container>
      <ng-container matColumnDef="appType">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>
          {{'VO_DETAIL.SETTINGS.NOTIFICATIONS.TABLE_APPLICATION_TYPE' | translate}}
        </th>
        <td *matCellDef="let applicationMail" mat-cell>
          <div
            *ngIf="applicationMail.appType === 'INITIAL'; else extension"
            class="d-flex align-items-center">
            <mat-icon matTooltip="Initial" matTooltipPosition="above">arrow_right_alt</mat-icon>
            {{'VO_DETAIL.SETTINGS.NOTIFICATIONS.TABLE_APPLICATION_TYPE_INITIAL' | translate}}
          </div>
          <ng-template #extension>
            <div class="d-flex align-items-center">
              <mat-icon matTooltip="Extension" matTooltipPosition="above">cached</mat-icon>
              {{'VO_DETAIL.SETTINGS.NOTIFICATIONS.TABLE_APPLICATION_TYPE_EXTENSION' | translate}}
            </div>
          </ng-template>
        </td>
      </ng-container>
      <ng-container matColumnDef="send">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>
          {{'VO_DETAIL.SETTINGS.NOTIFICATIONS.TABLE_SENDING_ENABLED' | translate}}
        </th>
        <td *matCellDef="let applicationMail" mat-cell>
          <section>
            <mat-slide-toggle
              (change)="changeSending(applicationMail)"
              (click)="$event.stopPropagation()"
              [disabled]="disableSend"
              [matTooltipDisabled]="!disableSend"
              [ngModel]="applicationMail.send"
              matTooltip="{{'VO_DETAIL.SETTINGS.NOTIFICATIONS.DISABLED_HINT' | translate}}">
            </mat-slide-toggle>
          </section>
        </td>
      </ng-container>

      <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
      <tr
        (click)="openApplicationMailDetail(applicationMail)"
        *matRowDef="let applicationMail; columns: displayedColumns;"
        [class.cursor-pointer]="true"
        class="dark-hover-list-item"
        mat-row></tr>
    </table>
  </perun-web-apps-table-wrapper>
</div>

<perun-web-apps-alert *ngIf="this.applicationMails.length === 0" alert_type="warn">
  {{'VO_DETAIL.SETTINGS.NOTIFICATIONS.NO_EMAILS' | translate}}
</perun-web-apps-alert>
