<h1 *ngIf="this.showPrincipal" class="page-subtitle">
  {{'SHARED.COMPONENTS.USER_DETAIL.GROUPS.YOU_ARE_MEMBER' | translate}}
</h1>
<h1 *ngIf="!this.showPrincipal" class="page-subtitle">
  {{'SHARED.COMPONENTS.USER_DETAIL.GROUPS.USER_IS_MEMBER' | translate}}
</h1>
<perun-web-apps-refresh-button (refresh)="refreshMemberTable()"></perun-web-apps-refresh-button>
<perun-web-apps-immediate-filter
  (filter)="memberFilter($event)"
  [placeholder]="'SHARED_LIB.PERUN.ORGANIZATIONS.FILTER'">
</perun-web-apps-immediate-filter>
<mat-spinner *ngIf="memberRefresh" class="ml-auto mr-auto"></mat-spinner>
<perun-web-apps-groups-list
  *ngIf="!memberRefresh"
  [disableMembers]="false"
  [groups]="membersGroups"
  [displayedColumns]="['id', 'vo', 'name', 'description']"
  [filter]="memberFilterValue"
  [tableId]="tableId">
</perun-web-apps-groups-list>

<div *ngIf="!this.showPrincipal" class="mt-5">
  <h1 class="page-subtitle">
    {{'SHARED.COMPONENTS.USER_DETAIL.GROUPS.USER_IS_ADMIN' | translate}}
  </h1>
  <perun-web-apps-refresh-button (refresh)="refreshAdminTable()"></perun-web-apps-refresh-button>
  <perun-web-apps-immediate-filter
    (filter)="adminFilter($event)"
    [placeholder]="'SHARED_LIB.PERUN.ORGANIZATIONS.FILTER'">
  </perun-web-apps-immediate-filter>
  <mat-spinner *ngIf="adminRefresh" class="ml-auto mr-auto"></mat-spinner>
  <perun-web-apps-groups-list
    *ngIf="!adminRefresh"
    [disableMembers]="false"
    [groups]="adminsGroups"
    [displayedColumns]="['id', 'vo', 'name', 'description']"
    [filter]="adminFilterValue"
    [tableId]="adminTableId">
  </perun-web-apps-groups-list>
</div>
