<div>
  <h1 class="page-subtitle">{{ 'MEMBER_DETAIL.RESOURCES.TITLE' | translate}}</h1>
  <perun-web-apps-refresh-button (refresh)="refreshTable()"></perun-web-apps-refresh-button>
  <button
    *ngIf="addAuth"
    (click)="addResource()"
    class="action-button"
    color="accent"
    class="me-2"
    mat-flat-button>
    {{ 'MEMBER_DETAIL.RESOURCES.ADD' | translate}}
  </button>
  <perun-web-apps-immediate-filter
    (filter)="applyFilter($event)"
    [placeholder]="'MEMBER_DETAIL.RESOURCES.FILTER'">
  </perun-web-apps-immediate-filter>
  <ng-template #spinner>
    <perun-web-apps-loading-table></perun-web-apps-loading-table>
  </ng-template>
  <div class="position-relative">
    <perun-web-apps-resources-list
      *perunWebAppsLoader="loading; indicator: spinner"
      [disableRouting]="!routeAuth"
      [filterValue]="filterValue"
      [displayedColumns]="displayedColumns"
      [routingVo]="true"
      [resources]="resources"
      [tableId]="tableId">
    </perun-web-apps-resources-list>
  </div>
</div>
