<div>
  <h1 class="page-subtitle">{{ 'MEMBER_DETAIL.RESOURCES.TITLE' | translate}}</h1>
  <perun-web-apps-refresh-button (refresh)="refreshTable()"></perun-web-apps-refresh-button>
  <button
    *ngIf="addAuth"
    (click)="addResource()"
    class="action-button"
    color="accent"
    class="mr-2"
    mat-flat-button>
    {{ 'MEMBER_DETAIL.RESOURCES.ADD' | translate}}
  </button>
  <perun-web-apps-immediate-filter
    (filter)="applyFilter($event)"
    [placeholder]="'MEMBER_DETAIL.RESOURCES.FILTER'">
  </perun-web-apps-immediate-filter>
  <perun-web-apps-resources-list
    [disableRouting]="!routeAuth"
    *ngIf="!loading"
    [filterValue]="filterValue"
    [displayedColumns]="displayedColumns"
    [routingVo]="true"
    [resources]="resources"
    [tableId]="tableId">
  </perun-web-apps-resources-list>
</div>

<mat-spinner *ngIf="loading" class="mr-auto ml-auto"></mat-spinner>
