<h1 class="page-subtitle">{{'MEMBER_DETAIL.GROUPS.TITLE' | translate}}</h1>
<perun-web-apps-refresh-button (refresh)="refreshTable()"></perun-web-apps-refresh-button>
<button
  *ngIf="addAuth"
  (click)="addGroup()"
  color="accent"
  class="mr-2 action-button"
  mat-flat-button>
  {{'MEMBER_DETAIL.GROUPS.ADD' | translate}}
</button>
<span
  [matTooltipDisabled]="list === undefined || (list !== undefined && list.removeAuth)"
  matTooltip="{{'MEMBER_DETAIL.GROUPS.REMOVE_PERMISSION_HINT' | translate}}">
  <button
    class="mr-2"
    color="warn"
    (click)="removeGroup()"
    [disabled]="selection.selected.length === 0 || (list !== undefined && !list.removeAuth)"
    mat-flat-button>
    {{'MEMBER_DETAIL.GROUPS.REMOVE' | translate}}
  </button>
</span>
<perun-web-apps-immediate-filter
  (filter)="applyFilter($event)"
  [placeholder]="'SHARED_LIB.PERUN.COMPONENTS.RESOURCES_LIST.TABLE_SEARCH'">
</perun-web-apps-immediate-filter>
<mat-spinner *ngIf="loading" class="mr-auto ml-auto"></mat-spinner>
<perun-web-apps-groups-list
  #list
  (refreshTable)="refreshTable()"
  *ngIf="!loading"
  [displayedColumns]="['select', 'id', 'vo', 'name', 'description', 'expiration']"
  [authType]="'member-groups'"
  [filter]="filterValue"
  [memberId]="memberId"
  [disableRouting]="!routeAuth"
  [groups]="groups"
  [memberGroupStatus]="member.groupStatus"
  [selection]="selection"
  [tableId]="tableId">
</perun-web-apps-groups-list>
