<h1 class="page-subtitle">{{'MEMBER_DETAIL.GROUPS.TITLE' | translate}}</h1>
<perun-web-apps-refresh-button (refresh)="refreshTable()"></perun-web-apps-refresh-button>
<button
  *ngIf="addAuth"
  (click)="addGroup()"
  color="accent"
  class="me-2 action-button"
  mat-flat-button>
  {{'MEMBER_DETAIL.GROUPS.ADD' | translate}}
</button>
<span
  *ngIf="{removeAuth: removeAuth$ | async} as auth"
  [matTooltipDisabled]="auth.removeAuth"
  matTooltip="{{'MEMBER_DETAIL.GROUPS.REMOVE_PERMISSION_HINT' | translate}}">
  <button
    class="me-2"
    color="warn"
    (click)="removeGroup()"
    [disabled]="selection.selected.length === 0 || !auth.removeAuth"
    mat-flat-button>
    {{'MEMBER_DETAIL.GROUPS.REMOVE' | translate}}
  </button>
</span>

<app-group-roles-filter
  [theme]="'member-theme'"
  (filterRoles)="applyRoles($event)"
  (filterRoleTypes)="applyRoleTypes($event)">
</app-group-roles-filter>

<perun-web-apps-debounce-filter
  (filter)="applyFilter($event)"
  [placeholder]="'MEMBER_DETAIL.GROUPS.FILTER'">
</perun-web-apps-debounce-filter>
<label class="slide-label" (click)="labelToggle()">
  {{'MEMBER_DETAIL.GROUPS.TREE_VIEW' | translate}}
</label>
<mat-slide-toggle #toggle (change)="selection.clear()" [(ngModel)]="showGroupList" class="me-1">
</mat-slide-toggle>
<label class="slide-label" (click)="labelToggle()">
  {{'MEMBER_DETAIL.GROUPS.LIST_VIEW' | translate}}
</label>
<ng-template #spinner>
  <perun-web-apps-loading-table></perun-web-apps-loading-table>
</ng-template>
<div class="position-relative">
  <div *ngIf="!showGroupList">
    <perun-web-apps-groups-tree
      *perunWebAppsLoader="loading; indicator: spinner"
      (refreshTable)="refreshTable()"
      (changeExpiration)="changeExpiration($event)"
      [expandAll]="filtering"
      [disableRouting]="!routeAuth"
      [groups]="groups"
      [selection]="selection"
      [filterValue]="filterValue"
      [displayedColumns]="['nameWithId', 'description', 'expiration', 'status']"
      theme="member-theme">
    </perun-web-apps-groups-tree>
  </div>
  <div [hidden]="!showGroupList">
    <perun-web-apps-groups-list
      #list
      *perunWebAppsLoader="loading; indicator: spinner"
      (refreshTable)="refreshTable()"
      [displayedColumns]="['select', 'id', 'name', 'description', 'expiration', 'groupStatus']"
      [memberId]="member.id"
      [disableRouting]="!routeAuth"
      [groups]="groups"
      [filter]="filterValue"
      [memberGroupStatus]="member?.groupStatus"
      [selection]="selection"
      [tableId]="tableId">
    </perun-web-apps-groups-list>
  </div>
</div>
