<h1 class="page-subtitle">{{'MEMBER_DETAIL.GROUPS.TITLE' | translate}}</h1>
<perun-web-apps-refresh-button (refresh)="refreshTable()"></perun-web-apps-refresh-button>
<button
  *ngIf="addAuth"
  (click)="addGroup()"
  color="accent"
  class="me-2 action-button"
  mat-flat-button>
  {{'MEMBER_DETAIL.GROUPS.ADD' | translate}}
</button>
<span
  *ngIf="{removeAuth: removeAuth$ | async} as auth"
  [matTooltipDisabled]="auth.removeAuth"
  matTooltip="{{'MEMBER_DETAIL.GROUPS.REMOVE_PERMISSION_HINT' | translate}}">
  <button
    class="me-2"
    color="warn"
    (click)="removeGroup()"
    [disabled]="selection.selected.length === 0 || !auth.removeAuth"
    mat-flat-button>
    {{'MEMBER_DETAIL.GROUPS.REMOVE' | translate}}
  </button>
</span>
<perun-web-apps-immediate-filter
  (filter)="applyFilter($event)"
  [placeholder]="'SHARED_LIB.PERUN.COMPONENTS.RESOURCES_LIST.TABLE_SEARCH'">
</perun-web-apps-immediate-filter>
<mat-spinner *ngIf="loading" class="me-auto ms-auto"></mat-spinner>
<perun-web-apps-groups-list
  *ngIf="!loading"
  (refreshTable)="refreshTable()"
  [displayedColumns]="['select', 'id', 'name', 'description', 'expiration', 'groupStatus']"
  [memberId]="memberId"
  [disableRouting]="!routeAuth"
  [groups]="groups"
  [filter]="filterValue"
  [memberGroupStatus]="member.groupStatus"
  [selection]="selection"
  [tableId]="tableId">
</perun-web-apps-groups-list>
