<h1 class="page-subtitle">
  {{'VO_DETAIL.SETTINGS.NOTIFICATIONS.TITLE' | translate}}
</h1>

<div class="w-100 d-flex">
  <button (click)="add()" *ngIf="addAuth" class="mr-2 action-button" color="accent" mat-flat-button>
    {{'VO_DETAIL.SETTINGS.NOTIFICATIONS.ADD' | translate}}
  </button>

  <button
    *ngIf="removeAuth"
    (click)="remove()"
    color="warn"
    [disabled]="selection.selected.length === 0"
    class="mr-2"
    mat-flat-button>
    {{'VO_DETAIL.SETTINGS.NOTIFICATIONS.REMOVE' | translate}}
  </button>

  <button (click)="changeEmailFooter()" class="mr-2 action-button" mat-stroked-button>
    <i class="material-icons">email</i>
    {{'VO_DETAIL.SETTINGS.NOTIFICATIONS.EMAIL_FOOTER' | translate}}
  </button>

  <button (click)="copy()" *ngIf="copyAuth" class="action-button" mat-stroked-button>
    <i class="material-icons">file_copy</i>
    {{'VO_DETAIL.SETTINGS.NOTIFICATIONS.COPY_FROM_VO' | translate}}
  </button>
</div>

<mat-spinner *ngIf="loading" class="ml-auto mr-auto"> </mat-spinner>

<app-notification-list
  *ngIf="!loading"
  [applicationMails]="applicationMails"
  (selectionChange)="changeSelection($event)"
  [disableSend]="!addAuth"
  [displayedColumns]="displayedColumns"
  [tableId]="tableId"
  [selection]="selection"
  [theme]="'vo-theme'"
  [voId]="vo.id">
</app-notification-list>
