<h1 class="page-subtitle">
  {{'VO_DETAIL.SETTINGS.NOTIFICATIONS.TITLE' | translate}}
</h1>

<div class="w-100 d-flex">
  <button
    *ngIf="!loading && addAuth"
    mat-flat-button
    color="accent"
    class="mr-2 action-button"
    (click)="add()">
    {{'VO_DETAIL.SETTINGS.NOTIFICATIONS.ADD' | translate}}
  </button>

  <button
    *ngIf="!loading && removeAuth"
    mat-flat-button
    color="warn"
    class="mr-2"
    (click)="remove()"
    [disabled]="selection.selected.length === 0">
    {{'VO_DETAIL.SETTINGS.NOTIFICATIONS.REMOVE' | translate}}
  </button>

  <button
    *ngIf="!loading"
    mat-stroked-button
    class="mr-2 action-button"
    (click)="changeEmailFooter()">
    <i class="material-icons">email</i>
    {{'VO_DETAIL.SETTINGS.NOTIFICATIONS.EMAIL_FOOTER' | translate}}
  </button>

  <button
    *ngIf="!loading && copyAuth"
    mat-stroked-button
    class="action-button"
    (click)="copy()">
    <i class="material-icons">file_copy</i>
    {{'VO_DETAIL.SETTINGS.NOTIFICATIONS.COPY_FROM_VO' | translate}}
  </button>
</div>

<mat-spinner *ngIf="loading" class="ml-auto mr-auto">
</mat-spinner>

<app-notification-list
  *ngIf="!loading"
  [applicationMails]="applicationMails"
  [tableId]="tableId"
  [voId]="voId"
  [displayedColumns]="displayedColumns"
  [disableSend]="!addAuth"
  [selection]="selection"
  [theme]="'vo-theme'"
  (selectionChange)="changeSelection($event)">
</app-notification-list>
