<div>
  <h1 class="page-subtitle">{{'ADMIN.ATTRIBUTES.TITLE' | translate}}</h1>
  <perun-web-apps-refresh-button (refresh)="refreshTable()"></perun-web-apps-refresh-button>
  <button
    *ngIf="authResolver.isPerunAdmin()"
    (click)="onCreate()"
    class="mr-2 action-button"
    color="accent"
    data-cy="new-attr-definition-button"
    mat-flat-button>
    {{'ADMIN.ATTRIBUTES.CREATE' | translate}}
  </button>
  <button
    *ngIf="authResolver.isPerunAdmin()"
    (click)="onImport()"
    class="mr-2 action-button"
    color="accent"
    mat-flat-button>
    {{'ADMIN.ATTRIBUTES.IMPORT' | translate}}
  </button>
  <button
    *ngIf="authResolver.isPerunAdmin()"
    (click)="onDelete()"
    color="warn"
    [disabled]="selected.selected.length === 0"
    class="mr-2"
    data-cy="delete-attr-definition-button"
    mat-flat-button>
    {{'ADMIN.ATTRIBUTES.DELETE' | translate}}
  </button>
  <perun-web-apps-immediate-filter
    (filter)="applyFilter($event)"
    [placeholder]="'ADMIN.ATTRIBUTES.SEARCH'"></perun-web-apps-immediate-filter>
  <mat-spinner *ngIf="loading" class="ml-auto mr-auto"></mat-spinner>
  <app-attr-def-list
    *ngIf="!loading"
    (refreshEvent)="refreshTable()"
    [definitions]="attrDefinitions"
    [disableRouting]="!authResolver.isPerunAdmin()"
    [filterValue]="filterValue"
    [selection]="selected"
    [tableId]="tableId">
  </app-attr-def-list>
</div>
