<ng-template #spinner>
  <perun-web-apps-loading-dialog></perun-web-apps-loading-dialog>
</ng-template>
<div class="{{theme}} position-relative">
  <div *perunWebAppsLoader="loading; indicator: spinner">
    <h1 mat-dialog-title>
      {{'VO_DETAIL.SETTINGS.MEMBER_ORGANIZATIONS.ADD_MEMBER_ORGANIZATION.TITLE' | translate}}
    </h1>
    <div mat-dialog-content class="dialog-container">
      <mat-stepper #stepper [linear]="true">
        <mat-step [completed]="!(voSelection.selected.length === 0)">
          <ng-template
            matStepLabel
            >{{'VO_DETAIL.SETTINGS.MEMBER_ORGANIZATIONS.ADD_MEMBER_ORGANIZATION.SELECTION_STEP' | translate}}</ng-template
          >
          <perun-web-apps-debounce-filter
            (filter)="voFilter = $event"
            [placeholder]="'VO_DETAIL.SETTINGS.MEMBER_ORGANIZATIONS.ADD_MEMBER_ORGANIZATION.FILTER_VOS'"></perun-web-apps-debounce-filter>
          <perun-web-apps-vos-list
            [vos]="vos"
            [selection]="voSelection"
            [displayedColumns]="displayedColumns"
            [filterValue]="voFilter"
            [disableRouting]="true"></perun-web-apps-vos-list>
        </mat-step>
        <mat-step>
          <ng-template
            matStepLabel
            >{{'VO_DETAIL.SETTINGS.MEMBER_ORGANIZATIONS.ADD_MEMBER_ORGANIZATION.CONFIRMATION_STEP' | translate}}</ng-template
          >
          <ng-template matStepContent>
            <span
              >{{'VO_DETAIL.SETTINGS.MEMBER_ORGANIZATIONS.ADD_MEMBER_ORGANIZATION.CONFIRM' | translate}}</span
            >
            <table mat-table [dataSource]="voSelection.selected" class="w-100">
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let vo">{{vo.name}}</td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="columns"></tr>
              <tr mat-row *matRowDef="let vo; columns: columns;"></tr>
            </table>
            <perun-web-apps-alert
              [alert_type]="'warn'"
              >{{'VO_DETAIL.SETTINGS.MEMBER_ORGANIZATIONS.ADD_MEMBER_ORGANIZATION.WARNING' | translate}}</perun-web-apps-alert
            >
          </ng-template>
        </mat-step>
      </mat-stepper>
    </div>
    <div mat-dialog-actions class="justify-content-end">
      <div class="d-flex">
        <button (click)="close()" mat-stroked-button class="me-2">
          {{'VO_DETAIL.SETTINGS.MEMBER_ORGANIZATIONS.ADD_MEMBER_ORGANIZATION.CANCEL' | translate}}
        </button>
        <div class="ms-auto">
          <button
            *ngIf="stepper !== undefined && stepper.selectedIndex !== 0"
            (click)="stepperPrevious()"
            [disabled]="loading"
            mat-stroked-button>
            {{'VO_DETAIL.SETTINGS.MEMBER_ORGANIZATIONS.ADD_MEMBER_ORGANIZATION.BACK' | translate}}
          </button>
          <button
            *ngIf="stepper?.selectedIndex !== 1"
            (click)="stepperNext()"
            [disabled]="voSelection.selected.length === 0 || loading"
            color="accent"
            mat-flat-button>
            {{'VO_DETAIL.SETTINGS.MEMBER_ORGANIZATIONS.ADD_MEMBER_ORGANIZATION.NEXT' | translate}}
          </button>
          <button
            *ngIf="stepper?.selectedIndex === 1"
            (click)="addMemberOrganization()"
            [disabled]="loading"
            color="accent"
            mat-flat-button>
            {{'VO_DETAIL.SETTINGS.MEMBER_ORGANIZATIONS.ADD_MEMBER_ORGANIZATION.ADD' | translate}}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
