<div>
  <h1 class="page-subtitle">{{'ADMIN.OWNERS.TITLE' | translate}}</h1>
  <perun-web-apps-refresh-button (refresh)="refreshTable()"></perun-web-apps-refresh-button>
  <button
    *ngIf="addAuth"
    (click)="addOwner()"
    color="accent"
    class="mr-2 action-button"
    mat-flat-button>
    {{'ADMIN.OWNERS.ADD' | translate}}
  </button>

  <button
    (click)="removeOwner()"
    class="mr-2"
    color="warn"
    *ngIf="removeAuth"
    [disabled]="!selected.selected.length"
    mat-flat-button>
    {{'ADMIN.OWNERS.DELETE' | translate}}
  </button>

  <perun-web-apps-immediate-filter
    (filter)="applyFilter($event)"
    [placeholder]="'ADMIN.OWNERS.FILTER'"></perun-web-apps-immediate-filter>
  <mat-spinner *ngIf="loading" class="ml-auto mr-auto"></mat-spinner>
  <perun-web-apps-owners-list
    [selection]="selected"
    *ngIf="!loading"
    [filterValue]="filterValue"
    [owners]="owners"
    [tableId]="tableId"></perun-web-apps-owners-list>
</div>
