<div>
  <h1 class="page-subtitle">{{'GROUP_DETAIL.RESOURCES.TITLE' | translate}}</h1>
  <perun-web-apps-refresh-button (refresh)="refreshTable()"></perun-web-apps-refresh-button>
  <button
    *ngIf="addAuth"
    (click)="addResource()"
    color="accent"
    class="mr-2 action-button"
    mat-flat-button>
    {{'GROUP_DETAIL.RESOURCES.ADD' | translate}}
  </button>
  <span
    [matTooltipDisabled]="selected.selected.length === 0 || (list !== undefined && list.removeAuth)"
    matTooltip="{{'GROUP_DETAIL.RESOURCES.DELETE_PERMISSION_HINT' | translate}}">
    <button
      (click)="removeResource()"
      color="warn"
      [disabled]="selected.selected.length === 0 || (list !== undefined && !list.removeAuth)"
      class="mr-2"
      mat-flat-button>
      {{'GROUP_DETAIL.RESOURCES.DELETE' | translate}}
    </button>
  </span>
  <perun-web-apps-immediate-filter
    (filter)="applyFilter($event)"
    [placeholder]="'SHARED_LIB.PERUN.COMPONENTS.RESOURCES_LIST.TABLE_SEARCH'"></perun-web-apps-immediate-filter>
  <mat-spinner *ngIf="loading" class="ml-auto mr-auto"></mat-spinner>
  <perun-web-apps-resources-list
    #list
    *ngIf="resources && !loading"
    (refreshTable)="refreshTable()"
    [disableRouting]="!routingAuth"
    [filterValue]="filterValue"
    [resources]="resources"
    [routingVo]="true"
    [displayedColumns]="['select', 'id', 'indirectResourceAssigment', 'name', 'status', 'facility', 'tags', 'description']"
    [selection]="selected"
    [groupId]="group.id"
    [groupToResource]="group"
    [resourcesToDisableCheckbox]="resourcesToDisable"
    [tableId]="tableId">
  </perun-web-apps-resources-list>
</div>
