<div class="mt-3">
  <mat-spinner class="ml-auto mr-auto" *ngIf="loading"></mat-spinner>
  <perun-web-apps-alert
    *ngIf="entityValues.length === 0 && !loading"
    alert_type="warn"
    >{{noEntityMessage}}</perun-web-apps-alert
  >

  <div *ngIf="entityValues.length !== 0">
    <div class="flex-row">
      <perun-web-apps-group-search-select
        *ngIf="secondEntity === 'group'"
        (groupSelected)="specifySecondEntity($event)"
        [firstSelectedGroup]="specificSecondEntity"
        [displayStatus]="true"
        [groups]="entityValues">
      </perun-web-apps-group-search-select>

      <perun-web-apps-resource-search-select
        *ngIf="secondEntity === 'resource'"
        (resourceSelected)="specifySecondEntity($event)"
        [resources]="entityValues">
      </perun-web-apps-resource-search-select>

      <perun-web-apps-member-search-select
        *ngIf="secondEntity === 'member'"
        (memberSelected)="specifySecondEntity($event)"
        [members]="entityValues">
      </perun-web-apps-member-search-select>

      <perun-web-apps-facility-search-select
        *ngIf="secondEntity === 'facility'"
        (facilitySelected)="specifySecondEntity($event)"
        [facilities]="entityValues">
      </perun-web-apps-facility-search-select>

      <perun-web-apps-user-search-select
        *ngIf="secondEntity === 'user'"
        (userSelected)="specifySecondEntity($event)"
        [users]="entityValues">
      </perun-web-apps-user-search-select>
    </div>

    <perun-web-apps-refresh-button
      (refresh)="getAttributes(specificSecondEntity.id)"></perun-web-apps-refresh-button>

    <button
      (click)="onAdd(specificSecondEntity.id)"
      class="mr-2 action-button"
      color="accent"
      mat-flat-button>
      {{'MEMBER_DETAIL.SETTINGS.ATTRIBUTES.CREATE' | translate}}
    </button>

    <button
      (click)="onSave(specificSecondEntity.id)"
      class="mr-2"
      color="accent"
      [disabled]="selection.selected.length === 0"
      mat-flat-button>
      {{'MEMBER_DETAIL.SETTINGS.ATTRIBUTES.SAVE' | translate}}
    </button>

    <button
      (click)="onDelete(specificSecondEntity.id)"
      color="warn"
      [disabled]="selection.selected.length === 0"
      class="mr-2"
      mat-flat-button>
      {{'MEMBER_DETAIL.SETTINGS.ATTRIBUTES.DELETE' | translate}}
    </button>
    <perun-web-apps-immediate-filter
      (filter)="applyFilter($event)"
      [placeholder]="'SHARED_LIB.PERUN.COMPONENTS.ATTRIBUTES_LIST.FILTER'"></perun-web-apps-immediate-filter>
    <mat-spinner *ngIf="innerLoading" class="ml-auto mr-auto"></mat-spinner>
    <perun-web-apps-attributes-list
      #list
      *ngIf="!innerLoading"
      [attributes]="attributes"
      [filterValue]="filterValue"
      [selection]="selection">
    </perun-web-apps-attributes-list>
  </div>
</div>
