<div class="{{theme}}">
  <h1 mat-dialog-title>{{'DIALOGS.EDIT_USER.DIALOG_TITLE' | translate}}</h1>
  <div class="dialog-container" mat-dialog-content>
    <mat-form-field>
      <mat-label>{{'DIALOGS.EDIT_USER.TITLE_BEFORE' | translate}}</mat-label>
      <input matInput [formControl]="titleBefore" />
      <mat-error
        *ngIf="titleBefore.invalid"
        >{{'DIALOGS.EDIT_USER.ERROR_LENGTH'  | translate}}</mat-error
      >
    </mat-form-field>
    <mat-form-field>
      <mat-label>{{'DIALOGS.EDIT_USER.TITLE_AFTER' | translate}}</mat-label>
      <input matInput [formControl]="titleAfter" />
      <mat-error
        *ngIf="titleAfter.invalid"
        >{{'DIALOGS.EDIT_USER.ERROR_LENGTH'  | translate}}</mat-error
      >
    </mat-form-field>
    <mat-form-field>
      <mat-label>{{'DIALOGS.EDIT_USER.FIRST_NAME' | translate}}</mat-label>
      <input matInput [formControl]="firstName" data-cy="user-first-name-input" required />
      <mat-error
        *ngIf="firstName.invalid"
        >{{'DIALOGS.EDIT_USER.ERROR_FIRST_NAME' | translate}}</mat-error
      >
    </mat-form-field>
    <mat-form-field>
      <mat-label>{{'DIALOGS.EDIT_USER.MIDDLE_NAME' | translate}}</mat-label>
      <input matInput [formControl]="middleName" />
      <mat-error
        *ngIf="middleName.invalid"
        >{{'DIALOGS.EDIT_USER.ERROR_LENGTH'  | translate}}</mat-error
      >
    </mat-form-field>
    <mat-form-field>
      <mat-label>{{'DIALOGS.EDIT_USER.LAST_NAME' | translate}}</mat-label>
      <input matInput [formControl]="lastName" required />
      <mat-error
        *ngIf="lastName.invalid"
        >{{'DIALOGS.EDIT_USER.ERROR_LAST_NAME'  | translate}}</mat-error
      >
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button (click)="onCancel()" class="ms-auto" mat-stroked-button>
      {{'DIALOGS.EDIT_USER.CANCEL' | translate}}
    </button>
    <button
      (click)="onSave()"
      class="ms-2"
      color="accent"
      [disabled]="loading || firstName.invalid || lastName.invalid || titleBefore.invalid || titleAfter.invalid || middleName.invalid"
      data-cy="user-save-button"
      mat-flat-button>
      {{'DIALOGS.EDIT_USER.SAVE' | translate}}
    </button>
  </div>
</div>
