<h1 class="page-subtitle">
  {{'GROUP_DETAIL.SETTINGS.NOTIFICATIONS.TITLE' | translate}}
</h1>
<div *ngIf="!noApplicationForm">
  <div class="w-100 d-flex">
    <button
      *ngIf="addAuth"
      (click)="add()"
      color="accent"
      class="mr-2 action-button"
      mat-flat-button>
      {{'GROUP_DETAIL.SETTINGS.NOTIFICATIONS.ADD' | translate}}
    </button>

    <button
      *ngIf="removeAuth"
      (click)="remove()"
      color="warn"
      [disabled]="selection.selected.length === 0"
      class="mr-2"
      mat-flat-button>
      {{'GROUP_DETAIL.SETTINGS.NOTIFICATIONS.REMOVE' | translate}}
    </button>

    <button (click)="changeEmailFooter()" class="mr-2 action-button" mat-stroked-button>
      <i class="material-icons">email</i>
      {{'GROUP_DETAIL.SETTINGS.NOTIFICATIONS.EMAIL_FOOTER' | translate}}
    </button>

    <button (click)="copy()" *ngIf="copyAuth" class="action-button" mat-stroked-button>
      <i class="material-icons">file_copy</i>
      {{'GROUP_DETAIL.SETTINGS.NOTIFICATIONS.COPY_FROM_VO' | translate}}
    </button>
  </div>
  <mat-spinner *ngIf="loading" class="ml-auto mr-auto"> </mat-spinner>

  <app-notification-list
    *ngIf="!loading"
    [disableSend]="!addAuth"
    [displayedColumns]="displayedColumns"
    (selectionChange)="changeSelection($event)"
    [applicationMails]="applicationMails"
    [groupId]="group.id"
    [selection]="selection"
    [tableId]="tableId"
    [theme]="'group-theme'">
  </app-notification-list>
</div>
<div *ngIf="noApplicationForm && !loading">
  <perun-web-apps-alert
    alert_type="warn"
    >{{'GROUP_DETAIL.SETTINGS.NOTIFICATIONS.NO_APPLICATION_FORM' | translate}}</perun-web-apps-alert
  >
  <button (click)="createEmptyApplicationForm()" *ngIf="createFormAuth" mat-stroked-button>
    {{'GROUP_DETAIL.SETTINGS.NOTIFICATIONS.CREATE_APPLICATION_FORM' | translate}}
  </button>
</div>
