<div
  [hidden]="this.users.length === 0 || !dataSource || dataSource.filteredData.length === 0"
  class="card mt-2">
  <perun-web-apps-table-wrapper
    (exportData)="exportData($event)"
    [dataLength]="dataSource.filteredData.length"
    [pageSizeOptions]="pageSizeOptions"
    [tableId]="tableId">
    <table
      [dataSource]="dataSource"
      class="w-100"
      mat-table
      matSort
      matSortActive="id"
      matSortDirection="asc"
      matSortDisableClear>
      <ng-container matColumnDef="select">
        <th *matHeaderCellDef class="align-checkbox" mat-header-cell>
          <mat-checkbox
            (change)="$event ? masterToggle() : null"
            *ngIf="selection.isMultipleSelection()"
            [aria-label]="checkboxLabel()"
            [checked]="selection.hasValue() && isAllSelected()"
            [indeterminate]="selection.hasValue() && !isAllSelected()"
            color="primary">
          </mat-checkbox>
        </th>
        <td *matCellDef="let row" class="static-column-size align-checkbox" mat-cell>
          <mat-checkbox
            (change)="$event ? selection.toggle(row) : null"
            (click)="$event.stopPropagation()"
            [aria-label]="checkboxLabel(row)"
            [checked]="selection.isSelected(row)"
            [disabled]="disableSelf && row.id === principalId && !authResolver.isPerunAdmin()"
            attr.data-cy="{{row.firstName | lowercase}}-checkbox"
            color="primary">
          </mat-checkbox>
        </td>
      </ng-container>
      <ng-container matColumnDef="user">
        <th *matHeaderCellDef mat-header-cell></th>
        <td *matCellDef="let user" class="static-column-size" mat-cell>
          <mat-icon
            *ngIf="!user.serviceUser"
            class="align-bottom"
            matTooltip="{{'MANAGERS_LIST.PERSON' | translate}}">
            account_circle
          </mat-icon>
          <mat-icon
            *ngIf="user.serviceUser"
            class="align-bottom"
            [svgIcon]="svgIcon"
            matTooltip="{{'MANAGERS_LIST.SERVICE' | translate}}">
          </mat-icon>
        </td>
      </ng-container>
      <ng-container matColumnDef="id">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>
          {{'MANAGERS_LIST.ID' | translate}}
        </th>
        <td *matCellDef="let user" class="static-column-size" mat-cell>
          {{user.id}}
        </td>
      </ng-container>
      <ng-container matColumnDef="name">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>
          {{'MANAGERS_LIST.NAME' | translate}}
        </th>
        <td *matCellDef="let manager" mat-cell>{{manager | userFullName}}</td>
      </ng-container>
      <ng-container matColumnDef="organization">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>
          {{'MANAGERS_LIST.ORGANIZATION' | translate}}
        </th>
        <td *matCellDef="let manager" mat-cell>{{manager | userVo}}</td>
      </ng-container>
      <ng-container matColumnDef="email">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>
          {{'MANAGERS_LIST.EMAIL' | translate}}
        </th>
        <td *matCellDef="let manager" mat-cell>{{manager | userEmail}}</td>
      </ng-container>
      <ng-container matColumnDef="logins">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>
          {{'MANAGERS_LIST.LOGINS' | translate}}
        </th>
        <td *matCellDef="let manager" mat-cell>{{manager | userLogins}}</td>
      </ng-container>

      <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
      <tr
        *matRowDef="let user; columns: displayedColumns;"
        [class.cursor-pointer]="!disableRouting"
        [perunWebAppsForceRouterLink]="disableRouting ? null : (routeToAdmin ? ['/admin/users', user.id] : ['/myProfile/service-identities', user.id])"
        [perunWebAppsMiddleClickRouterLink]="disableRouting ? null : (routeToAdmin ? ['/admin/users', user.id] : ['/myProfile/service-identities', user.id])"
        class="dark-hover-list-item"
        mat-row></tr>
    </table>
  </perun-web-apps-table-wrapper>
</div>

<perun-web-apps-alert *ngIf="users.length === 0" alert_type="warn">
  {{noUsersFoundLabel ? noUsersFoundLabel : 'SHARED_LIB.UI.ALERTS.NO_USERS' | translate}}
</perun-web-apps-alert>

<perun-web-apps-alert
  *ngIf="dataSource.filteredData.length === 0 && users.length !== 0"
  alert_type="warn">
  {{'SHARED_LIB.UI.ALERTS.NO_FILTER_RESULTS_ALERT' | translate}}
</perun-web-apps-alert>
