<ng-template #spinner>
  <perun-web-apps-loading-dialog></perun-web-apps-loading-dialog>
</ng-template>
<div class="{{theme}} position-relative">
  <div *perunWebAppsLoader="loading; indicator: spinner">
    <h1 mat-dialog-title>{{'DIALOGS.ADD_HOST.TITLE' | translate}}</h1>
    <div class="dialog-container" mat-dialog-content>
      <mat-form-field subscriptSizing="dynamic">
        <mat-label>{{'DIALOGS.ADD_HOST.SUBTITLE' | translate}}</mat-label>
        <textarea
          id="facilityAddHost"
          name="facilityAddHost"
          [formControl]="hostsCtrl"
          required
          matInput
          perunWebAppsAutoFocus
          rows="8">
        </textarea>
        <mat-error *ngIf="this.hostsCtrl.hasError('required')">
          {{'DIALOGS.ADD_HOST.EMPTY_MESSAGE' | translate}}
        </mat-error>
        <mat-error *ngIf="this.hostsCtrl.hasError('invalidHost')">
          {{'DIALOGS.ADD_HOST.INVALID_HOST' | translate}}
          {{this.hostsCtrl.getError('invalidHost').value}}
        </mat-error>
      </mat-form-field>
      <perun-web-apps-alert
        alert_type="info"
        >{{'DIALOGS.ADD_HOST.HINT'| translate}}</perun-web-apps-alert
      >
    </div>
    <div mat-dialog-actions>
      <button (click)="onCancel()" class="ml-auto" mat-flat-button>
        {{'DIALOGS.ADD_HOST.CANCEL' | translate}}
      </button>
      <button
        (click)="onAdd()"
        class="ml-2"
        color="accent"
        [disabled]="hostsCtrl.invalid || loading"
        mat-flat-button>
        {{'DIALOGS.ADD_HOST.ADD' | translate}}
      </button>
    </div>
  </div>
</div>
