<ng-template #spinner>
  <perun-web-apps-loading-dialog></perun-web-apps-loading-dialog>
</ng-template>
<div class="{{theme}} position-relative">
  <div *perunWebAppsLoader="loading; indicator: spinner">
    <div class="dialog-container" mat-dialog-content>
      <perun-web-apps-vo-search-select
        (voSelected)="selectedVo = $event"
        [vos]="vos"
        data-cy="create-resource-select-vo">
      </perun-web-apps-vo-search-select>

      <mat-form-field>
        <mat-label>{{'DIALOGS.CREATE_RESOURCE.NAME' | translate}}</mat-label>
        <input
          matInput
          [formControl]="nameCtrl"
          data-cy="create-resource-name-input"
          required />
        <mat-error>
          {{'DIALOGS.CREATE_RESOURCE.INCORRECT_NAME' | translate}}
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>{{'DIALOGS.CREATE_RESOURCE.DESCRIPTION' | translate}}</mat-label>
        <input
          matInput
          [formControl]="descriptionCtrl" />
        <mat-error>
          {{'DIALOGS.CREATE_RESOURCE.FILL_DESCRIPTION' | translate}}
        </mat-error>
      </mat-form-field>
    </div>

    <div mat-dialog-actions>
      <button (click)="onCancel()" class="ml-auto" mat-flat-button>
        {{'DIALOGS.CREATE_RESOURCE.CANCEL' | translate}}
      </button>
      <button
        (click)="onSubmit()"
        class="ml-2"
        data-cy="create-resource-dialog-button"
        [disabled]="nameCtrl.invalid || descriptionCtrl.invalid || selectedVo === null || loading"
        color="accent"
        mat-flat-button>
        {{'DIALOGS.CREATE_RESOURCE.CREATE' | translate}}
      </button>
    </div>
  </div>
</div>
