<h1 class="page-subtitle">{{'ADMIN.USERS.TITLE' | translate}}</h1>
<perun-web-apps-debounce-filter
  class="mt-2 search-field"
  [autoFocus]="true"
  [placeholder]="'ADMIN.USERS.SEARCH_PLACEHOLDER'"
  (filter)="onSearchByString($event)">
</perun-web-apps-debounce-filter>
<mat-checkbox (change)="findUsersWithoutVO()" [checked]="usersWithoutVo" color="primary">
  {{'ADMIN.USERS.USERS_WITHOUT_VO' | translate}}
</mat-checkbox>
<perun-web-apps-users-dynamic-list
  [disableRouting]="false"
  [searchString]="searchString"
  [withoutVo]="usersWithoutVo"
  [displayedColumns]="['user', 'id', 'name', 'email', 'logins', 'organization']"
  [tableId]="tableId"
  [attrNames]="attributes">
</perun-web-apps-users-dynamic-list>
