<div class="container-fluid ps-xl-5 pe-xl-5 facility-theme">
  <perun-web-apps-back-button> </perun-web-apps-back-button>

  <h1 class="page-title d-flex">
    <mat-icon
      [ngStyle]="{'color':'black'}"
      svgIcon="perun-facility-black"
      class="perun-icon icon-scale">
    </mat-icon>
    {{'FACILITY_MANAGEMENT.TITLE' | translate}}
  </h1>
  <perun-web-apps-refresh-button (refresh)="refreshTable()"></perun-web-apps-refresh-button>
  <button
    mat-flat-button
    class="action-button me-2"
    *ngIf="createAuth"
    (click)="onCreate()"
    data-cy="new-facility-button"
    color="accent">
    {{'FACILITY_MANAGEMENT.CREATE' | translate}}
  </button>
  <span
    [matTooltipDisabled]="selection.selected.length === 0 || ([selection.selected[0]?.facility] | isAuthorized: 'deleteFacility_Facility_Boolean_policy')"
    [matTooltipPosition]="'below'"
    matTooltip="{{'FACILITY_MANAGEMENT.DELETE_PERMISSION_HINT' | translate}}">
    <button
      mat-flat-button
      class="me-2"
      data-cy="delete-facility-button"
      [disabled]="selection.selected.length === 0 || !([selection.selected[0]?.facility] | isAuthorized: 'deleteFacility_Facility_Boolean_policy')"
      *ngIf="deleteAuth"
      (click)="onDelete()"
      color="warn">
      {{'FACILITY_MANAGEMENT.DELETE' | translate}}
    </button>
  </span>
  <perun-web-apps-debounce-filter
    [autoFocus]="true"
    (filter)="applyFilter($event)"
    [placeholder]="'FACILITY_MANAGEMENT.FILTER_PLACEHOLDER'">
  </perun-web-apps-debounce-filter>
  <ng-template #spinner>
    <perun-web-apps-loading-table></perun-web-apps-loading-table>
  </ng-template>
  <div class="position-relative">
    <perun-web-apps-facilities-list
      [tableId]="tableId"
      *perunWebAppsLoader="loading; indicator: spinner"
      [selection]="selection"
      [filterValue]="filterValue"
      [facilities]="facilities"
      [recentIds]="recentIds">
    </perun-web-apps-facilities-list>
  </div>
</div>
