<div class="container-fluid pl-xl-5 pr-xl-5 service-theme">
  <perun-web-apps-back-button> </perun-web-apps-back-button>
  <mat-spinner class="ml-auto mr-auto" *ngIf="loading"></mat-spinner>
  <div class="d-flex page-title-headtitle" *ngIf="!loading && service !== undefined">
    <mat-icon
      matTooltip="{{'SERVICE_DETAIL.ENTITY' | translate}}"
      [ngStyle]="{'color':'black'}"
      svgIcon="perun-service"
      class="perun-icon perun-icon-detail">
    </mat-icon>
    <div class="page-title-block">
      <div class="page-title-headline d-flex align-items-center">
        <a
          [routerLink]="['/admin/services', service.id]"
          class="service-link"
          queryParamsHandling="merge">
          {{service.name}}
        </a>
        <span class="text-muted"> &nbsp; #{{service.id}} </span>
        <button
          *ngIf="authResolver.isPerunAdmin()"
          (click)="editService()"
          aria-label="Edit service"
          mat-icon-button>
          <mat-icon>edit</mat-icon>
        </button>
        <button
          *ngIf="authResolver.isPerunAdmin()"
          (click)="removeService()"
          aria-label="Remove service"
          mat-icon-button>
          <mat-icon>delete_forever</mat-icon>
        </button>
      </div>
      <span class="mt-1 entity-info">
        {{'SERVICE_DETAIL.DESCRIPTION' | translate}}: {{service.description}}
      </span>
      <div class="mt-1 entity-info">
        {{'SERVICE_DETAIL.STATUS' | translate}}:
        <span>
          {{service.enabled ? ('SERVICE_DETAIL.ENABLED' | translate) : ('SERVICE_DETAIL.DISABLED' | translate)}}
          <button mat-icon-button (click)="changeServiceStatus()">
            <mat-icon class="align-content-center">
              {{service.enabled ? "check_circle_outline" : "block"}}
            </mat-icon>
          </button>
        </span>
        <button
          *ngIf="authResolver.isPerunAdmin()"
          (click)="evaluateConsents()"
          color="accent"
          class="action-button ml-2"
          mat-flat-button>
          {{'SERVICE_DETAIL.EVALUATE_CONSENTS' | translate}}
        </button>
        <span class="mt-1 ml-2 entity-info">
          {{service.useExpiredMembers ? ('SERVICE_DETAIL.USE_EXPIRED_MEMBERS_ENABLED' | translate) : ('SERVICE_DETAIL.USE_EXPIRED_MEMBERS_DISABLED' | translate)}}
        </span>
      </div>
    </div>
  </div>
  <app-animated-router-outlet></app-animated-router-outlet>
</div>
