<div class="container-fluid pl-xl-5 pr-xl-5 service-theme">
  <perun-web-apps-back-button> </perun-web-apps-back-button>
  <mat-spinner *ngIf="loading" class="ml-auto mr-auto"></mat-spinner>
  <div *ngIf="!loading" class="page-title-headtitle detail-layout">
    <mat-icon
      matTooltip="{{'SERVICE_DETAIL.ENTITY' | translate}}"
      [ngStyle]="{'color':'black'}"
      class="perun-icon perun-icon-detail"
      svgIcon="perun-service">
    </mat-icon>
    <div class="wrap-container">
      <div class="detail-info">
        <div class="flex-column">
          <div class="page-title-headline d-flex align-items-center">
            <a
              data-cy="service-name-link"
              [routerLink]="['/admin/services', service.id]"
              class="service-link"
              queryParamsHandling="merge">
              {{service.name}}
            </a>
            <span class="text-muted"> &nbsp; #{{service.id}} </span>
            <button
              *ngIf="authResolver.isPerunAdmin()"
              (click)="editService()"
              aria-label="Edit service"
              data-cy="service-edit-button"
              mat-icon-button>
              <mat-icon>edit</mat-icon>
            </button>
            <button
              *ngIf="authResolver.isPerunAdmin()"
              (click)="removeService()"
              aria-label="Remove service"
              mat-icon-button>
              <mat-icon>delete_forever</mat-icon>
            </button>
          </div>
          <span class="mt-1 entity-info">
            {{'SERVICE_DETAIL.DESCRIPTION' | translate}}: {{service.description}}
          </span>
        </div>
      </div>
      <div class="detail-actions">
        <mat-slide-toggle
          [checked]="service.enabled"
          (toggleChange)="changeServiceStatus()"
          labelPosition="before">
          {{'SERVICE_DETAIL.ENABLE' | translate}}
        </mat-slide-toggle>
        <mat-slide-toggle
          [checked]="service.useExpiredMembers"
          (toggleChange)="propagationChange()"
          labelPosition="before">
          {{'SERVICE_DETAIL.PROPAGATE' | translate}}
        </mat-slide-toggle>
        <button
          *ngIf="authResolver.isPerunAdmin()"
          (click)="evaluateConsents()"
          class="action-button evaluate-button"
          mat-stroked-button>
          {{'SERVICE_DETAIL.EVALUATE_CONSENTS' | translate}}
        </button>
      </div>
    </div>
  </div>
  <app-animated-router-outlet></app-animated-router-outlet>
</div>
