<div>
  <h1 class="page-subtitle">{{'VO_DETAIL.SETTINGS.SPONSORED_MEMBERS.TITLE' | translate}}</h1>
  <perun-web-apps-refresh-button (refresh)="refresh()"></perun-web-apps-refresh-button>
  <span
    matTooltip="{{'VO_DETAIL.SETTINGS.SPONSORED_MEMBERS.NO_SPONSORS' | translate}}"
    [matTooltipDisabled]="!(findSponsorsAuth && voSponsors.length === 0)"
    matTooltipPosition="above">
    <button
      *ngIf="createAuth || generateAuth"
      [disabled]="findSponsorsAuth && voSponsors.length === 0"
      [matMenuTriggerFor]="menu"
      class="mr-2 dropdown-toggle"
      color="accent"
      mat-flat-button>
      {{'VO_DETAIL.SETTINGS.SPONSORED_MEMBERS.CREATE' | translate}}
    </button>
  </span>
  <mat-menu #menu="matMenu">
    <button (click)="onCreate()" *ngIf="createAuth" class="action-button" mat-menu-item>
      {{'VO_DETAIL.SETTINGS.SPONSORED_MEMBERS.CREATE_ONE' | translate}}
    </button>
    <button (click)="onGenerate()" *ngIf="generateAuth" class="action-button" mat-menu-item>
      {{'VO_DETAIL.SETTINGS.SPONSORED_MEMBERS.GENERATE' | translate}}
    </button>
  </mat-menu>
  <button
    *ngIf="setSponsorshipAuth"
    (click)="onSponsorExistingMember()"
    color="accent"
    class="mr-2 action-button"
    mat-flat-button>
    {{'VO_DETAIL.SETTINGS.SPONSORED_MEMBERS.SPONSOR_EXISTING' | translate}}
  </button>
  <perun-web-apps-immediate-filter
    (filter)="applyFilter($event)"
    [placeholder]="'VO_DETAIL.SETTINGS.SPONSORED_MEMBERS.FILTER'">
  </perun-web-apps-immediate-filter>
  <mat-spinner *ngIf="loading" class="ml-auto mr-auto"></mat-spinner>
  <app-sponsored-members-list
    *ngIf="!loading"
    (refreshTable)="refresh()"
    [disableRouting]="!routeAuth"
    [selection]="selection"
    [filterValue]="searchString"
    [sponsoredMembers]="members"
    [tableId]="tableId"></app-sponsored-members-list>
</div>
