<mat-sidenav-container class="dashboard" hasBackdrop="true">
  <mat-sidenav [(opened)]="rightSettingOpened" mode="over" position="end">
    <div class="m-4 user-theme">
      <div class="page-subtitle">{{'USER_DETAIL.DASHBOARD.DASHBOARD_SETTINGS' | translate}}</div>
      <div>
        <mat-checkbox
          [(ngModel)]="recentlyViewedShow"
          (change)="$event ? recentlyViewedChanged() : null"
          >{{'USER_DETAIL.DASHBOARD.SHOW_RECENTLY_VIEWED' | translate}}</mat-checkbox
        >
      </div>
      <div class="text-bigger mt-1 mb-1">{{'USER_DETAIL.DASHBOARD.SHOW_ROLES' | translate}}</div>
      <div *ngFor="let roleName of this.roleNames">
        <mat-checkbox
          [checked]="this.isRoleShowed(roleName)"
          (change)="$event ? changeRoleView(roleName) : null"
          >{{'USER_DETAIL.DASHBOARD.CARD_TITLE_' + this.roleName | translate}}</mat-checkbox
        >
      </div>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <div *ngIf="user !== undefined" class="container-fluid pl-xl-5 pr-xl-5 user-theme">
      <h1 class="page-title d-flex">
        <mat-icon class="home-image perun-icon" svgIcon="perun-home-white"></mat-icon>
        <span class="pt-1" data-cy="dashboard-welcome"
          >{{'USER_DETAIL.DASHBOARD.TITLE' | translate}} {{this.user | userFullName}}</span
        >
        <button
          (click)="this.rightSettingOpened = true"
          *ngIf="!isOnlySelfRole"
          class="ml-auto text-bigger"
          mat-stroked-button>
          <mat-icon>settings</mat-icon>
        </button>
      </h1>

      <div *ngIf="isOnlySelfRole">
        <div class="card m-3 p-5">
          <div class="text-align">
            {{'USER_DETAIL.DASHBOARD.NOT_MANAGER' | translate}}
          </div>
          <div class="text-align pt-3">
            <span
              *ngIf="!userProfileUrl"
              >{{'USER_DETAIL.DASHBOARD.NOT_MANAGER_INFO_NO_USER_PROFILE' | translate}}</span
            >
            <span
              *ngIf="userProfileUrl"
              >{{'USER_DETAIL.DASHBOARD.NOT_MANAGER_INFO' | translate}}</span
            >
          </div>
          <div class="mx-auto pt-3">
            <button [routerLink]="['/myProfile']" class="text-bigger" mat-stroked-button>
              <mat-icon class="mr-1 user-icon perun-icon" svgIcon="perun-user-dark"></mat-icon>
              {{'USER_DETAIL.DASHBOARD.GO_TO_MY_PROFILE' | translate}}
            </button>

            <button
              (click)="goToUserProfile()"
              class="text-bigger ml-2 mt-2"
              *ngIf="userProfileUrl"
              mat-stroked-button>
              <mat-icon class="mr-1">exit_to_app</mat-icon
              >{{'USER_DETAIL.DASHBOARD.GO_TO_USER_PROFILE' | translate}} {{this.userProfileName}}
            </button>
          </div>
        </div>
      </div>
      <div *ngIf="!isOnlySelfRole">
        <span *ngIf="recentlyViewedShow">
          <div class="page-subtitle">
            {{'USER_DETAIL.DASHBOARD.RECENTLY_VIEWED' | translate}}
          </div>
          <app-perun-web-apps-dashboard-recently-viewed-button-field></app-perun-web-apps-dashboard-recently-viewed-button-field>
        </span>
        <div *ngIf="rolesToHide.toString() !== roleNames.toString()" class="page-subtitle mt-4">
          {{'USER_DETAIL.DASHBOARD.MANAGEABLE_ENTITIES' | translate}}
        </div>
        <div>
          <div *ngFor="let roleName of this.roleNames" class="mb-3">
            <app-perun-web-apps-dashboard-card
              *ngIf="this.isRoleShowed(roleName)"
              [roleName]="roleName"
              [role]="this.roles[roleName]">
            </app-perun-web-apps-dashboard-card>
          </div>
        </div>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
