<h1 class="page-subtitle">{{'RESOURCE_DETAIL.ASSIGNED_SERVICES.TITLE' | translate}}</h1>
<perun-web-apps-refresh-button (refresh)="loadAllServices()"></perun-web-apps-refresh-button>
<button
  (click)="addService()"
  *ngIf="assignServiceAuth"
  class="action-button mr-2"
  color="accent"
  mat-flat-button>
  {{'RESOURCE_DETAIL.ASSIGNED_SERVICES.ADD_SERVICE' | translate}}
</button>
<button
  [disabled]="selected.selected.length === 0"
  class="mr-2"
  color="warn"
  (click)="removeServices()"
  *ngIf="removeServiceAuth"
  mat-flat-button>
  {{'RESOURCE_DETAIL.ASSIGNED_SERVICES.REMOVE_SERVICE' | translate}}
</button>
<perun-web-apps-immediate-filter
  (filter)="applyFilter($event)"
  [placeholder]="'RESOURCE_DETAIL.ASSIGNED_SERVICES.FILTER_SERVICES'">
</perun-web-apps-immediate-filter>
<mat-spinner *ngIf="loading" class="ml-auto mr-auto"></mat-spinner>
<app-services-list
  *ngIf="!loading"
  [disableRouting]="!serviceRoutingAuth"
  [selection]="selected"
  [displayedColumns]="displayedColumns"
  [filterValue]="filterValue"
  [services]="assignedServices"
  [tableId]="tableId">
</app-services-list>
