<h1 class="page-subtitle">
  {{'SHARED.COMPONENTS.MANAGERS_PAGE.TITLE' | translate}}
</h1>

<mat-tab-group (selectedTabChange)="tabChanged($event)">
  <mat-tab>
    <ng-template matTabLabel>
      {{'SHARED.COMPONENTS.MANAGERS_PAGE.USER' | translate}}
    </ng-template>
    <ng-template matTabContent>
      <perun-web-apps-refresh-button
        (refresh)="refreshUsers()"
        class="mt-2"></perun-web-apps-refresh-button>
      <button
        *ngIf="manageAuth && !configMode"
        (click)="addManager()"
        color="accent"
        class="mr-2 mt-2 action-button"
        data-cy="add-manager-button"
        mat-flat-button>
        {{'SHARED.COMPONENTS.MANAGERS_PAGE.ADD' | translate}}
      </button>

      <button
        *ngIf="manageAuth && !configMode"
        (click)="removeManager()"
        color="warn"
        [disabled]="selectionUsers.selected.length === 0"
        data-cy="remove-manager-button"
        class="mr-2 mt-2"
        mat-flat-button>
        {{'SHARED.COMPONENTS.MANAGERS_PAGE.REMOVE' | translate}}
      </button>

      <mat-form-field class="mr-2 mt-2">
        <mat-label>{{'SHARED.COMPONENTS.MANAGERS_PAGE.SELECT_ROLE' | translate}}</mat-label>
        <mat-select (selectionChange)="refreshUsers()" [(value)]="selectedRole">
          <mat-option
            *ngFor="let role of availableRoles"
            [value]="role"
            >{{role | displayedRole}}</mat-option
          >
        </mat-select>
      </mat-form-field>

      <mat-spinner *ngIf="loading" class="ml-auto mr-auto"></mat-spinner>

      <app-users-list
        *ngIf="!loading && managers"
        [disableSelf]="disableSelf"
        [tableId]="tableId"
        [disableRouting]="!routeAuth || disableRouting"
        [displayedColumns]="displayedUserColumns"
        [selection]="selectionUsers"
        [users]="managers">
      </app-users-list>
    </ng-template>
  </mat-tab>

  <mat-tab>
    <ng-template matTabLabel>
      {{'SHARED.COMPONENTS.MANAGERS_PAGE.GROUP' | translate}}
    </ng-template>
    <ng-template matTabContent>
      <perun-web-apps-refresh-button
        (refresh)="refreshGroups()"
        class="mt-2"></perun-web-apps-refresh-button>
      <button
        *ngIf="manageAuth && !configMode"
        (click)="addGroup()"
        color="accent"
        class="mr-2 mt-2 action-button"
        mat-flat-button>
        {{'SHARED.COMPONENTS.MANAGERS_PAGE.ADD' | translate}}
      </button>

      <button
        *ngIf="manageAuth && !configMode"
        (click)="removeGroup()"
        [disabled]="selectionGroups.selected.length === 0"
        class="mr-2 mt-2"
        color="warn"
        mat-flat-button>
        {{'SHARED.COMPONENTS.MANAGERS_PAGE.REMOVE' | translate}}
      </button>

      <mat-form-field class="mr-2 mt-2">
        <mat-label>{{'SHARED.COMPONENTS.MANAGERS_PAGE.SELECT_ROLE' | translate}}</mat-label>
        <mat-select (selectionChange)="refreshGroups()" [(value)]="selectedRole">
          <mat-option
            *ngFor="let role of availableRoles"
            [value]="role"
            >{{role | displayedRole}}</mat-option
          >
        </mat-select>
      </mat-form-field>

      <mat-spinner *ngIf="loading" class="ml-auto mr-auto"></mat-spinner>

      <perun-web-apps-groups-list
        *ngIf="!loading && groups"
        [disableMembers]="false"
        [disableRouting]="disableRouting"
        [displayedColumns]="displayedGroupColumns"
        [groups]="groups"
        [selection]="selectionGroups"
        [tableId]="tableId">
      </perun-web-apps-groups-list>
    </ng-template>
  </mat-tab>
</mat-tab-group>

<perun-web-apps-alert *ngIf="availableRoles.length === 0" alert_type="warn">
  {{'SHARED.COMPONENTS.MANAGERS_PAGE.NO_AVAILABLE_ROLES' | translate}}
</perun-web-apps-alert>
