<h1 class="page-subtitle">
  {{'SHARED.COMPONENTS.MANAGERS_PAGE.TITLE' | translate}}
</h1>

<mat-tab-group (selectedTabChange)="tabChanged($event)">
  <mat-tab>
    <ng-template matTabLabel>
      {{'SHARED.COMPONENTS.MANAGERS_PAGE.USER' | translate}}
    </ng-template>
    <ng-template matTabContent>
      <perun-web-apps-refresh-button
        class="mt-2"
        (refresh)="refreshUsers()"></perun-web-apps-refresh-button>
      <button
        *ngIf="manageAuth && !configMode"
        mat-flat-button
        color="accent"
        class="mr-2 mt-2 action-button"
        data-cy="add-manager-button"
        (click)="addManager()">
        {{'SHARED.COMPONENTS.MANAGERS_PAGE.ADD' | translate}}
      </button>

      <button
        *ngIf="manageAuth && !configMode"
        mat-flat-button
        color="warn"
        class="mr-2 mt-2"
        data-cy="remove-manager-button"
        (click)="removeManager()"
        [disabled]="selectionUsers.selected.length === 0">
        {{'SHARED.COMPONENTS.MANAGERS_PAGE.REMOVE' | translate}}
      </button>

      <mat-form-field class="mr-2 mt-2">
        <mat-label>{{'SHARED.COMPONENTS.MANAGERS_PAGE.SELECT_ROLE' | translate}}</mat-label>
        <mat-select [(value)]="selectedRole" (selectionChange)="refreshUsers()">
          <mat-option
            *ngFor="let role of availableRoles"
            [value]="role"
            >{{role | displayedRole}}</mat-option
          >
        </mat-select>
      </mat-form-field>

      <mat-spinner *ngIf="loading" class="ml-auto mr-auto"></mat-spinner>

      <app-users-list
        *ngIf="!loading && managers"
        [tableId]="tableId"
        [users]="managers"
        [disableRouting]="!routeAuth || disableRouting"
        [displayedColumns]="displayedUserColumns"
        [selection]="selectionUsers"
        [disableSelf]="disableSelf">
      </app-users-list>
    </ng-template>
  </mat-tab>

  <mat-tab>
    <ng-template matTabLabel>
      {{'SHARED.COMPONENTS.MANAGERS_PAGE.GROUP' | translate}}
    </ng-template>
    <ng-template matTabContent>
      <perun-web-apps-refresh-button
        class="mt-2"
        (refresh)="refreshGroups()"></perun-web-apps-refresh-button>
      <button
        *ngIf="manageAuth && !configMode"
        mat-flat-button
        color="accent"
        class="mr-2 mt-2 action-button"
        (click)="addGroup()">
        {{'SHARED.COMPONENTS.MANAGERS_PAGE.ADD' | translate}}
      </button>

      <button
        *ngIf="manageAuth && !configMode"
        mat-flat-button
        color="warn"
        class="mr-2 mt-2"
        (click)="removeGroup()"
        [disabled]="selectionGroups.selected.length === 0">
        {{'SHARED.COMPONENTS.MANAGERS_PAGE.REMOVE' | translate}}
      </button>

      <mat-form-field class="mr-2 mt-2">
        <mat-label>{{'SHARED.COMPONENTS.MANAGERS_PAGE.SELECT_ROLE' | translate}}</mat-label>
        <mat-select [(value)]="selectedRole" (selectionChange)="refreshGroups()">
          <mat-option
            *ngFor="let role of availableRoles"
            [value]="role"
            >{{role | displayedRole}}</mat-option
          >
        </mat-select>
      </mat-form-field>

      <mat-spinner *ngIf="loading" class="ml-auto mr-auto"></mat-spinner>

      <perun-web-apps-groups-list
        *ngIf="!loading && groups"
        [tableId]="tableId"
        [disableRouting]="disableRouting"
        [displayedColumns]="displayedGroupColumns"
        [groups]="groups"
        [selection]="selectionGroups"
        [disableMembers]="false">
      </perun-web-apps-groups-list>
    </ng-template>
  </mat-tab>
</mat-tab-group>

<perun-web-apps-alert *ngIf="availableRoles.length === 0" alert_type="warn">
  {{'SHARED.COMPONENTS.MANAGERS_PAGE.NO_AVAILABLE_ROLES' | translate}}
</perun-web-apps-alert>
