<div [hidden]="members.length === 0" class="card mt-2">
  <perun-web-apps-table-wrapper
    (exportData)="exportData($event)"
    [tableId]="tableId"
    [dataLength]="dataSource.filteredData.length"
    [pageSizeOptions]="pageSizeOptions">
    <table
      [dataSource]="dataSource"
      class="w-100"
      mat-table
      matSort
      matSortActive="fullName"
      matSortDirection="asc"
      matSortDisableClear>
      <ng-container matColumnDef="checkbox">
        <th *matHeaderCellDef mat-header-cell class="align-checkbox">
          <mat-checkbox
            (change)="$event ? masterToggle() : null"
            [aria-label]="checkboxLabel()"
            [checked]="selection.hasValue() && isAllSelected()"
            [indeterminate]="selection.hasValue() && !isAllSelected()"
            color="primary">
          </mat-checkbox>
        </th>
        <td *matCellDef="let memberCandidate" class="static-column-size align-checkbox" mat-cell>
          <div
            [matTooltip]="getTooltip(memberCandidate) | translate"
            [matTooltipDisabled]="!isCheckboxDisabled(memberCandidate)"
            matTooltipPosition="above">
            <mat-checkbox
              (change)="$event ? itemSelectionToggle(memberCandidate) : null"
              (click)="$event.stopPropagation()"
              [aria-label]="checkboxLabel(memberCandidate)"
              [checked]="selection.isSelected(memberCandidate)"
              [disabled]="isCheckboxDisabled(memberCandidate)"
              attr.data-cy="{{(memberCandidate.richUser ? memberCandidate.richUser.firstName : memberCandidate.candidate.firstName) | translate | lowercase}}-checkbox"
              color="primary">
            </mat-checkbox>
          </div>
        </td>
      </ng-container>
      <ng-container matColumnDef="status">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>
          {{'MEMBERS_CANDIDATES_LIST.STATUS' | translate}}
        </th>
        <td *matCellDef="let memberCandidate" mat-cell>
          <i
            *ngIf="memberCandidate.member"
            class="material-icons {{memberCandidate.member.status | memberStatusIconColor}}"
            matTooltip="{{memberCandidate.member.status}}"
            matTooltipPosition="left">
            {{memberCandidate.member.status | memberStatusIcon}}
          </i>
        </td>
      </ng-container>
      <ng-container matColumnDef="fullName">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>
          {{'MEMBERS_CANDIDATES_LIST.NAME' | translate}}
        </th>
        <td *matCellDef="let memberCandidate" mat-cell>
          {{memberCandidate.richUser ? (memberCandidate.richUser | userFullName) : (memberCandidate.candidate | userFullName)}}
        </td>
      </ng-container>
      <ng-container matColumnDef="voExtSource">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>
          {{'MEMBERS_CANDIDATES_LIST.ORGANIZATION' | translate}}
        </th>
        <td *matCellDef="let memberCandidate" mat-cell>
          {{memberCandidate.richUser ? (memberCandidate.richUser | userVo) : getOrganization(memberCandidate.candidate)}}
        </td>
      </ng-container>
      <ng-container matColumnDef="email">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>
          {{'MEMBERS_CANDIDATES_LIST.EMAIL' | translate}}
        </th>
        <td *matCellDef="let memberCandidate" mat-cell>
          {{getEmail(memberCandidate)}}
        </td>
      </ng-container>
      <ng-container matColumnDef="logins">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>
          {{'MEMBERS_CANDIDATES_LIST.LOGINS' | translate}}
        </th>
        <td *matCellDef="let memberCandidate" mat-cell>
          {{getLogins(memberCandidate)}}
        </td>
      </ng-container>
      <ng-container matColumnDef="alreadyMember">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>
          {{'MEMBERS_CANDIDATES_LIST.ALREADY_MEMBER' | translate}}
        </th>
        <td *matCellDef="let memberCandidate" mat-cell>
          {{memberCandidate | memberType: type}}
        </td>
      </ng-container>
      <ng-container matColumnDef="local">
        <th *matHeaderCellDef mat-header-cell mat-sort-header></th>
        <td *matCellDef="let memberCandidate" mat-cell>
          {{memberCandidate.richUser ? "Local" : "External identity"}}
        </td>
      </ng-container>
      <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
      <tr
        *matRowDef="let memberCandidate; columns: displayedColumns;"
        class="dark-hover-list-item"
        mat-row></tr>
    </table>
  </perun-web-apps-table-wrapper>
</div>

<perun-web-apps-alert *ngIf="members.length === 0" alert_type="warn">
  {{'DIALOGS.ADD_MEMBERS.NO_USERS_FOUND' | translate}}
</perun-web-apps-alert>
