<h1 mat-dialog-title>{{'DIALOGS.NOTIFICATION_LIST.TITLE' | translate}}</h1>
<div *ngIf="notifications.length !== 0" class="hide-horizontal-scrollbar">
  <cdk-virtual-scroll-viewport class="viewport" itemSize="50">
    <div *cdkVirtualFor="let data of notifications" class="mb-1">
      <perun-web-apps-notification [data]="data" [inDialog]="true"> </perun-web-apps-notification>
    </div>
  </cdk-virtual-scroll-viewport>
</div>
<perun-web-apps-alert
  alert_type="warn"
  *ngIf="notifications.length === 0"
  >{{'DIALOGS.NOTIFICATION_LIST.NO_NOTIFICATIONS_ALERT'|translate}}</perun-web-apps-alert
>

<div mat-dialog-actions>
  <button (click)="onClear()" class="ml-auto" mat-flat-button>
    {{'DIALOGS.NOTIFICATION_LIST.CLEAR' | translate}}
  </button>
  <button (click)="onCancel()" class="ml-2" mat-flat-button>
    {{'DIALOGS.NOTIFICATION_LIST.CANCEL' | translate}}
  </button>
</div>
