<ng-template #spinner>
  <perun-web-apps-loading-dialog></perun-web-apps-loading-dialog>
</ng-template>
<div class="{{theme}} position-relative">
  <div *perunWebAppsLoader="loading; indicator: spinner">
    <h1 mat-dialog-title>{{'DIALOGS.REMOVE_MANAGERS.TITLE' | translate}}</h1>
    <div mat-dialog-content>
      <p>
        {{'DIALOGS.REMOVE_MANAGERS.DESCRIPTION' | translate}}
      </p>

      <div class="fw-bold">
        {{'DIALOGS.REMOVE_MANAGERS.ASK' | translate}}
      </div>

      <table [dataSource]="dataSource" class="w-100" mat-table>
        <ng-container matColumnDef="name">
          <th *matHeaderCellDef mat-header-cell></th>
          <td *matCellDef="let manager" mat-cell>{{manager.firstName}} {{manager.lastName}}</td>
        </ng-container>

        <tr *matHeaderRowDef="displayedColumns" class="font-weight-bolder" mat-header-row></tr>
        <tr *matRowDef="let manager; columns: displayedColumns;" mat-row></tr>
      </table>
      <perun-web-apps-alert *ngIf="removeSelf" alert_type="warn">
        {{'DIALOGS.REMOVE_MANAGERS.WARNING_REMOVE_YOURSELF' | translate: {role: 'ROLES.' + this.data.role | translate} }}
      </perun-web-apps-alert>
    </div>
    <div mat-dialog-actions>
      <button (click)="onCancel()" class="ms-auto" mat-flat-button>
        {{'DIALOGS.REMOVE_MANAGERS.CANCEL' | translate}}
      </button>
      <button
        (click)="onSubmit()"
        class="ms-2"
        color="warn"
        data-cy="remove-manager-button-dialog"
        [disabled]="loading"
        mat-flat-button>
        {{'DIALOGS.REMOVE_MANAGERS.DELETE' | translate}}
      </button>
    </div>
  </div>
</div>
