<h1 mat-dialog-title>{{'DIALOGS.REMOVE_REQUIRED_ATTRIBUTES.TITLE' | translate}}</h1>
<div class="{{theme}}">
  <mat-spinner *ngIf="loading" class="me-auto ms-auto"></mat-spinner>
  <div *ngIf="!loading" mat-dialog-content>
    <p>{{'DIALOGS.REMOVE_REQUIRED_ATTRIBUTES.DESCRIPTION' | translate}}</p>
    <div class="fw-bold">
      {{'DIALOGS.REMOVE_REQUIRED_ATTRIBUTES.ASK' | translate}}
    </div>
    <table [dataSource]="dataSource" class="w-100" mat-table>
      <ng-container matColumnDef="name">
        <th *matHeaderCellDef mat-header-cell></th>
        <td *matCellDef="let attrDefinition" mat-cell>{{attrDefinition.friendlyName}}</td>
      </ng-container>
      <tr *matHeaderRowDef="displayedColumns" class="fw-bolder" mat-header-row></tr>
      <tr *matRowDef="let attrDefinition; columns: displayedColumns;" mat-row></tr>
    </table>
  </div>
  <div mat-dialog-actions>
    <button (click)="onCancel()" class="ms-auto" mat-flat-button>
      {{'DIALOGS.REMOVE_REQUIRED_ATTRIBUTES.CANCEL' | translate}}
    </button>
    <button (click)="onConfirm()" [disabled]="loading" class="ms-2" color="warn" mat-flat-button>
      {{'DIALOGS.REMOVE_REQUIRED_ATTRIBUTES.REMOVE' | translate}}
    </button>
  </div>
</div>
