@use '@angular/material' as mat;

// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
// Plus imports for other components in your app.

// IMPORTANT
// Changes to the styles should be made in the _styles.scss file.
// Changes to the styles.scss would result in the styles being overwritten
// during the build process and the changes would be lost.

// Include the common styles for Angular Material. We include this here so that you only
@include mat.all-component-typographies();
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$password-reset-primary: mat.define-palette(mat.$indigo-palette);
$password-reset-accent: mat.define-palette(mat.$green-palette, 600);

// The warn palette is optional (defaults to red).
$password-reset-warn: mat.define-palette(mat.$red-palette);

// Create the theme object (a Sass map containing all of the palettes).
$password-reset-theme: mat.define-light-theme(
  (
    color: (
      primary: $password-reset-primary,
      accent: $password-reset-accent,
      warn: $password-reset-warn,
    ),
    typography: mat.define-typography-config(),
    density: 0,
  )
);
// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($password-reset-theme);

/* You can add global styles to this file, and also import other style files */

.user-theme {
  $user-dynamic-colors: (
    50: rgba(var(--user-theme-primary-50), 1),
    100: rgba(var(--user-theme-primary-100), 1),
    200: rgba(var(--user-theme-primary-200), 1),
    300: rgba(var(--user-theme-primary-300), 1),
    400: rgba(var(--user-theme-primary-400), 1),
    500: rgba(var(--user-theme-primary-500), 1),
    600: rgba(var(--user-theme-primary-600), 1),
    700: rgba(var(--user-theme-primary-700), 1),
    800: rgba(var(--user-theme-primary-800), 1),
    900: rgba(var(--user-theme-primary-900), 1),
    A100: rgba(var(--user-theme-primary-A100), 1),
    A200: rgba(var(--user-theme-primary-A200), 1),
    A400: rgba(var(--user-theme-primary-A400), 1),
    A700: rgba(var(--user-theme-primary-A700), 1),
    contrast: (
      50: rgba(var(--user-theme-primary-contrast-50), 1),
      100: rgba(var(--user-theme-primary-contrast-100), 1),
      200: rgba(var(--user-theme-primary-contrast-200), 1),
      300: rgba(var(--user-theme-primary-contrast-300), 1),
      400: rgba(var(--user-theme-primary-contrast-400), 1),
      500: rgba(var(--user-theme-primary-contrast-500), 1),
      600: rgba(var(--user-theme-primary-contrast-600), 1),
      700: rgba(var(--user-theme-primary-contrast-700), 1),
      800: rgba(var(--user-theme-primary-contrast-800), 1),
      900: rgba(var(--user-theme-primary-contrast-900), 1),
      A100: rgba(var(--user-theme-primary-contrast-A100), 1),
      A200: rgba(var(--user-theme-primary-contrast-A200), 1),
      A400: rgba(var(--user-theme-primary-contrast-A400), 1),
      A700: rgba(var(--user-theme-primary-contrast-A700), 1),
    ),
  );

  $user-primary: mat.define-palette($user-dynamic-colors, 500);
  $user-accent: mat.define-palette(mat.$green-palette, 600);

  $user-theme: mat.define-light-theme(
    (
      color: (
        primary: $user-primary,
        accent: $user-accent,
      ),
    )
  );

  @include mat.all-component-colors($user-theme);
}

.mat-mdc-unelevated-button {
  border-radius: var(--bs-border-radius) !important;
}

.dialog-container {
  display: flex;
  flex-direction: column;
}

.dialog-container > * {
  width: 100%;
}

.mat-mdc-tooltip {
  font-size: 13px !important;
}

mat-icon {
  overflow: inherit !important;
}

.spinner-container {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*************************************
******** Customization of MDC ********
*************************************/

// Custom MDC form field
.mdc-text-field {
  background-color: transparent !important;
  margin-top: 5px !important;
}
label:not(.mdc-floating-label--float-above) {
  padding-top: 16px !important;
  width: 100%;
}
.mat-form-field-appearance-outline {
  label:not(.mdc-floating-label--float-above) {
    padding-top: 0 !important;
  }
}
.mdc-floating-label--float-above {
  width: 133.33% !important;
}
mat-form-field mat-icon {
  padding: 0 !important;
}

// angular 15 button fixes

.mdc-button {
  border-radius: var(--bs-border-radius) !important;
  white-space: nowrap !important;
  letter-spacing: normal;
}

// Proper mat icon inside button
.mat-mdc-outlined-button > .mat-icon,
.mat-mdc-unelevated-button > .mat-icon {
  margin-left: 0 !important;
  margin-right: 0 !important;
  height: 1.5rem !important;
  width: 1.5rem !important;
  font-size: 1.5rem !important;
}

.mat-mdc-tab-header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12) !important;
}

.mat-mdc-tab.mdc-tab--active {
  background-color: #e8e4e4;
}

.mdc-data-table__cell {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12) !important;
}
