<div class="{{theme}}">
  <h1 mat-dialog-title>{{'DIALOGS.NOTIFICATIONS_COPY_MAILS.TITLE' | translate}}</h1>
  <mat-spinner *ngIf="loading" class="ml-auto mr-auto"></mat-spinner>
  <div [hidden]="loading" class="dialog-container" mat-dialog-content>
    <div class="mb-2 font-italic">
      {{'DIALOGS.NOTIFICATIONS_COPY_MAILS.DESCRIPTION' | translate}}
    </div>
    {{'DIALOGS.NOTIFICATIONS_COPY_MAILS.SOURCE_VO' | translate}}:

    <perun-web-apps-vo-search-select
      (voSelected)="voSelected($event)"
      [vos]="vos"
      class="long-input">
    </perun-web-apps-vo-search-select>

    {{'DIALOGS.NOTIFICATIONS_COPY_MAILS.SOURCE_GROUP' | translate}}:

    <perun-web-apps-group-search-select
      (groupSelected)="selectedGroup = ($event)"
      [groups]="groups"
      [disableAutoSelect]="true"
      class="long-input">
    </perun-web-apps-group-search-select>
  </div>

  <div mat-dialog-actions>
    <button (click)="cancel()" class="ml-auto" mat-flat-button>
      {{'DIALOGS.NOTIFICATIONS_COPY_MAILS.CANCEL_BUTTON' | translate}}
    </button>
    <button
      (click)="submit()"
      class="ml-2"
      color="accent"
      [disabled]="selectedVo === null || selectedGroup === null || loading"
      mat-flat-button>
      {{'DIALOGS.NOTIFICATIONS_COPY_MAILS.SUBMIT_BUTTON' | translate}}
    </button>
  </div>
</div>
