<ng-template #spinner>
  <perun-web-apps-loading-dialog></perun-web-apps-loading-dialog>
</ng-template>
<div class="{{theme}} position-relative">
  <div *perunWebAppsLoader="loading; indicator: spinner">
    <h1 mat-dialog-title>{{'DIALOGS.NOTIFICATIONS_COPY_MAILS.TITLE' | translate}}</h1>
    <div class="dialog-container" mat-dialog-content>
      <div class="mb-2 font-italic">
        {{'DIALOGS.NOTIFICATIONS_COPY_MAILS.DESCRIPTION' | translate}}
      </div>
      {{'DIALOGS.NOTIFICATIONS_COPY_MAILS.SOURCE_VO' | translate}}:

      <perun-web-apps-vo-search-select
        (voSelected)="voSelected($event)"
        [vos]="vos"
        class="long-input">
      </perun-web-apps-vo-search-select>

      {{'DIALOGS.NOTIFICATIONS_COPY_MAILS.SOURCE_GROUP' | translate}}:

      <perun-web-apps-group-search-select
        (groupSelected)="selectedGroup = ($event)"
        [groups]="groups"
        [firstSelectedGroup]="selectedGroup"
        [disableAutoSelect]="true"
        class="long-input">
      </perun-web-apps-group-search-select>
    </div>

    <div mat-dialog-actions>
      <button (click)="cancel()" class="ms-auto" mat-flat-button>
        {{'DIALOGS.NOTIFICATIONS_COPY_MAILS.CANCEL_BUTTON' | translate}}
      </button>
      <button
        (click)="submit()"
        class="ms-2"
        color="accent"
        [disabled]="(!selectedVo && !selectedGroup) || loading"
        mat-flat-button>
        {{'DIALOGS.NOTIFICATIONS_COPY_MAILS.SUBMIT_BUTTON' | translate}}
      </button>
    </div>
  </div>
</div>
