<h1 class="page-subtitle">
  {{'VO_DETAIL.SETTINGS.APPLICATION_FORM.TITLE' | translate}} -
  {{'VO_DETAIL.SETTINGS.APPLICATION_FORM.MANAGE_GROUPS_PAGE.TITLE' | translate}}
</h1>
<perun-web-apps-alert alert_type="info">
  {{'VO_DETAIL.SETTINGS.APPLICATION_FORM.MANAGE_GROUPS_PAGE.HELP' | translate}}
</perun-web-apps-alert>

<perun-web-apps-refresh-button (refresh)="loadGroups()"></perun-web-apps-refresh-button>
<button (click)="onAddGroup()" *ngIf="addAuth" class="mr-2" color="accent" mat-flat-button>
  {{'VO_DETAIL.SETTINGS.APPLICATION_FORM.MANAGE_GROUPS_PAGE.ADD' | translate}}
</button>
<span
  [matTooltipDisabled]="list === undefined || (list !== undefined && list.removeAuth)"
  matTooltip="{{'VO_DETAIL.SETTINGS.APPLICATION_FORM.MANAGE_GROUPS_PAGE.REMOVE_PERMISSION_HINT' | translate}}">
  <button
    (click)="removeGroup()"
    color="warn"
    [disabled]="selected.selected.length === 0 || (list !== undefined && !list.removeAuth)"
    class="mr-2"
    mat-flat-button>
    {{'VO_DETAIL.SETTINGS.APPLICATION_FORM.MANAGE_GROUPS_PAGE.REMOVE' | translate}}
  </button>
</span>
<perun-web-apps-immediate-filter
  (filter)="this.filterValue = $event"
  [placeholder]="'VO_DETAIL.SETTINGS.APPLICATION_FORM.MANAGE_GROUPS_PAGE.FILTER'">
</perun-web-apps-immediate-filter>
<mat-spinner *ngIf="loading" class="ml-auto mr-auto"> </mat-spinner>
<perun-web-apps-groups-list
  #list
  *ngIf="!loading"
  [authType]="'application-form-manage-groups'"
  [displayedColumns]="['select', 'id', 'name', 'description']"
  [disableRouting]="true"
  [filter]="filterValue"
  [groups]="this.groups"
  [selection]="selected"
  [tableId]="tableId"
  theme="vo-theme">
</perun-web-apps-groups-list>
