<div
  [class.hide-table]="loading"
  [hidden]="this.table.length === 0 || (dataSource ? dataSource.filteredData.length === 0 : false)"
  class="card mt-2 w-100">
  <perun-web-apps-table-wrapper
    (exportData)="exportData($event)"
    [dataLength]="dataSource.filteredData.length"
    [pageSizeOptions]="pageSizeOptions"
    [tableId]="tableId">
    <table [dataSource]="dataSource" class="w-100" mat-table>
      <ng-container matColumnDef="id">
        <th *matHeaderCellDef mat-header-cell>{{'APPLICATIONS_LIST.ID' | translate}}</th>
        <td *matCellDef="let application" class="static-column-size" mat-cell>
          {{application['id']}}
        </td>
      </ng-container>
      <ng-container matColumnDef="voId">
        <th *matHeaderCellDef mat-header-cell>{{'APPLICATIONS_LIST.VO_ID' | translate}}</th>
        <td *matCellDef="let application" class="static-column-size" mat-cell>
          {{application['vo'].id}}
        </td>
      </ng-container>
      <ng-container matColumnDef="voName">
        <th *matHeaderCellDef mat-header-cell>{{'APPLICATIONS_LIST.VO_NAME' | translate}}</th>
        <td *matCellDef="let application" class="static-column-size" mat-cell>
          {{application['vo'].name}}
        </td>
      </ng-container>
      <ng-container matColumnDef="groupId">
        <th *matHeaderCellDef mat-header-cell>{{'APPLICATIONS_LIST.GROUP_ID' | translate}}</th>
        <td *matCellDef="let application" class="static-column-size" mat-cell>
          {{application.group ? application.group.id : '' }}
        </td>
      </ng-container>
      <ng-container matColumnDef="groupName">
        <th *matHeaderCellDef mat-header-cell>{{'APPLICATIONS_LIST.GROUP_NAME' | translate}}</th>
        <td *matCellDef="let application" class="static-column-size" mat-cell>
          {{application.group ? application.group.name : '' }}
        </td>
      </ng-container>
      <ng-container matColumnDef="type">
        <th *matHeaderCellDef mat-header-cell>{{'APPLICATIONS_LIST.TYPE' | translate}}</th>
        <td *matCellDef="let application" mat-cell>{{application.type}}</td>
      </ng-container>
      <ng-container matColumnDef="state">
        <th *matHeaderCellDef mat-header-cell>{{'APPLICATIONS_LIST.STATE' | translate}}</th>
        <td *matCellDef="let application" mat-cell>{{application.state}}</td>
      </ng-container>
      <ng-container matColumnDef="extSourceName">
        <th *matHeaderCellDef mat-header-cell>{{'APPLICATIONS_LIST.EXTSOURCENAME' | translate}}</th>
        <td *matCellDef="let application" mat-cell>{{application.extSourceName}}</td>
      </ng-container>
      <ng-container matColumnDef="extSourceType">
        <th *matHeaderCellDef mat-header-cell>{{'APPLICATIONS_LIST.EXTSOURCETYPE' | translate}}</th>
        <td *matCellDef="let application" mat-cell>{{application.extSourceType}}</td>
      </ng-container>
      <ng-container matColumnDef="user">
        <th *matHeaderCellDef mat-header-cell>{{'APPLICATIONS_LIST.USER' | translate}}</th>
        <td *matCellDef="let application" mat-cell>
          {{application.user ? (application.user | userFullName) : 'null'}}
        </td>
      </ng-container>
      <ng-container matColumnDef="createdBy">
        <th *matHeaderCellDef mat-header-cell>{{'APPLICATIONS_LIST.CREATED_BY' | translate}}</th>
        <td *matCellDef="let application" mat-cell>
          {{application.createdBy.slice(application.createdBy.lastIndexOf('=') + 1, application.createdBy.length)}}
        </td>
      </ng-container>
      <ng-container matColumnDef="createdAt">
        <th *matHeaderCellDef mat-header-cell>{{'APPLICATIONS_LIST.CREATED_DATE' | translate}}</th>
        <td *matCellDef="let application" mat-cell>{{application.createdAt | date: 'd.M.y'}}</td>
      </ng-container>
      <ng-container matColumnDef="modifiedBy">
        <th *matHeaderCellDef mat-header-cell>{{'APPLICATIONS_LIST.MODIFIED_BY' | translate}}</th>
        <td *matCellDef="let application" mat-cell>{{getFriendlyName(application.modifiedBy)}}</td>
      </ng-container>
      <ng-container matColumnDef="modifiedAt">
        <th *matHeaderCellDef mat-header-cell>{{'APPLICATIONS_LIST.MODIFIED_AT' | translate}}</th>
        <td *matCellDef="let application" mat-cell>{{application.modifiedAt | date: 'd.M.y'}}</td>
      </ng-container>

      <ng-container
        *ngFor="let disCol of addedColumns; let colIndex = index"
        [matColumnDef]="disCol">
        <th *matHeaderCellDef mat-header-cell>{{disCol}}</th>
        <td *matCellDef="let application" mat-cell>{{application[disCol]}}</td>
      </ng-container>

      <ng-container matColumnDef="fedInfo">
        <th *matHeaderCellDef mat-header-cell>{{'APPLICATIONS_LIST.FEDINFO' | translate}}</th>
        <td *matCellDef="let application" mat-cell>{{application.fedInfo}}</td>
      </ng-container>

      <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
      <tr
        *matRowDef="let application; columns: displayedColumns;"
        [class.cursor-pointer]="!disableRouting"
        [perunWebAppsMiddleClickRouterLink]="selectApplication(application)"
        [routerLink]="selectApplication(application)"
        class="dark-hover-list-item"
        mat-row></tr>
    </table>
  </perun-web-apps-table-wrapper>
</div>

<perun-web-apps-alert *ngIf="this.dataSource.data.length === 0" alert_type="warn">
  {{'VO_DETAIL.APPLICATION.NO_APPLICATION_FOUND' | translate}}
</perun-web-apps-alert>

<perun-web-apps-alert
  *ngIf="dataSource.filteredData.length === 0 && table.length !== 0"
  alert_type="warn">
  {{'SHARED_LIB.UI.ALERTS.NO_FILTER_RESULTS_ALERT' | translate}}
</perun-web-apps-alert>

<mat-spinner *ngIf="loading" class="ml-auto mr-auto"></mat-spinner>
