<div class="container-fluid pl-xl-5 pr-xl-5 vo-theme">
  <perun-web-apps-back-button> </perun-web-apps-back-button>

  <h1 class="page-title d-flex">
    <mat-icon [ngStyle]="{'color':'black'}" class="perun-icon icon-scale" svgIcon="perun-vo-black">
    </mat-icon>
    {{'VO_MANAGEMENT.TITLE' | translate}}
  </h1>

  <perun-web-apps-refresh-button (refresh)="refreshTable()"></perun-web-apps-refresh-button>
  <button
    (click)="onCreateVo()"
    *ngIf="createAuth"
    class="mr-2 action-button"
    data-cy="new-vo-button"
    color="accent"
    mat-flat-button>
    {{'VO_MANAGEMENT.CREATE_VO' | translate}}
  </button>
  <button
    (click)="onRemoveVo()"
    *ngIf="deleteAuth"
    [disabled]="selection.selected.length === 0"
    class="mr-2"
    color="warn"
    mat-flat-button>
    {{'VO_MANAGEMENT.REMOVE_VO' | translate}}
  </button>
  <perun-web-apps-immediate-filter
    [autoFocus]="true"
    (filter)="applyFilter($event)"
    [placeholder]="'VO_MANAGEMENT.FILTER_PLACEHOLDER'">
  </perun-web-apps-immediate-filter>
  <mat-spinner *ngIf="loading" class="ml-auto mr-auto"></mat-spinner>
  <perun-web-apps-vos-list
    *ngIf="!loading"
    [tableId]="tableId"
    [displayedColumns]="displayedColumns"
    [filterValue]="filterValue"
    [recentIds]="recentIds"
    [selection]="selection"
    [vos]="vos">
  </perun-web-apps-vos-list>
</div>
