<div class="{{data.style}}">
  <div mat-dialog-title>
    <h1 class="page-subtitle">{{'DIALOGS.CREATE_ATTRIBUTE.SET_NEW' | translate}}</h1>
    <perun-web-apps-debounce-filter
      (filter)="applyFilter($event)"
      [placeholder]="'SHARED_LIB.PERUN.COMPONENTS.ATTRIBUTES_LIST.FILTER'"
      data-cy="filter-attributes"
      class="font-size-1rem"></perun-web-apps-debounce-filter>
    <perun-web-apps-alert *ngIf="showError" class="ms-3 font-size-1rem" alert_type="error">
      {{'DIALOGS.CREATE_ATTRIBUTE.ERROR_EMPTY_VALUE' | translate}}
    </perun-web-apps-alert>
  </div>
  <div mat-dialog-content>
    <ng-template #spinner>
      <perun-web-apps-loading-table></perun-web-apps-loading-table>
    </ng-template>
    <div class="position-relative">
      <perun-web-apps-attributes-list
        *perunWebAppsLoader="loading; indicator: spinner"
        #list
        [emptyListText]="'SHARED_LIB.PERUN.COMPONENTS.ATTRIBUTES_LIST.EMPTY_ATTRIBUTES'"
        [attributes]="attributes"
        [filterValue]="filterValue"
        [selection]="selected"
        [tableId]="tableId">
      </perun-web-apps-attributes-list>
    </div>
  </div>
  <div mat-dialog-actions>
    <button (click)="onCancel()" class="ms-auto" mat-stroked-button>
      {{'DIALOGS.CREATE_ATTRIBUTE.CANCEL' | translate}}
    </button>

    <button
      (click)="onSave()"
      [disabled]="selected.selected.length === 0"
      class="ms-2"
      color="accent"
      data-cy="save-selected-attributes"
      mat-flat-button>
      {{'DIALOGS.CREATE_ATTRIBUTE.SAVE' | translate}}
    </button>
  </div>
</div>
