<ng-template #spinner>
  <perun-web-apps-loading-dialog></perun-web-apps-loading-dialog>
</ng-template>
<div class="{{theme}} position-relative">
  <div *perunWebAppsLoader="loading; indicator: spinner">
    <h1 mat-dialog-title>{{title}}</h1>
    <div class="dialog-container" mat-dialog-content>
      <mat-form-field>
        <mat-label>{{'DIALOGS.CREATE_GROUP.NAME' | translate}}</mat-label>
        <input [formControl]="nameControl" matInput data-cy="group-name" required />
        <mat-error>
          {{invalidNameMessage.length ? invalidNameMessage : ('DIALOGS.CREATE_GROUP.FILL_VALUE' | translate)}}
        </mat-error>
      </mat-form-field>
      <mat-form-field class="mt-4">
        <mat-label>{{'DIALOGS.CREATE_GROUP.DESCRIPTION' | translate}}</mat-label>
        <textarea [formControl]="descriptionControl" matInput data-cy="group-description">
        </textarea>
      </mat-form-field>
      <mat-checkbox
        *ngIf="isNotSubGroup"
        [(ngModel)]="asSubgroup"
        (click)="loadVoGroups()"
        [labelPosition]="'before'">
        {{'DIALOGS.CREATE_GROUP.AS_SUBGROUP' | translate}}
      </mat-checkbox>
      <perun-web-apps-group-search-select
        *ngIf="asSubgroup"
        (groupSelected)="selectedParent = $event"
        [disableAutoSelect]="true"
        [groups]="voGroups"
        class="long-input">
      </perun-web-apps-group-search-select>
    </div>
    <div mat-dialog-actions>
      <button (click)="onCancel()" class="ms-auto" mat-flat-button>
        {{'DIALOGS.CREATE_GROUP.CANCEL' | translate}}
      </button>
      <button
        (click)="onSubmit()"
        [disabled]="nameControl.invalid || descriptionControl.invalid || (asSubgroup && selectedParent === null) || loading"
        class="ms-2"
        color="accent"
        data-cy="create-group-button-dialog"
        mat-flat-button>
        {{'DIALOGS.CREATE_GROUP.CREATE' | translate}}
      </button>
    </div>
  </div>
</div>
