<ng-template #spinner>
  <perun-web-apps-loading-dialog></perun-web-apps-loading-dialog>
</ng-template>
<div class="user-theme position-relative">
  <div *perunWebAppsLoader="loading; indicator: spinner">
    <h1 mat-dialog-title>{{'DIALOGS.ADD_UNIX_GROUP.TITLE'|customTranslate | translate}}</h1>
    <div mat-dialog-content class="dialog-container">
      <mat-form-field class="w-100">
        <input matInput required class="w-100" [formControl]="inputControl" />
      </mat-form-field>
    </div>
    <div mat-dialog-actions>
      <button mat-flat-button class="ms-auto" (click)="onCancel()">
        {{'DIALOGS.ADD_UNIX_GROUP.CANCEL'|customTranslate | translate}}
      </button>
      <button
        mat-flat-button
        class="ms-2"
        color="accent"
        [disabled]="!inputControl.valid || groups.includes(inputControl.value)"
        (click)="onSubmit()">
        {{'DIALOGS.ADD_UNIX_GROUP.ADD'|customTranslate | translate}}
      </button>
    </div>
  </div>
</div>
