<ng-template #spinner>
  <perun-web-apps-loading-dialog></perun-web-apps-loading-dialog>
</ng-template>
<div class="user-theme position-relative">
  <div *perunWebAppsLoader="loading; indicator: spinner">
    <h1 mat-dialog-title>{{'DIALOGS.ADD_AUTHORS.TITLE' | translate}}</h1>
    <div mat-dialog-content>
      <mat-form-field class="me-2 adjust-width">
        <mat-label>{{'DIALOGS.ADD_AUTHORS.SEARCH_PLACEHOLDER' | translate}}</mat-label>
        <input
          matInput
          autocomplete="false"
          (keyup.enter)="onSearchByString()"
          [formControl]="searchControl" />
        <mat-error>
          {{'DIALOGS.ADD_AUTHORS.EMPTY_SEARCH_MESSAGE' | translate }}
        </mat-error>
      </mat-form-field>
      <button
        mat-flat-button
        color="accent"
        class="me-2"
        [disabled]="searchLoading || searchControl.value.trim() === ''"
        (click)="onSearchByString()">
        <mat-icon iconPositionEnd>search</mat-icon>
      </button>
      <ng-template #searchSpinner>
        <perun-web-apps-loading-table></perun-web-apps-loading-table>
      </ng-template>
      <div class="position-relative" *ngIf="firstSearchDone">
        <perun-web-apps-authors-list
          *perunWebAppsLoader="searchLoading; indicator: searchSpinner"
          [authors]="authors"
          [selection]="selection"
          [disableRouting]="true"
          [tableId]="tableIdAuthors"
          [displayedColumns]="['select', 'id', 'name', 'organization', 'email']">
        </perun-web-apps-authors-list>
      </div>
      <perun-web-apps-alert *ngIf="!firstSearchDone" alert_type="info">
        {{'DIALOGS.ADD_AUTHORS.SEARCH_INFO' | translate}}
      </perun-web-apps-alert>
    </div>

    <div mat-dialog-actions>
      <button (click)="onCancel()" class="ms-auto" mat-flat-button>
        {{'DIALOGS.ADD_AUTHORS.CANCEL' | translate}}
      </button>
      <button
        (click)="onAdd()"
        [disabled]="selection.selected.length === 0 || loading"
        class="ms-2"
        color="accent"
        mat-flat-button>
        {{'DIALOGS.ADD_AUTHORS.ADD' | translate}}
      </button>
    </div>
  </div>
</div>
