<h2 class="page-subtitle">
  {{'VO_DETAIL.APPLICATION.APPLICATION_DETAIL.TITLE' | translate}}
  <span *ngIf="!!application" class="text-muted"> #{{application.id}} </span>
</h2>
<mat-divider class="mb-4"></mat-divider>

<mat-spinner *ngIf="loading" class="ml-auto mr-auto"> </mat-spinner>

<div *ngIf="!loading">
  <button
    (click)="verifyApplication()"
    color="accent"
    *ngIf="this.application.state === 'NEW' && verifyAuth"
    class="mr-2"
    mat-flat-button>
    {{'VO_DETAIL.APPLICATION.APPLICATION_DETAIL.VERIFY' | translate}}
  </button>
  <button
    (click)="approveApplication()"
    color="accent"
    *ngIf="(this.application.state === 'VERIFIED' || this.application.state === 'NEW') && approveAuth"
    class="mr-2"
    mat-flat-button>
    {{'VO_DETAIL.APPLICATION.APPLICATION_DETAIL.APPROVE' | translate}}
  </button>
  <button
    (click)="rejectApplication()"
    color="warn"
    *ngIf="(this.application.state === 'VERIFIED' || this.application.state === 'NEW') && rejectAuth"
    class="mr-2"
    mat-flat-button>
    {{'VO_DETAIL.APPLICATION.APPLICATION_DETAIL.REJECT' | translate}}
  </button>
  <button
    (click)="deleteApplication()"
    color="warn"
    *ngIf="(this.application.state === 'REJECTED' || this.application.state === 'NEW') && deleteAuth"
    class="mr-2"
    mat-flat-button>
    {{'VO_DETAIL.APPLICATION.APPLICATION_DETAIL.DELETE' | translate}}
  </button>
  <button (click)="resendNotification()" *ngIf="resendAuth" class="mr-2 mb-2" mat-stroked-button>
    <i class="material-icons"> mail_outline </i>
    {{'VO_DETAIL.APPLICATION.APPLICATION_DETAIL.SEND_NOTIFICATION' | translate}}
  </button>

  <div *ngIf="!application.group">
    <span
      class="font-weight-bold"
      >{{'VO_DETAIL.APPLICATION.APPLICATION_DETAIL.APPLICATION_FOR_VO' | translate}}</span
    >: {{this.application.vo.name}}
  </div>
  <div *ngIf="application.group">
    <span
      class="font-weight-bold"
      >{{'VO_DETAIL.APPLICATION.APPLICATION_DETAIL.APPLICATION_FOR_GROUP' | translate}}</span
    >: {{this.application.group.name}}
    <span
      class="font-weight-bold"
      >{{'VO_DETAIL.APPLICATION.APPLICATION_DETAIL.APPLICATION_IN_VO' | translate}}</span
    >: {{this.application.vo.name}}
  </div>
  <div>
    <span
      class="font-weight-bold"
      >{{'VO_DETAIL.APPLICATION.APPLICATION_DETAIL.STATE' | translate}}</span
    >: <span [outerHTML]="this.application.state | applicationState"></span>
  </div>
  <div>
    <span
      class="font-weight-bold"
      >{{'VO_DETAIL.APPLICATION.APPLICATION_DETAIL.TYPE' | translate}}</span
    >:
    <span *ngIf="application.type === 'INITIAL'">
      <mat-icon class="align-text-top">arrow_right_alt</mat-icon>
      Initial
    </span>
    <span *ngIf="application.type === 'EXTENSION'">
      <mat-icon class="align-text-top">restore</mat-icon>
      Extension
    </span>
    <span *ngIf="application.type === 'EMBEDDED'">
      <mat-icon class="align-text-top">nat</mat-icon>
      Embedded
    </span>
  </div>

  <div *ngIf="this.application.state === 'REJECTED'" class="card p-3 mt-2">
    <mat-card-title
      ><i class="material-icons red">clear</i>
      {{'VO_DETAIL.APPLICATION.APPLICATION_DETAIL.REJECTED_BY' | translate}}:
      {{getModifiedAtName(application.modifiedBy)}}</mat-card-title
    >
    <div>
      <span
        class="font-weight-bold"
        >{{'VO_DETAIL.APPLICATION.APPLICATION_DETAIL.DATE' | translate}}</span
      >: {{this.application.modifiedAt | date:'d.M.y H:mm:ss'}}
    </div>
  </div>

  <div *ngIf="this.application.state === 'APPROVED'" class="card p-3 mt-2">
    <mat-card-title
      ><i class="material-icons green">done</i>
      {{'VO_DETAIL.APPLICATION.APPLICATION_DETAIL.APPROVED_BY' | translate}}:
      {{getModifiedAtName(application.modifiedBy)}}</mat-card-title
    >
    <div>
      <span
        class="font-weight-bold"
        >{{'VO_DETAIL.APPLICATION.APPLICATION_DETAIL.DATE' | translate}}</span
      >: {{this.application.modifiedAt | date:'d.M.y H:mm:ss'}}
    </div>
  </div>

  <div class="card p-4 mt-2">
    <mat-card-title
      ><i class="material-icons">redo</i>
      {{'VO_DETAIL.APPLICATION.APPLICATION_DETAIL.SUBMITTED_BY' | translate}}:
      {{application.user === null ? submittedBy() : application.user | userFullName}}</mat-card-title
    >

    <div *ngIf="userMail">
      <span
        class="font-weight-bold"
        >{{'VO_DETAIL.APPLICATION.APPLICATION_DETAIL.MAIL' | translate}}</span
      >: {{this.userMail}}
    </div>
    <div>
      <span
        class="font-weight-bold"
        >{{'VO_DETAIL.APPLICATION.APPLICATION_DETAIL.EXT_SRC' | translate}}</span
      >: {{this.application.extSourceName}}
    </div>
    <div>
      <span
        class="font-weight-bold"
        >{{'VO_DETAIL.APPLICATION.APPLICATION_DETAIL.LOA' | translate}}</span
      >: {{this.application.extSourceLoa}}
    </div>
    <div>
      <span
        class="font-weight-bold"
        >{{'VO_DETAIL.APPLICATION.APPLICATION_DETAIL.DATE' | translate}}</span
      >: {{this.application.createdAt | date:'d.M.y H:mm:ss'}}
    </div>

    <table *ngIf="userData.length !== 0" [dataSource]="dataSource" class="w-100" mat-table>
      <ng-container matColumnDef="label">
        <th *matHeaderCellDef mat-header-cell></th>
        <td *matCellDef="let userData" class="font-weight-bold" mat-cell>
          {{getLabel(userData.formItem)}}
        </td>
      </ng-container>
      <ng-container matColumnDef="value">
        <th *matHeaderCellDef mat-header-cell></th>
        <td *matCellDef="let userData" class="word-break-all" mat-cell>
          {{userData.value}}
          <button
            *ngIf="(application.state === 'NEW' || application.state === 'VERIFIED') &&
            userData.formItem.type !== 'EMBEDDED_GROUP_APPLICATION'"
            (click)="editApplicationData(userData)"
            aria-label="Edit Application data"
            mat-icon-button>
            <mat-icon>edit</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr *matHeaderRowDef="displayedColumns" class="h-50" mat-header-row></tr>
      <tr *matRowDef="let userData; columns: displayedColumns;" mat-row></tr>
    </table>
  </div>
</div>
