<h1 class="page-subtitle">{{'VO_DETAIL.RESOURCES.TAGS.TITLE' | translate}}</h1>
<perun-web-apps-refresh-button (refresh)="updateData()"></perun-web-apps-refresh-button>
<button
  *ngIf="createAuth"
  (click)="create()"
  class="mr-2 action-button"
  color="accent"
  mat-flat-button>
  {{'VO_DETAIL.RESOURCES.TAGS.CREATE_BUTTON' | translate}}
</button>

<button
  *ngIf="deleteAuth"
  (click)="deleteTag()"
  class="mr-2"
  color="warn"
  [disabled]="selection.selected.length === 0"
  mat-flat-button>
  {{'VO_DETAIL.RESOURCES.TAGS.DELETE_BUTTON' | translate}}
</button>
<perun-web-apps-immediate-filter
  (filter)="applyFilter($event)"
  [placeholder]="'VO_DETAIL.RESOURCES.TAGS.SEARCH'">
</perun-web-apps-immediate-filter>

<mat-spinner *ngIf="loading" class="ml-auto mr-auto"></mat-spinner>

<app-resources-tags-list
  *ngIf="!loading"
  [displayedColumns]="displayedColumns"
  [entity]="'vo'"
  [resourceTags]="resourceTag"
  [filterValue]="filterValue"
  [selection]="selection"
  [tableId]="tableId"></app-resources-tags-list>
