<div>
  <h1 class="page-subtitle">{{'MENU_ITEMS.FACILITY.ALLOWED_GROUPS' | translate}}</h1>
  <perun-web-apps-refresh-button (refresh)="refreshTable()"></perun-web-apps-refresh-button>
  <mat-form-field class="mr-2">
    <mat-label>{{'FACILITY_DETAIL.ALLOWED_GROUPS.SHOW_VOS_GROUPS' | translate}}</mat-label>
    <mat-select (selectionChange)="showGroup()" [(value)]="selected">
      <mat-option value="all">{{'FACILITY_DETAIL.ALLOWED_GROUPS.ALL' | translate}}</mat-option>
      <mat-option *ngFor="let vo of vos" [value]="vo.id">
        {{vo.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <perun-web-apps-immediate-filter
    (filter)="applyFilter($event)"
    [placeholder]="'FACILITY_DETAIL.ALLOWED_GROUPS.FILTER'">
  </perun-web-apps-immediate-filter>
  <mat-spinner *ngIf="loading" class="ml-auto mr-auto"></mat-spinner>
  <perun-web-apps-groups-list
    *ngIf="!loading"
    [displayedColumns]="['id', 'vo', 'name', 'description']"
    [groups]="groupsToShow"
    [disableMembers]="false"
    [filter]="filterValue"
    [groupsToDisableRouting]="groupsWithoutRouteAuth"
    [tableId]="tableId">
  </perun-web-apps-groups-list>
</div>
