<div [formGroup]="formGroup" class="display-flex">
  <app-login-for-namespace
    [formGroup]="formGroup"
    [filteredNamespaces]="filteredNamespace"
    (namespaceChanged)="onNamespaceChanged($event)"
    (parsedRulesChanged)="parsedRulesFunction($event)">
  </app-login-for-namespace>

  <mat-radio-group
    (ngModelChange)="passwordOptionChanged()"
    [matTooltipDisabled]="formGroup.get('namespaceCtrl').value !== 'Not selected'"
    class="display-flex mt-3"
    formControlName="generatePasswordCtrl"
    matTooltip="{{'DIALOGS.CREATE_SERVICE_MEMBER.PASSWORD_NOT_SUPPORTED' | translate}}"
    matTooltipPosition="left">
    <mat-radio-button
      [checked]="formGroup.get('generatePasswordCtrl').value && formGroup.get('generatePasswordCtrl').enabled"
      [value]="true">
      {{'DIALOGS.CREATE_SERVICE_MEMBER.PASSWORD_RANDOM' | translate}}
    </mat-radio-button>

    <mat-radio-button
      [checked]="!formGroup.get('generatePasswordCtrl').value && formGroup.get('generatePasswordCtrl').enabled"
      [value]="false">
      {{'DIALOGS.CREATE_SERVICE_MEMBER.ENTER_PASSWORD' | translate}}
    </mat-radio-button>
  </mat-radio-group>

  <div [class.input-disabled]="formGroup.get('generatePasswordCtrl').value" class="display-flex">
    <perun-web-apps-password-form
      [formGroup]="formGroup"
      [namespace]="selectedNamespace"
      [passwordRequired]="!formGroup.get('generatePasswordCtrl').value"
      [tooltipPwdDisabledForNamespace]="formGroup.get('generatePasswordCtrl').enabled">
    </perun-web-apps-password-form>
  </div>
</div>
