<h1 mat-dialog-title>{{'DIALOGS.NEW_VERSION.TITLE' | translate}}</h1>

<div class="user-theme">
  <div mat-dialog-content>
    <p>
      {{'DIALOGS.NEW_VERSION.DESCRIPTION' | translate}}
    </p>
  </div>

  <div mat-dialog-actions>
    <button (click)="onClose()" class="ml-auto" mat-flat-button>
      {{'DIALOGS.NEW_VERSION.LATER' | translate}}
    </button>
    <button (click)="onReload()" class="ml-2" color="accent" mat-flat-button>
      {{'DIALOGS.NEW_VERSION.RELOAD' | translate}}
    </button>
  </div>
</div>
