<ng-template #spinner>
  <perun-web-apps-loading-dialog></perun-web-apps-loading-dialog>
</ng-template>
<div class="{{theme}} position-relative">
  <div *perunWebAppsLoader="loading; indicator: spinner">
    <div mat-dialog-title>
      <h1 mat-dialog-title>{{'DIALOGS.ADD_ROLE.TITLE' | translate}}</h1>
    </div>
    <div mat-dialog-content class="dialog-container">
      <perun-web-apps-role-search-select [roles]="rules" (roleSelected)="resetSelection($event)">
      </perun-web-apps-role-search-select>
      <perun-web-apps-immediate-filter
        *ngIf="selectedRule?.primaryObject"
        (filter)="filterValue = $event"
        [placeholder]="'SHARED_LIB.PERUN.COMPONENTS.UNIVERSAL_OBJECTS_LIST.FILTER'"
        class="font-size-1rem"></perun-web-apps-immediate-filter>
      <perun-web-apps-vos-list
        [filterValue]="filterValue"
        *ngIf="selectedRule?.primaryObject === 'Vo'"
        [vos]="vos | manageableEntities: selectedRule | unassignedRole: roles : selectedRule"
        [displayedColumns]="['checkbox', 'id', 'shortName', 'name']"
        [selection]="selected"
        [disableRouting]="true">
      </perun-web-apps-vos-list>
      <perun-web-apps-groups-list
        *ngIf="selectedRule?.primaryObject === 'Group'"
        [groups]="groups | manageableEntities: selectedRule | unassignedRole: roles : selectedRule"
        [displayedColumns]="['select', 'id', 'vo', 'name', 'description']"
        [selection]="selected"
        [filter]="filterValue"
        [disableRouting]="true">
      </perun-web-apps-groups-list>
      <perun-web-apps-facilities-list
        [filterValue]="filterValue"
        *ngIf="selectedRule?.primaryObject === 'Facility'"
        [facilities]="facilities | extractFacility | manageableEntities: selectedRule | unassignedRole: roles : selectedRule | toEnrichedFacility"
        [displayedColumns]="['select', 'id', 'name', 'description']"
        [selection]="selectedFacilities"
        [disableRouting]="true">
      </perun-web-apps-facilities-list>
      <perun-web-apps-resources-list
        [filterValue]="filterValue"
        *ngIf="selectedRule?.primaryObject === 'Resource'"
        [resources]="resources | manageableEntities: selectedRule | unassignedRole: roles : selectedRule"
        [displayedColumns]="['select', 'id', 'name']"
        [selection]="selected"
        [disableRouting]="true">
      </perun-web-apps-resources-list>
    </div>
    <div mat-dialog-actions>
      <button (click)="cancel()" class="ms-auto" mat-flat-button>
        {{'DIALOGS.ADD_ROLE.CANCEL' | translate}}
      </button>
      <button
        (click)="addRole()"
        [disabled]="selectedRule === null || ((selectedRule.primaryObject === 'Facility' && selectedFacilities.isEmpty())
        || (selectedRule.primaryObject && selectedRule.primaryObject !== 'Facility' && selected.isEmpty()))"
        class="ms-2"
        color="accent"
        mat-flat-button>
        {{'DIALOGS.ADD_ROLE.ADD' | translate}}
      </button>
    </div>
  </div>
</div>
