<ng-template #spinner>
  <perun-web-apps-loading-dialog></perun-web-apps-loading-dialog>
</ng-template>
<div class="{{theme}} position-relative">
  <div *perunWebAppsLoader="loading; indicator: spinner">
    <h1 mat-dialog-title>{{"DIALOGS.CREATE_VO.TITLE" | translate}}</h1>
    <div class="dialog-container" mat-dialog-content>
      <mat-form-field>
        <mat-label>{{'DIALOGS.CREATE_VO.FULL_NAME' | translate}}</mat-label>
        <input matInput [formControl]="fullNameCtrl" data-cy="vo-name-input" required />
        <mat-error>
          {{'DIALOGS.CREATE_VO.FILL_FULL_NAME' | translate}}
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>{{'DIALOGS.CREATE_VO.SHORT_NAME' | translate}}</mat-label>
        <input matInput [formControl]="shortNameCtrl" data-cy="vo-shortname-input" required />
        <mat-error>
          {{'DIALOGS.CREATE_VO.FILL_SHORT_NAME' | translate}}
        </mat-error>
      </mat-form-field>
    </div>
    <div mat-dialog-actions>
      <button (click)="onCancel()" class="ms-auto" mat-stroked-button>
        {{'DIALOGS.CREATE_VO.CANCEL' | translate}}
      </button>
      <div
        matTooltip="{{'DIALOGS.CREATE_VO.TOOLTIP' | translate}}"
        [matTooltipDisabled]="shortNameCtrl.valid && fullNameCtrl.valid"
        matTooltipPosition="above">
        <button
          (click)="onSubmit()"
          class="ms-2"
          color="accent"
          data-cy="create-vo-button"
          [disabled]="shortNameCtrl.invalid || fullNameCtrl.invalid"
          mat-flat-button>
          {{'DIALOGS.CREATE_VO.CREATE' | translate}}
        </button>
      </div>
    </div>
  </div>
</div>
