<div *ngIf="user !== undefined" class="container-fluid pl-xl-5 pr-xl-5 user-theme">
  <perun-web-apps-back-button> </perun-web-apps-back-button>
  <mat-spinner *ngIf="loading" class="mr-auto ml-auto"></mat-spinner>
  <div class="d-flex page-title-headtitle">
    <mat-icon
      matTooltip="{{'MENU_ITEMS.USER.ENTITY' | translate}}"
      [ngStyle]="{'color':'black'}"
      class="perun-icon perun-icon-detail"
      svgIcon="perun-service-identity">
    </mat-icon>
    <div class="page-title-block">
      <div class="page-title-headline d-flex align-items-center">
        <a
          [routerLink]="['/myProfile/service-identities', user.id]"
          class="user-link"
          queryParamsHandling="merge">
          {{user | userFullName}}
        </a>
        <span class="text-muted"> &nbsp;#{{user.id}} </span>
        <button (click)="editUser()" *ngIf="authResolver.isPerunAdmin()" mat-icon-button>
          <mat-icon>edit</mat-icon>
        </button>
      </div>
      <div>{{'ADMIN_USER.UUID' | translate}}: {{user.uuid}}</div>
      <span class="mt-1 entity-info">
        {{'MENU_ITEMS.USER.ENTITY' | translate}}, {{'MENU_ITEMS.USER.USER_TYPE' | translate}}:
        {{getUserType()}}
      </span>
    </div>
  </div>
  <app-animated-router-outlet></app-animated-router-outlet>
</div>
