<div class="{{theme}}">
  <div mat-dialog-title>
    <h1 class="page-subtitle">{{'DIALOGS.ADD_EXT_SOURCES.TITLE' | translate}}</h1>
    <perun-web-apps-immediate-filter
      (filter)="applyFilter($event)"
      [placeholder]="'DIALOGS.ADD_EXT_SOURCES.FILTER'"
      class="font-size-1rem"></perun-web-apps-immediate-filter>
  </div>
  <mat-spinner *ngIf="loading" class="mr-auto ml-auto"></mat-spinner>
  <div *ngIf="!loading" mat-dialog-content>
    <app-ext-sources-list
      [selection]="selection"
      [extSources]="extSources"
      [filterValue]="filterValue"
      [tableId]="tableId">
    </app-ext-sources-list>
  </div>

  <div mat-dialog-actions>
    <button (click)="onCancel()" class="ml-auto" mat-flat-button>
      {{'DIALOGS.ADD_EXT_SOURCES.CANCEL' | translate}}
    </button>

    <button
      (click)="onAdd()"
      class="ml-2"
      color="accent"
      [disabled]="selection.selected.length === 0 || loading"
      mat-flat-button>
      {{'DIALOGS.ADD_EXT_SOURCES.ADD' | translate}}
    </button>
  </div>
</div>
