<div class="{{theme}}">
  <div mat-dialog-title>
    <h1 class="page-subtitle">{{'DIALOGS.ADD_EXT_SOURCES.TITLE' | translate}}</h1>
    <perun-web-apps-debounce-filter
      (filter)="applyFilter($event)"
      [placeholder]="'DIALOGS.ADD_EXT_SOURCES.FILTER'"
      class="font-size-1rem"></perun-web-apps-debounce-filter>
  </div>
  <div mat-dialog-content>
    <ng-template #spinner>
      <perun-web-apps-loading-table></perun-web-apps-loading-table>
    </ng-template>
    <div class="position-relative">
      <app-ext-sources-list
        *perunWebAppsLoader="loading; indicator: spinner"
        [selection]="selection"
        [extSources]="extSources"
        [filterValue]="filterValue"
        [tableId]="tableId">
      </app-ext-sources-list>
    </div>
  </div>

  <div mat-dialog-actions>
    <button (click)="onCancel()" class="ms-auto" mat-stroked-button>
      {{'DIALOGS.ADD_EXT_SOURCES.CANCEL' | translate}}
    </button>

    <button
      (click)="onAdd()"
      class="ms-2"
      color="accent"
      [disabled]="selection.selected.length === 0 || loading"
      mat-flat-button>
      {{'DIALOGS.ADD_EXT_SOURCES.ADD' | translate}}
    </button>
  </div>
</div>
